workflow/carga en base de datos.json
{
  "updatedAt": "2026-02-20T03:59:33.484Z",
  "createdAt": "2026-02-18T00:41:13.134Z",
  "id": "FVdfBxBWCqSQYOAVJ31Kb",
  "name": "carga en base de datos",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        -144
      ],
      "id": "4f84fd26-a0e7-4e0c-9d60-448fec2b7be2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// --- CONFIGURACIÓN ---\nconst monthMap = {\n    '01': 'Jan', '02': 'Feb', '03': 'Mar', '04': 'Apr', '05': 'May', '06': 'Jun',\n    '07': 'Jul', '08': 'Aug', '09': 'Sep', '10': 'Oct', '11': 'Nov', '12': 'Dec'\n};\n\n// --- 1. LECTURA Y PARSEO (BINARY -> JSON) ---\nconst referenceMap = new Map(); \nlet transactions = [];          \n\nfor (let i = 0; i < items.length; i++) {\n    const item = items[i];\n    \n    if (item.binary && item.binary['70k']) {\n        const buffer = await this.helpers.getBinaryDataBuffer(i, '70k');\n        transactions = parseCSV(buffer.toString('utf8'), ','); \n    }\n    \n    if (item.binary && item.binary['4k']) {\n        const buffer = await this.helpers.getBinaryDataBuffer(i, '4k');\n        const rows = parseCSV(buffer.toString('utf8'), ';');\n        \n        for (const row of rows) {\n            const key = `${row.PRDID}_${row.CUSTID}`;\n            referenceMap.set(key, row);\n        }\n    }\n}\n\n// --- 2. CRUCE, RENOMBRADO Y AGREGACIÓN ---\nconst aggregatedItems = {}; // <-- AQUÍ GUARDAMOS LOS ÚNICOS\nconst dateCache = {}; \n\nfor (const txn of transactions) {\n    const keyRef = `${txn.PRDID}_${txn.CUSTID}`;\n    const refData = referenceMap.get(keyRef);\n    \n    if (!refData) continue; \n\n    let foreActValue = null;\n\n    // Lógica de Fecha Optimizada\n    if (txn.PERIODID3) {\n        let dynamicColumn = dateCache[txn.PERIODID3];\n        \n        if (dynamicColumn === undefined) {\n            const parts = txn.PERIODID3.split('-'); \n            if (parts.length >= 2) {\n                const yearShort = parts[0].slice(2);\n                const monthName = monthMap[parts[1]];\n                dynamicColumn = monthName ? `${yearShort}-${monthName}` : null;\n            } else {\n                dynamicColumn = null;\n            }\n            dateCache[txn.PERIODID3] = dynamicColumn; \n        }\n\n        if (dynamicColumn) {\n            const val = refData[dynamicColumn];\n            if (val !== undefined && val !== null && val !== \"\") {\n                foreActValue = val;\n            }\n        }\n    }\n\n    // --- FILTRO MAESTRO Y AGREGACIÓN DE DUPLICADOS ---\n    if (foreActValue !== null) {\n        // Llave única para la base de datos: Cliente + Producto + Fecha\n        const aggKey = `${txn.CUSTID}_${txn.PRDID}_${txn.PERIODID3}`;\n\n        if (!aggregatedItems[aggKey]) {\n            // Si es la primera vez que vemos este par en este mes, lo guardamos\n            aggregatedItems[aggKey] = { ...txn };\n            aggregatedItems[aggKey]['CUSTREGION'] = refData['CUSTREGION'];\n            aggregatedItems[aggKey]['CUSTGROUP'] = refData['CUSTGROUP'];\n            aggregatedItems[aggKey]['foreAct'] = parseFloat(foreActValue.toString().replace(',', '.') || 0); \n            \n            // Aseguramos que los campos a sumar sean números\n            aggregatedItems[aggKey]['ZSELLOUTCLIENTE'] = parseFloat((txn['ZSELLOUTCLIENTE'] || \"0\").toString().replace(',', '.'));\n            aggregatedItems[aggKey]['ADJUSTEDACTUALSQTY'] = parseFloat((txn['ADJUSTEDACTUALSQTY'] || \"0\").toString().replace(',', '.'));\n            aggregatedItems[aggKey]['PINDEX'] = parseFloat((txn['PINDEX'] || \"1.0\").toString().replace(',', '.'));\n            aggregatedItems[aggKey]._count = 1;\n        } else {\n            // Si ya existe (Factura duplicada), sumamos y acumulamos\n            aggregatedItems[aggKey]['ZSELLOUTCLIENTE'] += parseFloat((txn['ZSELLOUTCLIENTE'] || \"0\").toString().replace(',', '.'));\n            aggregatedItems[aggKey]['ADJUSTEDACTUALSQTY'] += parseFloat((txn['ADJUSTEDACTUALSQTY'] || \"0\").toString().replace(',', '.'));\n            aggregatedItems[aggKey]['PINDEX'] += parseFloat((txn['PINDEX'] || \"1.0\").toString().replace(',', '.'));\n            aggregatedItems[aggKey]._count += 1;\n        }\n    }\n}\n\n// --- 3. CÁLCULO DE PROMEDIOS Y FORMATO FINAL ---\nconst finalResults = Object.values(aggregatedItems).map(r => {\n    if (r._count > 1) {\n        r.PINDEX = r.PINDEX / r._count; // Promediamos el PINDEX\n    }\n    delete r._count; // Limpiamos la variable temporal\n    return { json: r };\n});\n\nreturn finalResults;\n\n// --- FUNCIONES DE PARSEO (Sin cambios) ---\nfunction parseCSV(csvText, separator) {\n    const lines = csvText.split('\\n');\n    if (lines.length < 2) return [];\n\n    const headers = parseCSVLine(lines[0], separator).map(h => h.trim().replace(/^[\"']|[\"']$/g, ''));\n    const parsedData = [];\n\n    for (let i = 1; i < lines.length; i++) {\n        const line = lines[i].trim();\n        if (!line) continue;\n        const values = parseCSVLine(line, separator);\n        const obj = {};\n        headers.forEach((header, index) => {\n            let val = values[index] ? values[index].trim() : null;\n            if (val && val.includes(',') && separator === ';') val = val.replace(',', '.'); \n            obj[header] = val;\n        });\n        parsedData.push(obj);\n    }\n    return parsedData;\n}\n\nfunction parseCSVLine(text, separator) {\n    const escapedSep = separator === '.' ? '\\\\.' : separator;\n    const re_value = new RegExp(`(?!\\\\s*$)\\\\s*(?:'([^']*)'|\"([^\"]*)\"|([^${escapedSep}'\"\\\\s\\\\\\\\]*(?:\\\\s+[^${escapedSep}'\"\\\\s\\\\\\\\]+)*))\\\\s*(?:${escapedSep}|$)`, 'g');\n    const a = [];\n    text.replace(re_value, function(m0, m1, m2, m3) {\n        if (m1 !== undefined) a.push(m1.replace(/\\\\'/g, \"'\"));\n        else if (m2 !== undefined) a.push(m2.replace(/\\\\\"/g, '\"'));\n        else if (m3 !== undefined) a.push(m3);\n        return '';\n    });\n    if (new RegExp(`${escapedSep}\\\\s*$`).test(text)) a.push('');\n    return a;\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -176
      ],
      "id": "fde03bf7-17a1-444f-acb7-aff9dac8d13f",
      "name": "leer documentos"
    },
    {
      "parameters": {
        "batchSize": 5000,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        576,
        -176
      ],
      "id": "70fe310c-abae-4cd8-a491-68037389514f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.dataset }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "70k"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -96,
        -272
      ],
      "id": "59f2295f-cc9c-4c41-b94a-5cf5bb6b16c9",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YlliA6g1EcMRYRSj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.propuesta }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "4k"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -96,
        -80
      ],
      "id": "998df2cf-8a13-45b1-9163-5e24b44da715",
      "name": "Download file4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YlliA6g1EcMRYRSj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        128,
        -176
      ],
      "id": "95e0d409-b1b5-4378-a004-9884d5cc8fa5",
      "name": "Merge3"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "gbDmDcfLqLz1rdHQ",
          "mode": "list",
          "cachedResultName": "archivos",
          "cachedResultUrl": "/projects/9axjLTcJCvAcwxP1/datatables/gbDmDcfLqLz1rdHQ"
        },
        "matchType": "allConditions",
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -544,
        -176
      ],
      "id": "ce860b96-6119-44c0-8c76-eac64def6f99",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos todas las filas de la tabla\nconst filas = $input.all();\n\n// 2. Verificamos que haya al menos 2 registros para evitar errores\nif (filas.length < 2) {\n  throw new Error(\"No hay suficientes archivos en la base de datos.\");\n}\n\n// 3. Ordenamos las filas de mayor a menor basándonos en la columna 'id'\nfilas.sort((a, b) => b.json.id - a.json.id);\n\n// 4. Devolvemos 1 sola fila con dos \"columnas\" independientes \n// usando la propiedad 'archivo' que vi en tu captura\nreturn [\n  {\n    json: {\n      dataset: filas[1].json.archivo,\n      propuesta: filas[0].json.archivo\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -176
      ],
      "id": "16428571-4b15-49c9-b997-a450d93f6264",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "molinos_consolidated_data",
          "mode": "list",
          "cachedResultName": "molinos_consolidated_data"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pindex": "={{ $json.PINDEX }}",
            "zselloutcliente": "={{ $json.ZSELLOUTCLIENTE }}",
            "custid": "={{ $json.CUSTID }}",
            "prdid": "={{ $json.PRDID }}",
            "custregion": "={{ $json.CUSTREGION }}",
            "custgroup": "={{ $json.CUSTGROUP }}",
            "foreact": "={{ $json.foreAct }}",
            "sov": "={{ $json.SOV }}",
            "som": "={{ $json.SOM }}",
            "punitario": "={{ $json.PUNITARIO }}",
            "year": "={{ $json.YEAR }}",
            "month": "={{ $json.MONTH }}",
            "adjustedactualsqty": "={{ $json.ADJUSTEDACTUALSQTY }}",
            "periodid3": "={{ $json.PERIODID3 }}",
            "season": "={{ $json.SEASON }}"
          },
          "matchingColumns": [
            "periodid3",
            "prdid",
            "custid"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "periodid3",
              "displayName": "periodid3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "prdid",
              "displayName": "prdid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "custid",
              "displayName": "custid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "adjustedactualsqty",
              "displayName": "adjustedactualsqty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "month",
              "displayName": "month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "year",
              "displayName": "year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "season",
              "displayName": "season",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "punitario",
              "displayName": "punitario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "pindex",
              "displayName": "pindex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "som",
              "displayName": "som",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "sov",
              "displayName": "sov",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "zselloutcliente",
              "displayName": "zselloutcliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "custregion",
              "displayName": "custregion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "custgroup",
              "displayName": "custgroup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "foreact",
              "displayName": "foreact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "createdat",
              "displayName": "createdat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updatedat",
              "displayName": "updatedat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        -176
      ],
      "id": "8fae6819-be75-4f17-9747-73edf42bef44",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "ezJ6rP6dRWwFUGI9",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "leer documentos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file4": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download file4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "leer documentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "864caa40-1cff-4cde-b8ff-4036080c6bfb",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-18T00:41:13.134Z",
      "createdAt": "2026-02-18T00:41:13.134Z",
      "role": "workflow:owner",
      "workflowId": "FVdfBxBWCqSQYOAVJ31Kb",
      "projectId": "9axjLTcJCvAcwxP1"
    }
  ],
  "activeVersion": null,
  "tags": []
}