workflow/correcto completo.json
{
  "updatedAt": "2026-02-20T23:06:06.228Z",
  "createdAt": "2026-02-15T00:31:17.331Z",
  "id": "NE79qj90G17n8JtH",
  "name": "correcto completo",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2640,
        1408
      ],
      "id": "551dd98e-40d9-4c8e-b410-74c16a705f81",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "CUSTID, PRDID",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3760,
        1328
      ],
      "id": "06f44d7a-b498-44ba-8e45-5659db047e9a",
      "name": "Merge"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3088,
        1328
      ],
      "id": "2cb914e0-befa-42de-aa57-8d1363d799f5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "547848bf-5f11-4a16-888a-cb5f3c04137f",
              "name": "target_period",
              "value": "={{ $json.PERIODID3 }}",
              "type": "string"
            },
            {
              "id": "ea2200fe-169e-4a9d-96b1-74e2b99d5ada",
              "name": "forecast_offset",
              "value": 2,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3312,
        1328
      ],
      "id": "533c92ba-a1b3-4445-a036-29fc9ba19955",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "iniciar-modelo-corrector",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization, Accept"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://localhost:5173"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2640,
        1216
      ],
      "id": "038e28f5-241c-410d-ac95-6facddd905fe",
      "name": "iniciar-modelo-corrector",
      "webhookId": "559ce6e4-a48b-46d8-8646-ec7dd28020a8"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3312,
        1136
      ],
      "id": "f20781d7-26fd-44f0-b65e-aad085348b08",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT TO_CHAR(periodid3, 'YYYY-MM-DD') AS \"PERIODID3\"\nFROM molinos_consolidated_data\nWHERE periodid3 IS NOT NULL\nORDER BY \"PERIODID3\" ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2864,
        1328
      ],
      "id": "ae181138-0ec2-4826-9f14-146f1a698235",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "ezJ6rP6dRWwFUGI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    -- 1. IDENTIFICADORES Y FECHA DE LOS DATOS HISTÓRICOS (dataFilter)\n    TO_CHAR(futuro.periodid3 - ($2 || ' month')::INTERVAL, 'YYYY-MM-DD') AS \"PERIODID3\",\n    futuro.prdid AS \"PRDID\",\n    futuro.custid AS \"CUSTID\",\n    \n    -- 2. MÉTRICAS HISTÓRICAS (Vienen del mes pasado. Si no hay, ponemos 0)\n    COALESCE(pasado.adjustedactualsqty, 0) AS \"ADJUSTEDACTUALSQTY\",\n    EXTRACT(MONTH FROM (futuro.periodid3 - ($2 || ' month')::INTERVAL)) AS \"MONTH\",\n    EXTRACT(YEAR FROM (futuro.periodid3 - ($2 || ' month')::INTERVAL)) AS \"YEAR\",\n    COALESCE(pasado.season, futuro.season) AS \"SEASON\",\n    COALESCE(pasado.punitario, 0) AS \"PUNITARIO\",\n    COALESCE(pasado.pindex, 0) AS \"PINDEX\",\n    COALESCE(pasado.som, 0) AS \"SOM\",\n    COALESCE(pasado.sov, 0) AS \"SOV\",\n    COALESCE(pasado.zselloutcliente, 0) AS \"ZSELLOUTCLIENTE\",\n    \n    -- 3. EL FORECAST (Viene del mes objetivo)\n    COALESCE(futuro.foreact, 0) AS \"foreAct\",\n    \n    -- 4. RENOMBRES ESPECÍFICOS PARA TU FLUJO\n    COALESCE(pasado.adjustedactualsqty, 0) AS \"LAST_MONTH_SALE\",\n    \n    -- --- NUEVO: CÁLCULO DEL ROLLING 3 MESES ---\n    COALESCE((\n        SELECT AVG(sub.adjustedactualsqty)\n        FROM molinos_consolidated_data sub\n        WHERE sub.custid = futuro.custid \n          AND sub.prdid = futuro.prdid\n          AND sub.periodid3 < futuro.periodid3 -- Meses anteriores al forecast objetivo\n          AND sub.periodid3 >= (futuro.periodid3 - INTERVAL '3 months')\n    ), 0) AS \"rolling_3m_sale\",\n    -- -----------------------------------------\n\n    futuro.custregion AS \"CUSTREGION\",\n    futuro.custgroup AS \"CUSTGROUP\",\n    \n    -- 5. METADATA GENERADA AUTOMÁTICAMENTE\n    TO_CHAR(futuro.periodid3, 'YYYY-MM-DD') AS \"_meta_target_period\",\n    TO_CHAR(futuro.periodid3 - ($2 || ' month')::INTERVAL, 'YYYY-MM-DD') AS \"_meta_data_period\",\n    TO_CHAR(futuro.periodid3, 'YY-Mon') AS \"_meta_forecast_col\"\n\nFROM \n    molinos_consolidated_data futuro\n\n-- Hacemos un LEFT JOIN para buscar cómo estaba este mismo cliente el mes anterior (o según el offset)\nLEFT JOIN \n    molinos_consolidated_data pasado \n    ON futuro.custid = pasado.custid \n    AND futuro.prdid = pasado.prdid\n    AND pasado.periodid3 = (futuro.periodid3 - ($2 || ' month')::INTERVAL)\n\nWHERE \n    futuro.periodid3 = $1::DATE;",
        "options": {
          "queryReplacement": "={{ $json.target_period }}, {{ $json.forecast_offset }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3536,
        1424
      ],
      "id": "46538f4e-01b0-4233-8aa1-2b98484b0611",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "ezJ6rP6dRWwFUGI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "molinos_forecast_corregido",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FINAL_SCORE": "={{ $json.FINAL_SCORE }}",
            "IMPACT_SCORE": "={{ $json.IMPACT_SCORE }}",
            "SIGNAL_SCORE": "={{ $json.SIGNAL_SCORE }}",
            "BIAS": "={{ $json.BIAS }}",
            "WAPE": "={{ $json.WAPE }}",
            "TOTAL_SALES": "={{ $json.TOTAL_SALES }}",
            "ADJUSTEDACTUALSQTY": "={{ $json.ADJUSTEDACTUALSQTY }}",
            "LAST_MONTH_SALE": "={{ $json.LAST_MONTH_SALE }}",
            "PUNITARIO": "={{ $json.PUNITARIO }}",
            "PINDEX": "={{ $json.PINDEX }}",
            "SOM": "={{ $json.SOM }}",
            "SOV": "={{ $json.SOV }}",
            "ZSELLOUTCLIENTE": "={{ $json.ZSELLOUTCLIENTE }}",
            "foreAct": "={{ $json.foreAct }}",
            "MODEL_forecast_original": "={{ $json.foreAct }}",
            "MODEL_forecast_corrected": "={{ $json.MODEL_forecast_corrected }}",
            "MONTH": "={{ $json.MONTH }}",
            "YEAR": "={{ $json.YEAR }}",
            "CUSTID": "={{ $json.CUSTID }}",
            "PRDID": "={{ $json.PRDID }}",
            "_meta_target_period": "={{ $json._meta_target_period }}",
            "CUSTREGION": "={{ $json.CUSTREGION }}",
            "CUSTGROUP": "={{ $json.CUSTGROUP }}",
            "SEASON": "={{ $json.SEASON }}",
            "STATUS": "={{ $json.STATUS }}",
            "STRATEGY": "={{ $json.STRATEGY }}",
            "JUSTIFICATION": "={{ $json.JUSTIFICATION }}",
            "agent_explication": "={{ $json.agent_explication }}",
            "ERROR_SHARE": "={{ $json.ERROR_SHARE }}",
            "MODEL_delta_pct": "={{ $json.MODEL_delta_pct }}",
            "MODEL_drivers": "={{ $json.MODEL_drivers }}",
            "PERIODID3": "={{ $json.PERIODID3 }}",
            "_meta_data_period": "={{ $json._meta_data_period }}",
            "_meta_forecast_col": "={{ $json._meta_forecast_col }}"
          },
          "matchingColumns": [
            "CUSTID",
            "PRDID",
            "_meta_target_period"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CUSTID",
              "displayName": "CUSTID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PRDID",
              "displayName": "PRDID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CUSTREGION",
              "displayName": "CUSTREGION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "CUSTGROUP",
              "displayName": "CUSTGROUP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "SEASON",
              "displayName": "SEASON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "STRATEGY",
              "displayName": "STRATEGY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "JUSTIFICATION",
              "displayName": "JUSTIFICATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "agent_explication",
              "displayName": "agent_explication",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "FINAL_SCORE",
              "displayName": "FINAL_SCORE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "IMPACT_SCORE",
              "displayName": "IMPACT_SCORE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "SIGNAL_SCORE",
              "displayName": "SIGNAL_SCORE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "BIAS",
              "displayName": "BIAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "WAPE",
              "displayName": "WAPE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "ERROR_SHARE",
              "displayName": "ERROR_SHARE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "MODEL_delta_pct",
              "displayName": "MODEL_delta_pct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "TOTAL_SALES",
              "displayName": "TOTAL_SALES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "ADJUSTEDACTUALSQTY",
              "displayName": "ADJUSTEDACTUALSQTY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "LAST_MONTH_SALE",
              "displayName": "LAST_MONTH_SALE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "PUNITARIO",
              "displayName": "PUNITARIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "PINDEX",
              "displayName": "PINDEX",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "SOM",
              "displayName": "SOM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "SOV",
              "displayName": "SOV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "ZSELLOUTCLIENTE",
              "displayName": "ZSELLOUTCLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "foreAct",
              "displayName": "foreAct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "MODEL_forecast_original",
              "displayName": "MODEL_forecast_original",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "MODEL_forecast_corrected",
              "displayName": "MODEL_forecast_corrected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "MODEL_drivers",
              "displayName": "MODEL_drivers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "PERIODID3",
              "displayName": "PERIODID3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "MONTH",
              "displayName": "MONTH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "YEAR",
              "displayName": "YEAR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "_meta_target_period",
              "displayName": "_meta_target_period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "_meta_data_period",
              "displayName": "_meta_data_period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "_meta_forecast_col",
              "displayName": "_meta_forecast_col",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updatedAt",
              "displayName": "updatedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4432,
        1408
      ],
      "id": "6b3b482f-1542-4a7c-9ea8-716732ef4e7d",
      "name": "Insert or update rows in a table1",
      "credentials": {
        "postgres": {
          "id": "ezJ6rP6dRWwFUGI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "molinos_segmentacion",
          "mode": "name"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3536,
        1232
      ],
      "id": "c1373fc9-e36f-4f22-bfa8-2929f21b5daf",
      "name": "Select rows from a table",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "ezJ6rP6dRWwFUGI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "CUSTID, PRDID, _meta_data_period",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4208,
        1328
      ],
      "id": "4ee2eb18-7ee8-4bfc-8a51-cd30476407c8",
      "name": "Merge2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8000/predict",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"PRDID\": \"{{ $json.PRDID }}\",\n    \"CUSTID\": \"{{ $json.CUSTID }}\",\n    \"foreAct\": {{ $json.foreAct.toNumber() }},\n    \"PINDEX\": {{ $json.PINDEX.toNumber() }},\n    \"ZSELLOUTCLIENTE\": {{ $json.ZSELLOUTCLIENTE.toNumber() }},\n    \"LAST_MONTH_SALE\": {{ $json.LAST_MONTH_SALE.toNumber() }},\n    \"rolling_3m_sale\": {{ $json.rolling_3m_sale.toNumber() }},\n    \"MONTH\": {{ $json.MONTH.toNumber() }},\n    \"CUSTREGION\": \"{{ $json.CUSTREGION }}\",\n    \"STATUS\": \"{{ $json.STATUS }}\",\n    \"STRATEGY\": \"{{ $json.STRATEGY }}\",\n    \"FINAL_SCORE\": {{ $json.FINAL_SCORE }},\n    \"IMPACT_SCORE\": {{ $json.IMPACT_SCORE }},\n    \"_meta_data_period\": \"{{ $json._meta_data_period }}\"\n}\n] ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3984,
        1424
      ],
      "id": "7da5bcdb-6b1b-4660-9c0a-c0bbc749ab64",
      "name": "HTTP Request1"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iniciar-modelo-corrector": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Insert or update rows in a table1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4d733b1a-fbcc-4769-a5ae-760cd2283f10",
  "activeVersionId": "4ea54f07-26c8-433c-b049-016c87a1fe05",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-15T00:31:17.331Z",
      "createdAt": "2026-02-15T00:31:17.331Z",
      "role": "workflow:owner",
      "workflowId": "NE79qj90G17n8JtH",
      "projectId": "9axjLTcJCvAcwxP1"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-20T22:51:05.887Z",
    "createdAt": "2026-02-20T22:51:03.414Z",
    "versionId": "4ea54f07-26c8-433c-b049-016c87a1fe05",
    "workflowId": "NE79qj90G17n8JtH",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          2640,
          1400
        ],
        "id": "551dd98e-40d9-4c8e-b410-74c16a705f81",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "CUSTID, PRDID",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          3760,
          1328
        ],
        "id": "06f44d7a-b498-44ba-8e45-5659db047e9a",
        "name": "Merge"
      },
      {
        "parameters": {
          "batchSize": 5,
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          3088,
          1328
        ],
        "id": "2cb914e0-befa-42de-aa57-8d1363d799f5",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "547848bf-5f11-4a16-888a-cb5f3c04137f",
                "name": "target_period",
                "value": "={{ $json.PERIODID3 }}",
                "type": "string"
              },
              {
                "id": "ea2200fe-169e-4a9d-96b1-74e2b99d5ada",
                "name": "forecast_offset",
                "value": 1,
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3312,
          1328
        ],
        "id": "533c92ba-a1b3-4445-a036-29fc9ba19955",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "iniciar-modelo-corrector",
          "responseMode": "responseNode",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Headers",
                  "value": "Content-Type, Authorization, Accept"
                },
                {
                  "name": "Access-Control-Allow-Methods",
                  "value": "GET, POST, OPTIONS"
                },
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "http://localhost:5173"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          2640,
          1208
        ],
        "id": "038e28f5-241c-410d-ac95-6facddd905fe",
        "name": "iniciar-modelo-corrector",
        "webhookId": "559ce6e4-a48b-46d8-8646-ec7dd28020a8"
      },
      {
        "parameters": {
          "respondWith": "noData",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          3312,
          1136
        ],
        "id": "f20781d7-26fd-44f0-b65e-aad085348b08",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT DISTINCT TO_CHAR(periodid3, 'YYYY-MM-DD') AS \"PERIODID3\"\nFROM molinos_consolidated_data\nWHERE periodid3 IS NOT NULL\nORDER BY \"PERIODID3\" ASC;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          2864,
          1328
        ],
        "id": "ae181138-0ec2-4826-9f14-146f1a698235",
        "name": "Execute a SQL query",
        "credentials": {
          "postgres": {
            "id": "ezJ6rP6dRWwFUGI9",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    -- 1. IDENTIFICADORES Y FECHA DE LOS DATOS HISTÓRICOS (dataFilter)\n    TO_CHAR(futuro.periodid3 - ($2 || ' month')::INTERVAL, 'YYYY-MM-DD') AS \"PERIODID3\",\n    futuro.prdid AS \"PRDID\",\n    futuro.custid AS \"CUSTID\",\n    \n    -- 2. MÉTRICAS HISTÓRICAS (Vienen del mes pasado. Si no hay, ponemos 0)\n    COALESCE(pasado.adjustedactualsqty, 0) AS \"ADJUSTEDACTUALSQTY\",\n    EXTRACT(MONTH FROM (futuro.periodid3 - ($2 || ' month')::INTERVAL)) AS \"MONTH\",\n    EXTRACT(YEAR FROM (futuro.periodid3 - ($2 || ' month')::INTERVAL)) AS \"YEAR\",\n    COALESCE(pasado.season, futuro.season) AS \"SEASON\",\n    COALESCE(pasado.punitario, 0) AS \"PUNITARIO\",\n    COALESCE(pasado.pindex, 0) AS \"PINDEX\",\n    COALESCE(pasado.som, 0) AS \"SOM\",\n    COALESCE(pasado.sov, 0) AS \"SOV\",\n    COALESCE(pasado.zselloutcliente, 0) AS \"ZSELLOUTCLIENTE\",\n    \n    -- 3. EL FORECAST (Viene del mes objetivo)\n    COALESCE(futuro.foreact, 0) AS \"foreAct\",\n    \n    -- 4. RENOMBRES ESPECÍFICOS PARA TU FLUJO\n    COALESCE(pasado.adjustedactualsqty, 0) AS \"LAST_MONTH_SALE\",\n    \n    -- --- NUEVO: CÁLCULO DEL ROLLING 3 MESES ---\n    COALESCE((\n        SELECT AVG(sub.adjustedactualsqty)\n        FROM molinos_consolidated_data sub\n        WHERE sub.custid = futuro.custid \n          AND sub.prdid = futuro.prdid\n          AND sub.periodid3 < futuro.periodid3 -- Meses anteriores al forecast objetivo\n          AND sub.periodid3 >= (futuro.periodid3 - INTERVAL '3 months')\n    ), 0) AS \"rolling_3m_sale\",\n    -- -----------------------------------------\n\n    futuro.custregion AS \"CUSTREGION\",\n    futuro.custgroup AS \"CUSTGROUP\",\n    \n    -- 5. METADATA GENERADA AUTOMÁTICAMENTE\n    TO_CHAR(futuro.periodid3, 'YYYY-MM-DD') AS \"_meta_target_period\",\n    TO_CHAR(futuro.periodid3 - ($2 || ' month')::INTERVAL, 'YYYY-MM-DD') AS \"_meta_data_period\",\n    TO_CHAR(futuro.periodid3, 'YY-Mon') AS \"_meta_forecast_col\"\n\nFROM \n    molinos_consolidated_data futuro\n\n-- Hacemos un LEFT JOIN para buscar cómo estaba este mismo cliente el mes anterior (o según el offset)\nLEFT JOIN \n    molinos_consolidated_data pasado \n    ON futuro.custid = pasado.custid \n    AND futuro.prdid = pasado.prdid\n    AND pasado.periodid3 = (futuro.periodid3 - ($2 || ' month')::INTERVAL)\n\nWHERE \n    futuro.periodid3 = $1::DATE;",
          "options": {
            "queryReplacement": "={{ $json.target_period }}, {{ $json.forecast_offset }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          3536,
          1424
        ],
        "id": "46538f4e-01b0-4233-8aa1-2b98484b0611",
        "name": "Execute a SQL query1",
        "credentials": {
          "postgres": {
            "id": "ezJ6rP6dRWwFUGI9",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "molinos_forecast_corregido",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "FINAL_SCORE": "={{ $json.FINAL_SCORE }}",
              "IMPACT_SCORE": "={{ $json.IMPACT_SCORE }}",
              "SIGNAL_SCORE": "={{ $json.SIGNAL_SCORE }}",
              "BIAS": "={{ $json.BIAS }}",
              "WAPE": "={{ $json.WAPE }}",
              "TOTAL_SALES": "={{ $json.TOTAL_SALES }}",
              "ADJUSTEDACTUALSQTY": "={{ $json.ADJUSTEDACTUALSQTY }}",
              "LAST_MONTH_SALE": "={{ $json.LAST_MONTH_SALE }}",
              "PUNITARIO": "={{ $json.PUNITARIO }}",
              "PINDEX": "={{ $json.PINDEX }}",
              "SOM": "={{ $json.SOM }}",
              "SOV": "={{ $json.SOV }}",
              "ZSELLOUTCLIENTE": "={{ $json.ZSELLOUTCLIENTE }}",
              "foreAct": "={{ $json.foreAct }}",
              "MODEL_forecast_original": "={{ $json.foreAct }}",
              "MODEL_forecast_corrected": "={{ $json.MODEL_forecast_corrected }}",
              "MONTH": "={{ $json.MONTH }}",
              "YEAR": "={{ $json.YEAR }}",
              "CUSTID": "={{ $json.CUSTID }}",
              "PRDID": "={{ $json.PRDID }}",
              "_meta_target_period": "={{ $json._meta_target_period }}",
              "CUSTREGION": "={{ $json.CUSTREGION }}",
              "CUSTGROUP": "={{ $json.CUSTGROUP }}",
              "SEASON": "={{ $json.SEASON }}",
              "STATUS": "={{ $json.STATUS }}",
              "STRATEGY": "={{ $json.STRATEGY }}",
              "JUSTIFICATION": "={{ $json.JUSTIFICATION }}",
              "agent_explication": "={{ $json.agent_explication }}",
              "ERROR_SHARE": "={{ $json.ERROR_SHARE }}",
              "MODEL_delta_pct": "={{ $json.MODEL_delta_pct }}",
              "MODEL_drivers": "={{ $json.MODEL_drivers }}",
              "PERIODID3": "={{ $json.PERIODID3 }}",
              "_meta_data_period": "={{ $json._meta_data_period }}",
              "_meta_forecast_col": "={{ $json._meta_forecast_col }}"
            },
            "matchingColumns": [
              "CUSTID",
              "PRDID",
              "_meta_target_period"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "CUSTID",
                "displayName": "CUSTID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "PRDID",
                "displayName": "PRDID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CUSTREGION",
                "displayName": "CUSTREGION",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "CUSTGROUP",
                "displayName": "CUSTGROUP",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "SEASON",
                "displayName": "SEASON",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "STATUS",
                "displayName": "STATUS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "STRATEGY",
                "displayName": "STRATEGY",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "JUSTIFICATION",
                "displayName": "JUSTIFICATION",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "agent_explication",
                "displayName": "agent_explication",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "FINAL_SCORE",
                "displayName": "FINAL_SCORE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "IMPACT_SCORE",
                "displayName": "IMPACT_SCORE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "SIGNAL_SCORE",
                "displayName": "SIGNAL_SCORE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "BIAS",
                "displayName": "BIAS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "WAPE",
                "displayName": "WAPE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "ERROR_SHARE",
                "displayName": "ERROR_SHARE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "MODEL_delta_pct",
                "displayName": "MODEL_delta_pct",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "TOTAL_SALES",
                "displayName": "TOTAL_SALES",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "ADJUSTEDACTUALSQTY",
                "displayName": "ADJUSTEDACTUALSQTY",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "LAST_MONTH_SALE",
                "displayName": "LAST_MONTH_SALE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "PUNITARIO",
                "displayName": "PUNITARIO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "PINDEX",
                "displayName": "PINDEX",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "SOM",
                "displayName": "SOM",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "SOV",
                "displayName": "SOV",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "ZSELLOUTCLIENTE",
                "displayName": "ZSELLOUTCLIENTE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "foreAct",
                "displayName": "foreAct",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "MODEL_forecast_original",
                "displayName": "MODEL_forecast_original",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "MODEL_forecast_corrected",
                "displayName": "MODEL_forecast_corrected",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "MODEL_drivers",
                "displayName": "MODEL_drivers",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "PERIODID3",
                "displayName": "PERIODID3",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false
              },
              {
                "id": "MONTH",
                "displayName": "MONTH",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "YEAR",
                "displayName": "YEAR",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "_meta_target_period",
                "displayName": "_meta_target_period",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "_meta_data_period",
                "displayName": "_meta_data_period",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false
              },
              {
                "id": "_meta_forecast_col",
                "displayName": "_meta_forecast_col",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "createdAt",
                "displayName": "createdAt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false,
                "removed": true
              },
              {
                "id": "updatedAt",
                "displayName": "updatedAt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          4432,
          1400
        ],
        "id": "6b3b482f-1542-4a7c-9ea8-716732ef4e7d",
        "name": "Insert or update rows in a table1",
        "credentials": {
          "postgres": {
            "id": "ezJ6rP6dRWwFUGI9",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "molinos_segmentacion",
            "mode": "name"
          },
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          3536,
          1232
        ],
        "id": "c1373fc9-e36f-4f22-bfa8-2929f21b5daf",
        "name": "Select rows from a table",
        "executeOnce": true,
        "credentials": {
          "postgres": {
            "id": "ezJ6rP6dRWwFUGI9",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "CUSTID, PRDID, _meta_data_period",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          4208,
          1328
        ],
        "id": "4ee2eb18-7ee8-4bfc-8a51-cd30476407c8",
        "name": "Merge2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://172.17.0.1:8000/predict",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "=[\n  {\n    \"PRDID\": \"{{ $json.PRDID }}\",\n    \"CUSTID\": \"{{ $json.CUSTID }}\",\n    \"foreAct\": {{ $json.foreAct.toNumber() }},\n    \"PINDEX\": {{ $json.PINDEX.toNumber() }},\n    \"ZSELLOUTCLIENTE\": {{ $json.ZSELLOUTCLIENTE.toNumber() }},\n    \"LAST_MONTH_SALE\": {{ $json.LAST_MONTH_SALE.toNumber() }},\n    \"rolling_3m_sale\": {{ $json.rolling_3m_sale.toNumber() }},\n    \"MONTH\": {{ $json.MONTH.toNumber() }},\n    \"CUSTREGION\": \"{{ $json.CUSTREGION }}\",\n    \"STATUS\": \"{{ $json.STATUS }}\",\n    \"STRATEGY\": \"{{ $json.STRATEGY }}\",\n    \"FINAL_SCORE\": {{ $json.FINAL_SCORE }},\n    \"IMPACT_SCORE\": {{ $json.IMPACT_SCORE }},\n    \"_meta_data_period\": \"{{ $json._meta_data_period }}\"\n}\n] ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3984,
          1424
        ],
        "id": "7da5bcdb-6b1b-4660-9c0a-c0bbc749ab64",
        "name": "HTTP Request1"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Execute a SQL query1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Select rows from a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "iniciar-modelo-corrector": {
        "main": [
          [
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Insert or update rows in a table1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select rows from a table": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge2": {
        "main": [
          [
            {
              "node": "Insert or update rows in a table1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Juan  lyncros",
    "name": "Version 4ea54f07",
    "description": "",
    "autosaved": false
  },
  "tags": []
}