workflow/correcto completo.json
{
  "updatedAt": "2026-02-19T01:23:26.788Z",
  "createdAt": "2026-02-15T00:31:17.331Z",
  "id": "NE79qj90G17n8JtH",
  "name": "correcto completo",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2640,
        1232
      ],
      "id": "551dd98e-40d9-4c8e-b410-74c16a705f81",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "CUSTID, PRDID",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3760,
        1136
      ],
      "id": "06f44d7a-b498-44ba-8e45-5659db047e9a",
      "name": "Merge"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3088,
        1136
      ],
      "id": "2cb914e0-befa-42de-aa57-8d1363d799f5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "547848bf-5f11-4a16-888a-cb5f3c04137f",
              "name": "target_period",
              "value": "={{ $json.PERIODID3 }}",
              "type": "string"
            },
            {
              "id": "ea2200fe-169e-4a9d-96b1-74e2b99d5ada",
              "name": "forecast_offset",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3312,
        1136
      ],
      "id": "533c92ba-a1b3-4445-a036-29fc9ba19955",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "YV6RAVPW84DWicjA",
          "mode": "list",
          "cachedResultName": "clientes clasificados",
          "cachedResultUrl": "/projects/9axjLTcJCvAcwxP1/datatables/YV6RAVPW84DWicjA"
        },
        "limit": 1000
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3536,
        1008
      ],
      "id": "e212900a-5531-4bc1-bed6-f1cee298c5f2",
      "name": "Get row(s)1",
      "executeOnce": true
    },
    {
      "parameters": {
        "binaryPropertyName": "output corrector completo",
        "options": {
          "delimiter": ","
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3312,
        848
      ],
      "id": "57af306c-7d15-40c1-8bbb-a344da6dd4b2",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "jsCode": "// --- CONFIGURACIÓN AVANZADA ---\nconst PARAMS = {\n    ELASTICITY_PRICE: 1.5,      // Sensibilidad al precio\n    STOCK_PRESSURE_FACTOR: 0.8, // Reacción ante quiebres de stock\n    BIAS_CORRECTION: 1.0,       // Corrección total del error histórico\n    MOMENTUM_FACTOR: 0.65       // Peso de la inercia del mes anterior\n};\n\n// --- 1. PRE-PROCESAMIENTO: AGREGACIÓN DE DUPLICADOS ---\n// Unificamos filas que tengan mismo CUSTID y PRDID\nconst aggregatedItems = {};\n\nfor (const item of items) {\n    const r = item.json;\n  const key = `${r.CUSTID}_${r.PRDID}_${r.PERIODID3}`; \n  \n    if (!aggregatedItems[key]) {\n        // Inicializamos con el primer registro encontrado\n        aggregatedItems[key] = { ...r };\n        aggregatedItems[key]._count = 1;\n        // Aseguramos números\n        aggregatedItems[key].ZSELLOUTCLIENTE = parseFloat(r.ZSELLOUTCLIENTE || 0);\n        aggregatedItems[key].PINDEX = parseFloat(r.PINDEX || 0);\n        aggregatedItems[key].LAST_MONTH_SALE = parseFloat(r.LAST_MONTH_SALE || 0);\n        aggregatedItems[key].foreAct = parseFloat(r.foreAct || 0);\n    } else {\n        // Si ya existe, acumulamos\n        aggregatedItems[key]._count += 1;\n        // Sumamos Sellout (Venta total de todas las tiendas)\n        aggregatedItems[key].ZSELLOUTCLIENTE += parseFloat(r.ZSELLOUTCLIENTE || 0);\n        // Sumamos Pindex para luego promediar\n        aggregatedItems[key].PINDEX += parseFloat(r.PINDEX || 0);\n    }\n}\n\n// Convertimos de vuelta a array y promediamos PINDEX\n// AQUÍ SE DEFINE uniqueItems (Esta era la línea que faltaba)\nconst uniqueItems = Object.values(aggregatedItems).map(r => {\n    if (r._count > 1) {\n        r.PINDEX = r.PINDEX / r._count; // Promedio simple\n    }\n    return { json: r };\n});\n\n// --- 2. MODELO CORRECTOR BIDIRECCIONAL ---\nreturn uniqueItems.map(item => {\n    const r = item.json;\n\n    // A. INPUTS\n    const fcst_original = parseFloat(r.foreAct || 0);\n    const sellout_units = parseFloat(r.ZSELLOUTCLIENTE || 0); \n    const p_index = parseFloat(r.PINDEX || 1.0);\n    const bias_historico = parseFloat(r.BIAS || 0);\n    const last_month_sale = parseFloat(r.LAST_MONTH_SALE || 0);\n    const status = r.STATUS || 'STABLE';\n\n    if (fcst_original <= 0) return item;\n\n    // B. CAP DINÁMICO\n    let MAX_CAP = 0.80;\n    if (status === 'CRITICAL') MAX_CAP = 3.0;      \n    if (status === 'OPPORTUNITY') MAX_CAP = 1.0;  \n    if (status === 'CHAOS') MAX_CAP = 2.0;  \n\n    // C. DRIVERS\n    const price_delta = (1.0 - p_index) * PARAMS.ELASTICITY_PRICE;\n\n    let sellout_delta = 0;\n    if (sellout_units > 0) {\n        const ratio = sellout_units / fcst_original;\n        if (ratio > 1.10) {\n            sellout_delta = (ratio - 1.0) * PARAMS.STOCK_PRESSURE_FACTOR;\n        } else if (ratio < 0.30) {\n            sellout_delta = (ratio - 1.0) * 0.5;\n        }\n    }\n\n    // AJUSTE BIAS: Si el bias es positivo (sobre-pronóstico), reducimos. \n    // Pero limitamos el impacto del bias negativo para que no mate el forecast.\n    let bias_delta = 0;\n    if (Math.abs(bias_historico) > 0.05) {\n        // Usamos una función para que bias extremos no den deltas de -800%\n        // Si bias es 8, el delta será -0.8 (reducción fuerte pero controlada)\n        bias_delta = -(bias_historico / (1 + Math.abs(bias_historico))) * PARAMS.BIAS_CORRECTION;\n    }\n\n    let momentum_delta = 0;\n    if (last_month_sale > 0) {\n        const momentum_ratio = last_month_sale / fcst_original;\n        momentum_delta = (momentum_ratio - 1.0) * PARAMS.MOMENTUM_FACTOR;\n    }\n\n    // D. RESULTADO Y PROTECCIÓN DE NEGATIVOS\n    const raw_delta = price_delta + sellout_delta + bias_delta + momentum_delta;\n    \n    // Aplicar Cap\n    let capped_delta = raw_delta;\n    if (capped_delta > MAX_CAP) capped_delta = MAX_CAP;\n    if (capped_delta < -0.95) capped_delta = -0.95; // Nunca reducir más del 95%\n    \n    // Segunda capa de seguridad: el CAP por Status\n    if (capped_delta < -MAX_CAP) capped_delta = -MAX_CAP;\n\n    // CÁLCULO FINAL (Math.max asegura que el piso sea 0)\n    const fcst_corrected = Math.max(0, Math.round(fcst_original * (1 + capped_delta)));\n    const fcst_no_cap = Math.max(0, Math.round(fcst_original * (1 + raw_delta)));\n\n    // Explicación\n    const drivers = [];\n    if (Math.abs(price_delta) > 0.01) drivers.push(`Precio ${(price_delta*100).toFixed(0)}%`);\n    if (Math.abs(sellout_delta) > 0.01) drivers.push(`Sellout ${(sellout_delta*100).toFixed(0)}%`);\n    if (Math.abs(bias_delta) > 0.01) drivers.push(`Bias ${(bias_delta*100).toFixed(0)}%`);\n    if (Math.abs(momentum_delta) > 0.01) drivers.push(`Inercia ${(momentum_delta*100).toFixed(0)}%`);\n\n    return {\n        json: {\n            ...r,\n            MODEL_forecast_original: Math.round(fcst_original),\n            MODEL_forecast_corrected: fcst_corrected,\n            MODEL_forecast_no_cap: fcst_no_cap,\n            MODEL_delta_pct: (capped_delta * 100).toFixed(1) + '%',\n            MODEL_raw_delta_pct: (raw_delta * 100).toFixed(1) + '%',\n            MODEL_drivers: drivers.join(', '),\n            _debug_status: status\n        }\n    };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3984,
        1136
      ],
      "id": "1a013156-e081-4240-9d84-ec571ac8784d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "iniciar-modelo-corrector",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization, Accept"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://localhost:5173"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2640,
        1040
      ],
      "id": "038e28f5-241c-410d-ac95-6facddd905fe",
      "name": "iniciar-modelo-corrector",
      "webhookId": "559ce6e4-a48b-46d8-8646-ec7dd28020a8"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3536,
        848
      ],
      "id": "f20781d7-26fd-44f0-b65e-aad085348b08",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "eSMLU4SNBggQHYjh",
          "mode": "list",
          "cachedResultName": "forecast corregido",
          "cachedResultUrl": "/projects/9axjLTcJCvAcwxP1/datatables/eSMLU4SNBggQHYjh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "MODEL_forecast_no_cap": "={{ $json.MODEL_forecast_no_cap }}",
            "MODEL_forecast_corrected": "={{ $json.MODEL_forecast_corrected }}",
            "MODEL_forecast_original": "={{ $json.MODEL_forecast_original }}",
            "count": "={{ $json._count }}",
            "LAST_MONTH_SALE": "={{ $json.LAST_MONTH_SALE }}",
            "foreAct": "={{ $json.foreAct }}",
            "ZSELLOUTCLIENTE": "={{ $json.ZSELLOUTCLIENTE }}",
            "PINDEX": "={{ $json.PINDEX }}",
            "PUNITARIO": "={{ $json.PUNITARIO }}",
            "TOTAL_SALES": "={{ $json.TOTAL_SALES }}",
            "FINAL_SCORE": "={{ $json.FINAL_SCORE }}",
            "CUSTID": "={{ $json.CUSTID }}",
            "PRDID": "={{ $json.PRDID }}",
            "REGION": "={{ $json.REGION }}",
            "STATUS": "={{ $json.STATUS }}",
            "STRATEGY": "={{ $json.STRATEGY }}",
            "JUSTIFICATION": "={{ $json.JUSTIFICATION }}",
            "ERROR_SHARE": "={{ $json.ERROR_SHARE }}",
            "IMPACT_SCORE": "={{ $json.IMPACT_SCORE }}",
            "SIGNAL_SCORE": "={{ $json.SIGNAL_SCORE }}",
            "BIAS": "={{ $json.BIAS }}",
            "WAPE": "={{ $json.WAPE }}",
            "PERIODID3": "={{ $json.PERIODID3 }}",
            "ADJUSTEDACTUALSQTY": "={{ $json.ADJUSTEDACTUALSQTY }}",
            "MONTH": "={{ $json.MONTH }}",
            "YEAR": "={{ $json.YEAR }}",
            "SEASON": "={{ $json.SEASON }}",
            "SOM": "={{ $json.SOM }}",
            "SOV": "={{ $json.SOV }}",
            "CUSTREGION": "={{ $json.CUSTREGION }}",
            "CUSTGROUP": "={{ $json.CUSTGROUP }}",
            "meta_data_period": "={{ $json._meta_data_period }}",
            "meta_forecast_col": "={{ $json._meta_forecast_col }}",
            "MODEL_delta_pct": "={{ $json.MODEL_delta_pct }}",
            "MODEL_raw_delta_pct": "={{ $json.MODEL_raw_delta_pct }}",
            "MODEL_drivers": "={{ $json.MODEL_drivers }}",
            "debug_momentum_ratio": "={{ $json._debug_status }}",
            "agent_explication": "={{ $json.agent_explication }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "CUSTID",
              "displayName": "CUSTID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PRDID",
              "displayName": "PRDID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "REGION",
              "displayName": "REGION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "STRATEGY",
              "displayName": "STRATEGY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "FINAL_SCORE",
              "displayName": "FINAL_SCORE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "JUSTIFICATION",
              "displayName": "JUSTIFICATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ERROR_SHARE",
              "displayName": "ERROR_SHARE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IMPACT_SCORE",
              "displayName": "IMPACT_SCORE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SIGNAL_SCORE",
              "displayName": "SIGNAL_SCORE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TOTAL_SALES",
              "displayName": "TOTAL_SALES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "BIAS",
              "displayName": "BIAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "WAPE",
              "displayName": "WAPE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PERIODID3",
              "displayName": "PERIODID3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ADJUSTEDACTUALSQTY",
              "displayName": "ADJUSTEDACTUALSQTY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MONTH",
              "displayName": "MONTH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "YEAR",
              "displayName": "YEAR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SEASON",
              "displayName": "SEASON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PUNITARIO",
              "displayName": "PUNITARIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PINDEX",
              "displayName": "PINDEX",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SOM",
              "displayName": "SOM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SOV",
              "displayName": "SOV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ZSELLOUTCLIENTE",
              "displayName": "ZSELLOUTCLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CUSTREGION",
              "displayName": "CUSTREGION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CUSTGROUP",
              "displayName": "CUSTGROUP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "foreAct",
              "displayName": "foreAct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LAST_MONTH_SALE",
              "displayName": "LAST_MONTH_SALE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "meta_data_period",
              "displayName": "meta_data_period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "meta_forecast_col",
              "displayName": "meta_forecast_col",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "count",
              "displayName": "count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MODEL_forecast_original",
              "displayName": "MODEL_forecast_original",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MODEL_forecast_corrected",
              "displayName": "MODEL_forecast_corrected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MODEL_forecast_no_cap",
              "displayName": "MODEL_forecast_no_cap",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MODEL_delta_pct",
              "displayName": "MODEL_delta_pct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MODEL_raw_delta_pct",
              "displayName": "MODEL_raw_delta_pct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MODEL_drivers",
              "displayName": "MODEL_drivers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "debug_momentum_ratio",
              "displayName": "debug_momentum_ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "agent_explication",
              "displayName": "agent_explication",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        5008,
        1216
      ],
      "id": "8e891bef-fc25-4996-a52a-192a0029482f",
      "name": "Insert row"
    },
    {
      "parameters": {
        "batchSize": 1000,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4208,
        1216
      ],
      "id": "7fb277da-845b-4f50-99a2-59ca9c54e762",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04d2c8c7-ddcc-44d6-9e60-38a0396af50c",
              "name": "CUSTID",
              "value": "={{ $('Loop Over Items1').item.json.CUSTID }}",
              "type": "string"
            },
            {
              "id": "4a49cd58-dec1-490e-afd5-780a2b5d97f1",
              "name": "PRDID",
              "value": "={{ $('Loop Over Items1').item.json.PRDID }}",
              "type": "string"
            },
            {
              "id": "cba94077-90a6-4442-b6af-5cccd27c3254",
              "name": "REGION",
              "value": "={{ $('Loop Over Items1').item.json.REGION }}",
              "type": "string"
            },
            {
              "id": "e137ae34-7ff8-4053-b725-beb9dde721e9",
              "name": "STATUS",
              "value": "={{ $('Loop Over Items1').item.json.STATUS }}",
              "type": "string"
            },
            {
              "id": "f02338c3-89ed-4d62-b75d-138830d167a9",
              "name": "STRATEGY",
              "value": "={{ $('Loop Over Items1').item.json.STRATEGY }}",
              "type": "string"
            },
            {
              "id": "fe7efc83-8bed-4b49-8f34-8cc6dfdaa50a",
              "name": "FINAL_SCORE",
              "value": "={{ $('Loop Over Items1').item.json.FINAL_SCORE }}",
              "type": "number"
            },
            {
              "id": "a8ec0647-bf38-40eb-ad81-f6959e78b013",
              "name": "JUSTIFICATION",
              "value": "={{ $('Loop Over Items1').item.json.JUSTIFICATION }}",
              "type": "string"
            },
            {
              "id": "eaa528bc-881b-45f7-9a89-93a0a45969e1",
              "name": "ERROR_SHARE",
              "value": "={{ $('Loop Over Items1').item.json.ERROR_SHARE }}",
              "type": "string"
            },
            {
              "id": "63885e43-4e45-413a-94fa-faf4fd1f1db0",
              "name": "IMPACT_SCORE",
              "value": "={{ $('Loop Over Items1').item.json.IMPACT_SCORE }}",
              "type": "string"
            },
            {
              "id": "ab721fdb-e8c0-428c-b394-5cac84d29478",
              "name": "SIGNAL_SCORE",
              "value": "={{ $('Loop Over Items1').item.json.SIGNAL_SCORE }}",
              "type": "string"
            },
            {
              "id": "72a83390-c3e2-4af1-8c39-15b8b1d2eafd",
              "name": "TOTAL_SALES",
              "value": "={{ $('Loop Over Items1').item.json.TOTAL_SALES }}",
              "type": "number"
            },
            {
              "id": "fb28de5e-5732-4c22-8aa9-e2104282bfee",
              "name": "BIAS",
              "value": "={{ $('Loop Over Items1').item.json.BIAS }}",
              "type": "string"
            },
            {
              "id": "d8d6495d-21e9-46e9-b4e7-2f66c0dfd927",
              "name": "WAPE",
              "value": "={{ $('Loop Over Items1').item.json.WAPE }}",
              "type": "string"
            },
            {
              "id": "88fedf00-d0c1-466a-81aa-920b41416c73",
              "name": "PERIODID3",
              "value": "={{ $('Loop Over Items1').item.json.PERIODID3 }}",
              "type": "string"
            },
            {
              "id": "779409bb-81cf-420a-9147-a9fc23b4a725",
              "name": "ADJUSTEDACTUALSQTY",
              "value": "={{ $('Loop Over Items1').item.json.ADJUSTEDACTUALSQTY }}",
              "type": "string"
            },
            {
              "id": "226e4bd4-d78e-497b-b6cd-69065acd39fb",
              "name": "MONTH",
              "value": "={{ $('Loop Over Items1').item.json.MONTH }}",
              "type": "string"
            },
            {
              "id": "f7821b2d-d3c3-4b9a-b397-a5aa39f53480",
              "name": "YEAR",
              "value": "={{ $('Loop Over Items1').item.json.YEAR }}",
              "type": "string"
            },
            {
              "id": "4be51186-c455-415b-bd26-8d920b97cf55",
              "name": "SEASON",
              "value": "={{ $('Loop Over Items1').item.json.SEASON }}",
              "type": "string"
            },
            {
              "id": "412ecb5c-91bc-40c7-85e6-63e2472d3eb6",
              "name": "PUNITARIO",
              "value": "={{ $('Loop Over Items1').item.json.PUNITARIO }}",
              "type": "string"
            },
            {
              "id": "7fd6a296-3ede-478a-83df-01dfec41744a",
              "name": "PINDEX",
              "value": "={{ $('Loop Over Items1').item.json.PINDEX }}",
              "type": "number"
            },
            {
              "id": "89b096c3-eca9-4361-9264-83a1dda2a1e5",
              "name": "SOM",
              "value": "={{ $('Loop Over Items1').item.json.SOM }}",
              "type": "string"
            },
            {
              "id": "ddfc6049-3b64-4d63-923a-d10aba9a59ae",
              "name": "SOV",
              "value": "={{ $('Loop Over Items1').item.json.SOV }}",
              "type": "string"
            },
            {
              "id": "260ac4f2-7f05-4adc-a45e-9d8afefeae02",
              "name": "ZSELLOUTCLIENTE",
              "value": "={{ $('Loop Over Items1').item.json.ZSELLOUTCLIENTE }}",
              "type": "number"
            },
            {
              "id": "128fed89-94bf-4bb3-a53c-3aff7e7f3a03",
              "name": "CUSTREGION",
              "value": "={{ $('Loop Over Items1').item.json.CUSTREGION }}",
              "type": "string"
            },
            {
              "id": "f97ba0e8-4cf6-428e-add3-ee45a1a649bf",
              "name": "CUSTGROUP",
              "value": "={{ $('Loop Over Items1').item.json.CUSTGROUP }}",
              "type": "string"
            },
            {
              "id": "1d517762-b5d6-4325-b36d-23981d7b182f",
              "name": "foreAct",
              "value": "={{ $('Loop Over Items1').item.json.foreAct }}",
              "type": "number"
            },
            {
              "id": "f0d60a72-95e4-4096-a97b-03caa70567cc",
              "name": "LAST_MONTH_SALE",
              "value": "={{ $('Loop Over Items1').item.json.LAST_MONTH_SALE }}",
              "type": "number"
            },
            {
              "id": "5c784026-18e4-42ce-b5a5-e90a981cb6e4",
              "name": "_meta_data_period",
              "value": "={{ $('Loop Over Items1').item.json._meta_data_period }}",
              "type": "string"
            },
            {
              "id": "5381c607-d01a-42bc-af19-1bb44a10662f",
              "name": "_meta_forecast_col",
              "value": "={{ $('Loop Over Items1').item.json._meta_forecast_col }}",
              "type": "string"
            },
            {
              "id": "c2ec1ab0-d609-4b84-86f3-08f25a1e3f98",
              "name": "_count",
              "value": "={{ $('Loop Over Items1').item.json._count }}",
              "type": "number"
            },
            {
              "id": "2acd6965-5d37-44b8-92f4-cf0603680556",
              "name": "MODEL_forecast_original",
              "value": "={{ $('Loop Over Items1').item.json.MODEL_forecast_original }}",
              "type": "number"
            },
            {
              "id": "5ae25e1a-89ef-4a76-b429-e3eb3155b7e6",
              "name": "MODEL_forecast_corrected",
              "value": "={{ $('Loop Over Items1').item.json.MODEL_forecast_corrected }}",
              "type": "number"
            },
            {
              "id": "280fdf70-63ce-4042-bd92-da54c5fe8c77",
              "name": "MODEL_forecast_no_cap",
              "value": "={{ $('Loop Over Items1').item.json.MODEL_forecast_no_cap }}",
              "type": "number"
            },
            {
              "id": "38aa1c08-bc01-4846-8bbe-6304639b3283",
              "name": "MODEL_delta_pct",
              "value": "={{ $('Loop Over Items1').item.json.MODEL_delta_pct }}",
              "type": "string"
            },
            {
              "id": "5f6c0043-b71d-443b-b050-fb290876ba3c",
              "name": "MODEL_raw_delta_pct",
              "value": "={{ $('Loop Over Items1').item.json.MODEL_raw_delta_pct }}",
              "type": "string"
            },
            {
              "id": "4db998df-f65e-4ab4-8971-6d6ad2dc317a",
              "name": "MODEL_drivers",
              "value": "={{ $('Loop Over Items1').item.json.MODEL_drivers }}",
              "type": "string"
            },
            {
              "id": "28e7a88b-e7dd-4542-97a6-f6aa793bb2fc",
              "name": "MODEL_drivers",
              "value": "={{ $('Loop Over Items1').item.json.MODEL_drivers }}",
              "type": "string"
            },
            {
              "id": "3cb87ffb-c01f-41fd-af58-d6b70ec2a8a3",
              "name": "_debug_status",
              "value": "={{ $('Loop Over Items1').item.json._debug_status }}",
              "type": "string"
            },
            {
              "id": "534f015e-e979-4eed-8602-b007d6469011",
              "name": "agent_explication",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4784,
        1088
      ],
      "id": "9f8d8f8e-a622-46ca-941f-6ab1f8e50dbd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT TO_CHAR(periodid3, 'YYYY-MM-DD') AS \"PERIODID3\"\nFROM molinos_consolidated_data\nWHERE periodid3 IS NOT NULL\nORDER BY \"PERIODID3\" ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2864,
        1136
      ],
      "id": "ae181138-0ec2-4826-9f14-146f1a698235",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "ezJ6rP6dRWwFUGI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    -- 1. IDENTIFICADORES Y FECHA DE LOS DATOS HISTÓRICOS (dataFilter)\n    TO_CHAR(futuro.periodid3 - ($2 || ' month')::INTERVAL, 'YYYY-MM-DD') AS \"PERIODID3\",\n    futuro.prdid AS \"PRDID\",\n    futuro.custid AS \"CUSTID\",\n    \n    -- 2. MÉTRICAS HISTÓRICAS (Vienen del mes pasado. Si no hay, ponemos 0)\n    COALESCE(pasado.adjustedactualsqty, 0) AS \"ADJUSTEDACTUALSQTY\",\n    EXTRACT(MONTH FROM (futuro.periodid3 - ($2 || ' month')::INTERVAL)) AS \"MONTH\",\n    EXTRACT(YEAR FROM (futuro.periodid3 - ($2 || ' month')::INTERVAL)) AS \"YEAR\",\n    COALESCE(pasado.season, futuro.season) AS \"SEASON\",\n    COALESCE(pasado.punitario, 0) AS \"PUNITARIO\",\n    COALESCE(pasado.pindex, 0) AS \"PINDEX\",\n    COALESCE(pasado.som, 0) AS \"SOM\",\n    COALESCE(pasado.sov, 0) AS \"SOV\",\n    COALESCE(pasado.zselloutcliente, 0) AS \"ZSELLOUTCLIENTE\",\n    \n    -- 3. EL FORECAST (Viene del mes objetivo)\n    COALESCE(futuro.foreact, 0) AS \"foreAct\",\n    \n    -- 4. RENOMBRES ESPECÍFICOS PARA TU FLUJO\n    COALESCE(pasado.adjustedactualsqty, 0) AS \"LAST_MONTH_SALE\",\n    futuro.custregion AS \"CUSTREGION\",\n    futuro.custgroup AS \"CUSTGROUP\",\n    \n    -- 5. METADATA GENERADA AUTOMÁTICAMENTE\n    TO_CHAR(futuro.periodid3, 'YYYY-MM-DD') AS \"_meta_target_period\",\n    TO_CHAR(futuro.periodid3 - ($2 || ' month')::INTERVAL, 'YYYY-MM-DD') AS \"_meta_data_period\",\n    TO_CHAR(futuro.periodid3, 'YY-Mon') AS \"_meta_forecast_col\"\n\nFROM \n    molinos_consolidated_data futuro\n\n-- Hacemos un LEFT JOIN para buscar cómo estaba este mismo cliente el mes anterior (o según el offset)\nLEFT JOIN \n    molinos_consolidated_data pasado \n    ON futuro.custid = pasado.custid \n    AND futuro.prdid = pasado.prdid\n    AND pasado.periodid3 = (futuro.periodid3 - ($2 || ' month')::INTERVAL)\n\nWHERE \n    futuro.periodid3 = $1::DATE;",
        "options": {
          "queryReplacement": "={{ $json.target_period }}, {{ $json.forecast_offset }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3536,
        1120
      ],
      "id": "46538f4e-01b0-4233-8aa1-2b98484b0611",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "ezJ6rP6dRWwFUGI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "GPT-4.1-NANO"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Eres un Analista Senior de Demand Planning. Genera una explicación breve (máximo 1 frase) para el ajuste del forecast.  TONO SEGÚN ESTATUS: - CRITICAL: Tono URGENTE. \"Ajuste agresivo necesario por impacto estructural\". - CHAOS: Tono CAUTELOSO. \"Ajuste limitado por seguridad ante volatilidad histórica\". - OPPORTUNITY: Tono POSITIVO. \"Captura de oportunidad por señal clara\". - STABLE: Tono RUTINARIO. \"Mantenimiento de tendencia\". (Sé muy breve).  INSTRUCCIONES: - Identifica los Drivers: Precio, Inercia, Sell-out. - No uses saludos. Solo la justificación de negocio."
            },
            {
              "content": "=Estatus: {{ $json[\"_debug_status\"] }}\nCliente: {{ $json[\"CUSTID\"] }}\nVenta Ant: {{ $json[\"LAST_MONTH_SALE\"] }}\nForecast Orig: {{ $json[\"MODEL_forecast_original\"] }}\nForecast IA: {{ $json[\"MODEL_forecast_corrected\"] }}\nDrivers: {{ $json[\"MODEL_drivers\"] }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        4448,
        1216
      ],
      "id": "3ed307e2-e201-4235-b740-33bef11cd0a9",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "Z9zPhNW2TDZXLiTT",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iniciar-modelo-corrector": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9142456d-781a-4345-b513-803fc83fc080",
  "activeVersionId": "46efdccd-3c73-4f6a-b551-217dbac7077b",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-15T00:31:17.331Z",
      "createdAt": "2026-02-15T00:31:17.331Z",
      "role": "workflow:owner",
      "workflowId": "NE79qj90G17n8JtH",
      "projectId": "9axjLTcJCvAcwxP1"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-18T17:58:32.525Z",
    "createdAt": "2026-02-18T17:58:30.288Z",
    "versionId": "46efdccd-3c73-4f6a-b551-217dbac7077b",
    "workflowId": "NE79qj90G17n8JtH",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          2640,
          1232
        ],
        "id": "551dd98e-40d9-4c8e-b410-74c16a705f81",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "CUSTID, PRDID",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          3760,
          1136
        ],
        "id": "06f44d7a-b498-44ba-8e45-5659db047e9a",
        "name": "Merge"
      },
      {
        "parameters": {
          "batchSize": 5,
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          3088,
          1136
        ],
        "id": "2cb914e0-befa-42de-aa57-8d1363d799f5",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "jsCode": "// --- CONFIGURACIÓN ---\nconst monthsShort = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];\n\n// 0. RECIBIR PARÁMETROS\nconst inputParams = items[0].json || {};\nconst TARGET_PERIODS = Array.isArray(inputParams.target_period) ? inputParams.target_period : [inputParams.target_period];\nconst OFFSETS = Array.isArray(inputParams.forecast_offset) ? inputParams.forecast_offset : [1];\n\n// --- 1. PREPARACIÓN DE CONFIGURACIONES ---\nconst activeConfigs = TARGET_PERIODS.map((period, index) => {\n    if (!period || typeof period !== 'string') return null;\n    const parts = period.split('-');\n    if (parts.length < 3) return null;\n\n    const year = parseInt(parts[0]);\n    const month = parseInt(parts[1]) - 1;\n    const targetDate = new Date(year, month, parseInt(parts[2]));\n    const offset = OFFSETS[index] !== undefined ? parseInt(OFFSETS[index]) : 1;\n\n    const dataDate = new Date(year, month, parseInt(parts[2]));\n    dataDate.setMonth(dataDate.getMonth() - offset);\n    \n    const dYear = dataDate.getFullYear();\n    const dMonth = (dataDate.getMonth() + 1).toString().padStart(2, '0');\n    const dDay = dataDate.getDate().toString().padStart(2, '0');\n\n    return {\n        targetPeriod: period,\n        dataFilter: `${dYear}-${dMonth}-${dDay}`,\n        forecastCol: `${targetDate.getFullYear().toString().slice(2)}-${monthsShort[targetDate.getMonth()]}`\n    };\n}).filter(c => c !== null);\n\n// --- 2. LECTURA Y PARSEO ---\nconst referenceMap = new Map(); \nlet rawTransactions = [];          \n\nfor (let i = 0; i < items.length; i++) {\n    const item = items[i];\n    if (item.binary && item.binary['70k']) {\n        const buffer = await this.helpers.getBinaryDataBuffer(i, '70k');\n        rawTransactions = parseCSV(buffer.toString('utf8'), ','); \n    }\n    if (item.binary && item.binary['4k']) {\n        const buffer = await this.helpers.getBinaryDataBuffer(i, '4k');\n        const rows = parseCSV(buffer.toString('utf8'), ';');\n        for (const row of rows) {\n            const key = `${String(row.PRDID).trim()}_${String(row.CUSTID).trim()}`;\n            referenceMap.set(key, row);\n        }\n    }\n}\n\n// --- 2.5 OPTIMIZACIÓN: INDEXACIÓN POR FECHA ---\n// Agrupamos las transacciones en un objeto donde la llave es la fecha (PERIODID3)\nconst transactionsByDate = {};\nfor (const txn of rawTransactions) {\n    const dateKey = txn.PERIODID3;\n    if (!transactionsByDate[dateKey]) {\n        transactionsByDate[dateKey] = [];\n    }\n    transactionsByDate[dateKey].push(txn);\n}\n\n// --- 3. CRUCE MULTI-PERIODO (AHORA OPTIMIZADO) ---\nconst results = [];\n\nfor (const config of activeConfigs) {\n    // En lugar de recorrer las 70k filas, vamos directo al \"estante\" de esa fecha\n    const relevantTxns = transactionsByDate[config.dataFilter] || [];\n    \n    for (const txn of relevantTxns) {\n        const key = `${String(txn.PRDID).trim()}_${String(txn.CUSTID).trim()}`;\n        const refData = referenceMap.get(key);\n        \n        let foreActValue = null;\n        if (refData && config.forecastCol) {\n            const val = refData[config.forecastCol];\n            if (val !== undefined && val !== null && val !== \"\") {\n                foreActValue = parseFloat(val.toString().replace(',', '.'));\n            }\n        }\n\n        if (foreActValue !== null) {\n            const mergedItem = { ...txn };\n            mergedItem['foreAct'] = foreActValue; \n            mergedItem['PINDEX'] = parseFloat((txn['PINDEX'] || \"1.0\").toString().replace(',', '.'));\n            mergedItem['ZSELLOUTCLIENTE'] = parseFloat((txn['ZSELLOUTCLIENTE'] || \"0\").toString().replace(',', '.'));\n            mergedItem['LAST_MONTH_SALE'] = parseFloat(txn['ADJUSTEDACTUALSQTY'] || 0);\n            \n            mergedItem['CUSTREGION'] = refData ? refData['CUSTREGION'] : null;\n            mergedItem['CUSTGROUP'] = refData ? refData['CUSTGROUP'] : null;\n            mergedItem['_meta_target_period'] = config.targetPeriod;\n            mergedItem['_meta_data_period'] = config.dataFilter;\n            mergedItem['_meta_forecast_col'] = config.forecastCol;\n\n            results.push({ json: mergedItem });\n        }\n    }\n}\n\nreturn results;\n\n// --- FUNCIONES DE PARSEO (Sin cambios) ---\nfunction parseCSV(csvText, separator) {\n    const lines = csvText.split('\\n');\n    if (lines.length < 2) return [];\n    const headers = parseCSVLine(lines[0], separator).map(h => h.trim().replace(/^[\"']|[\"']$/g, ''));\n    const parsedData = [];\n    for (let i = 1; i < lines.length; i++) {\n        const line = lines[i].trim();\n        if (!line) continue;\n        const values = parseCSVLine(line, separator);\n        const obj = {};\n        headers.forEach((header, index) => {\n            let val = values[index] ? values[index].trim() : null;\n            if (val) val = val.replace(/^[\"']|[\"']$/g, '');\n            obj[header] = val;\n        });\n        parsedData.push(obj);\n    }\n    return parsedData;\n}\n\nfunction parseCSVLine(text, separator) {\n    const escapedSep = separator === '.' ? '\\\\.' : separator;\n    const re_value = new RegExp(`(?!\\\\s*$)\\\\s*(?:'([^']*)'|\"([^\"]*)\"|([^${escapedSep}'\"\\\\s\\\\\\\\]*(?:\\\\s+[^${escapedSep}'\"\\\\s\\\\\\\\]+)*))\\\\s*(?:${escapedSep}|$)`, 'g');\n    const a = [];\n    text.replace(re_value, function(m0, m1, m2, m3) {\n        if (m1 !== undefined) a.push(m1.replace(/\\\\'/g, \"'\"));\n        else if (m2 !== undefined) a.push(m2.replace(/\\\\\"/g, '\"'));\n        else if (m3 !== undefined) a.push(m3);\n        return '';\n    });\n    if (new RegExp(`${escapedSep}\\\\s*$`).test(text)) a.push('');\n    return a;\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3456,
          1600
        ],
        "id": "3a5e64c9-b0c5-44fd-bcf5-ca7b73458531",
        "name": "leer documentos2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "547848bf-5f11-4a16-888a-cb5f3c04137f",
                "name": "target_period",
                "value": "={{ $json.PERIODID3 }}",
                "type": "string"
              },
              {
                "id": "ea2200fe-169e-4a9d-96b1-74e2b99d5ada",
                "name": "forecast_offset",
                "value": 1,
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3312,
          1136
        ],
        "id": "533c92ba-a1b3-4445-a036-29fc9ba19955",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "YV6RAVPW84DWicjA",
            "mode": "list",
            "cachedResultName": "clientes clasificados",
            "cachedResultUrl": "/projects/9axjLTcJCvAcwxP1/datatables/YV6RAVPW84DWicjA"
          },
          "limit": 1000
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          3536,
          1040
        ],
        "id": "e212900a-5531-4bc1-bed6-f1cee298c5f2",
        "name": "Get row(s)1",
        "executeOnce": true
      },
      {
        "parameters": {
          "binaryPropertyName": "output corrector completo",
          "options": {
            "delimiter": ","
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          3312,
          848
        ],
        "id": "57af306c-7d15-40c1-8bbb-a344da6dd4b2",
        "name": "Convert to File1"
      },
      {
        "parameters": {
          "jsCode": "// --- CONFIGURACIÓN AVANZADA ---\nconst PARAMS = {\n    ELASTICITY_PRICE: 1.5,      // Sensibilidad al precio\n    STOCK_PRESSURE_FACTOR: 0.8, // Reacción ante quiebres de stock\n    BIAS_CORRECTION: 1.0,       // Corrección total del error histórico\n    MOMENTUM_FACTOR: 0.65       // Peso de la inercia del mes anterior\n};\n\n// --- 1. PRE-PROCESAMIENTO: AGREGACIÓN DE DUPLICADOS ---\n// Unificamos filas que tengan mismo CUSTID y PRDID\nconst aggregatedItems = {};\n\nfor (const item of items) {\n    const r = item.json;\n  const key = `${r.CUSTID}_${r.PRDID}_${r.PERIODID3}`; \n  \n    if (!aggregatedItems[key]) {\n        // Inicializamos con el primer registro encontrado\n        aggregatedItems[key] = { ...r };\n        aggregatedItems[key]._count = 1;\n        // Aseguramos números\n        aggregatedItems[key].ZSELLOUTCLIENTE = parseFloat(r.ZSELLOUTCLIENTE || 0);\n        aggregatedItems[key].PINDEX = parseFloat(r.PINDEX || 0);\n        aggregatedItems[key].LAST_MONTH_SALE = parseFloat(r.LAST_MONTH_SALE || 0);\n        aggregatedItems[key].foreAct = parseFloat(r.foreAct || 0);\n    } else {\n        // Si ya existe, acumulamos\n        aggregatedItems[key]._count += 1;\n        // Sumamos Sellout (Venta total de todas las tiendas)\n        aggregatedItems[key].ZSELLOUTCLIENTE += parseFloat(r.ZSELLOUTCLIENTE || 0);\n        // Sumamos Pindex para luego promediar\n        aggregatedItems[key].PINDEX += parseFloat(r.PINDEX || 0);\n    }\n}\n\n// Convertimos de vuelta a array y promediamos PINDEX\n// AQUÍ SE DEFINE uniqueItems (Esta era la línea que faltaba)\nconst uniqueItems = Object.values(aggregatedItems).map(r => {\n    if (r._count > 1) {\n        r.PINDEX = r.PINDEX / r._count; // Promedio simple\n    }\n    return { json: r };\n});\n\n// --- 2. MODELO CORRECTOR BIDIRECCIONAL ---\nreturn uniqueItems.map(item => {\n    const r = item.json;\n\n    // A. INPUTS\n    const fcst_original = parseFloat(r.foreAct || 0);\n    const sellout_units = parseFloat(r.ZSELLOUTCLIENTE || 0); \n    const p_index = parseFloat(r.PINDEX || 1.0);\n    const bias_historico = parseFloat(r.BIAS || 0);\n    const last_month_sale = parseFloat(r.LAST_MONTH_SALE || 0);\n    const status = r.STATUS || 'STABLE';\n\n    if (fcst_original <= 0) return item;\n\n    // B. CAP DINÁMICO\n    let MAX_CAP = 0.80;\n    if (status === 'CRITICAL') MAX_CAP = 3.0;      \n    if (status === 'OPPORTUNITY') MAX_CAP = 1.0;  \n    if (status === 'CHAOS') MAX_CAP = 2.0;  \n\n    // C. DRIVERS\n    const price_delta = (1.0 - p_index) * PARAMS.ELASTICITY_PRICE;\n\n    let sellout_delta = 0;\n    if (sellout_units > 0) {\n        const ratio = sellout_units / fcst_original;\n        if (ratio > 1.10) {\n            sellout_delta = (ratio - 1.0) * PARAMS.STOCK_PRESSURE_FACTOR;\n        } else if (ratio < 0.30) {\n            sellout_delta = (ratio - 1.0) * 0.5;\n        }\n    }\n\n    // AJUSTE BIAS: Si el bias es positivo (sobre-pronóstico), reducimos. \n    // Pero limitamos el impacto del bias negativo para que no mate el forecast.\n    let bias_delta = 0;\n    if (Math.abs(bias_historico) > 0.05) {\n        // Usamos una función para que bias extremos no den deltas de -800%\n        // Si bias es 8, el delta será -0.8 (reducción fuerte pero controlada)\n        bias_delta = -(bias_historico / (1 + Math.abs(bias_historico))) * PARAMS.BIAS_CORRECTION;\n    }\n\n    let momentum_delta = 0;\n    if (last_month_sale > 0) {\n        const momentum_ratio = last_month_sale / fcst_original;\n        momentum_delta = (momentum_ratio - 1.0) * PARAMS.MOMENTUM_FACTOR;\n    }\n\n    // D. RESULTADO Y PROTECCIÓN DE NEGATIVOS\n    const raw_delta = price_delta + sellout_delta + bias_delta + momentum_delta;\n    \n    // Aplicar Cap\n    let capped_delta = raw_delta;\n    if (capped_delta > MAX_CAP) capped_delta = MAX_CAP;\n    if (capped_delta < -0.95) capped_delta = -0.95; // Nunca reducir más del 95%\n    \n    // Segunda capa de seguridad: el CAP por Status\n    if (capped_delta < -MAX_CAP) capped_delta = -MAX_CAP;\n\n    // CÁLCULO FINAL (Math.max asegura que el piso sea 0)\n    const fcst_corrected = Math.max(0, Math.round(fcst_original * (1 + capped_delta)));\n    const fcst_no_cap = Math.max(0, Math.round(fcst_original * (1 + raw_delta)));\n\n    // Explicación\n    const drivers = [];\n    if (Math.abs(price_delta) > 0.01) drivers.push(`Precio ${(price_delta*100).toFixed(0)}%`);\n    if (Math.abs(sellout_delta) > 0.01) drivers.push(`Sellout ${(sellout_delta*100).toFixed(0)}%`);\n    if (Math.abs(bias_delta) > 0.01) drivers.push(`Bias ${(bias_delta*100).toFixed(0)}%`);\n    if (Math.abs(momentum_delta) > 0.01) drivers.push(`Inercia ${(momentum_delta*100).toFixed(0)}%`);\n\n    return {\n        json: {\n            ...r,\n            MODEL_forecast_original: Math.round(fcst_original),\n            MODEL_forecast_corrected: fcst_corrected,\n            MODEL_forecast_no_cap: fcst_no_cap,\n            MODEL_delta_pct: (capped_delta * 100).toFixed(1) + '%',\n            MODEL_raw_delta_pct: (raw_delta * 100).toFixed(1) + '%',\n            MODEL_drivers: drivers.join(', '),\n            _debug_status: status\n        }\n    };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3984,
          1136
        ],
        "id": "1a013156-e081-4240-9d84-ec571ac8784d",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "iniciar-modelo-corrector1",
          "responseMode": "responseNode",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Headers",
                  "value": "Content-Type, Authorization, Accept"
                },
                {
                  "name": "Access-Control-Allow-Methods",
                  "value": "GET, POST, OPTIONS"
                },
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "http://localhost:5173"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          2640,
          1040
        ],
        "id": "038e28f5-241c-410d-ac95-6facddd905fe",
        "name": "iniciar-modelo-corrector",
        "webhookId": "559ce6e4-a48b-46d8-8646-ec7dd28020a8"
      },
      {
        "parameters": {
          "respondWith": "noData",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          3536,
          848
        ],
        "id": "f20781d7-26fd-44f0-b65e-aad085348b08",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Estatus: {{ $json[\"_debug_status\"] }}\nCliente: {{ $json[\"CUSTID\"] }}\nVenta Ant: {{ $json[\"LAST_MONTH_SALE\"] }}\nForecast Orig: {{ $json[\"MODEL_forecast_original\"] }}\nForecast IA: {{ $json[\"MODEL_forecast_corrected\"] }}\nDrivers: {{ $json[\"MODEL_drivers\"] }}",
          "messages": {
            "messageValues": [
              {
                "message": "Eres un Analista Senior de Demand Planning. Genera una explicación breve (máximo 1 frase) para el ajuste del forecast.  TONO SEGÚN ESTATUS: - CRITICAL: Tono URGENTE. \"Ajuste agresivo necesario por impacto estructural\". - CHAOS: Tono CAUTELOSO. \"Ajuste limitado por seguridad ante volatilidad histórica\". - OPPORTUNITY: Tono POSITIVO. \"Captura de oportunidad por señal clara\". - STABLE: Tono RUTINARIO. \"Mantenimiento de tendencia\". (Sé muy breve).  INSTRUCCIONES: - Identifica los Drivers: Precio, Inercia, Sell-out. - No uses saludos. Solo la justificación de negocio."
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          4432,
          1088
        ],
        "id": "7a36c995-5814-4ec4-8b64-ebfa43accf7e",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "dataTableId": {
            "__rl": true,
            "value": "eSMLU4SNBggQHYjh",
            "mode": "list",
            "cachedResultName": "forecast corregido",
            "cachedResultUrl": "/projects/9axjLTcJCvAcwxP1/datatables/eSMLU4SNBggQHYjh"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "MODEL_forecast_no_cap": "={{ $json.MODEL_forecast_no_cap }}",
              "MODEL_forecast_corrected": "={{ $json.MODEL_forecast_corrected }}",
              "MODEL_forecast_original": "={{ $json.MODEL_forecast_original }}",
              "count": "={{ $json._count }}",
              "LAST_MONTH_SALE": "={{ $json.LAST_MONTH_SALE }}",
              "foreAct": "={{ $json.foreAct }}",
              "ZSELLOUTCLIENTE": "={{ $json.ZSELLOUTCLIENTE }}",
              "PINDEX": "={{ $json.PINDEX }}",
              "PUNITARIO": "={{ $json.PUNITARIO }}",
              "TOTAL_SALES": "={{ $json.TOTAL_SALES }}",
              "FINAL_SCORE": "={{ $json.FINAL_SCORE }}",
              "CUSTID": "={{ $json.CUSTID }}",
              "PRDID": "={{ $json.PRDID }}",
              "REGION": "={{ $json.REGION }}",
              "STATUS": "={{ $json.STATUS }}",
              "STRATEGY": "={{ $json.STRATEGY }}",
              "JUSTIFICATION": "={{ $json.JUSTIFICATION }}",
              "ERROR_SHARE": "={{ $json.ERROR_SHARE }}",
              "IMPACT_SCORE": "={{ $json.IMPACT_SCORE }}",
              "SIGNAL_SCORE": "={{ $json.SIGNAL_SCORE }}",
              "BIAS": "={{ $json.BIAS }}",
              "WAPE": "={{ $json.WAPE }}",
              "PERIODID3": "={{ $json.PERIODID3 }}",
              "ADJUSTEDACTUALSQTY": "={{ $json.ADJUSTEDACTUALSQTY }}",
              "MONTH": "={{ $json.MONTH }}",
              "YEAR": "={{ $json.YEAR }}",
              "SEASON": "={{ $json.SEASON }}",
              "SOM": "={{ $json.SOM }}",
              "SOV": "={{ $json.SOV }}",
              "CUSTREGION": "={{ $json.CUSTREGION }}",
              "CUSTGROUP": "={{ $json.CUSTGROUP }}",
              "meta_data_period": "={{ $json._meta_data_period }}",
              "meta_forecast_col": "={{ $json._meta_forecast_col }}",
              "MODEL_delta_pct": "={{ $json.MODEL_delta_pct }}",
              "MODEL_raw_delta_pct": "={{ $json.MODEL_raw_delta_pct }}",
              "MODEL_drivers": "={{ $json.MODEL_drivers }}",
              "debug_momentum_ratio": "={{ $json._debug_status }}",
              "agent_explication": "={{ $json.agent_explication }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "CUSTID",
                "displayName": "CUSTID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "PRDID",
                "displayName": "PRDID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "REGION",
                "displayName": "REGION",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "STATUS",
                "displayName": "STATUS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "STRATEGY",
                "displayName": "STRATEGY",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "FINAL_SCORE",
                "displayName": "FINAL_SCORE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "JUSTIFICATION",
                "displayName": "JUSTIFICATION",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "ERROR_SHARE",
                "displayName": "ERROR_SHARE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "IMPACT_SCORE",
                "displayName": "IMPACT_SCORE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "SIGNAL_SCORE",
                "displayName": "SIGNAL_SCORE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "TOTAL_SALES",
                "displayName": "TOTAL_SALES",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "BIAS",
                "displayName": "BIAS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "WAPE",
                "displayName": "WAPE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "PERIODID3",
                "displayName": "PERIODID3",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "ADJUSTEDACTUALSQTY",
                "displayName": "ADJUSTEDACTUALSQTY",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "MONTH",
                "displayName": "MONTH",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "YEAR",
                "displayName": "YEAR",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "SEASON",
                "displayName": "SEASON",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "PUNITARIO",
                "displayName": "PUNITARIO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "PINDEX",
                "displayName": "PINDEX",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "SOM",
                "displayName": "SOM",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "SOV",
                "displayName": "SOV",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "ZSELLOUTCLIENTE",
                "displayName": "ZSELLOUTCLIENTE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "CUSTREGION",
                "displayName": "CUSTREGION",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "CUSTGROUP",
                "displayName": "CUSTGROUP",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "foreAct",
                "displayName": "foreAct",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "LAST_MONTH_SALE",
                "displayName": "LAST_MONTH_SALE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "meta_data_period",
                "displayName": "meta_data_period",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "meta_forecast_col",
                "displayName": "meta_forecast_col",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "count",
                "displayName": "count",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "MODEL_forecast_original",
                "displayName": "MODEL_forecast_original",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "MODEL_forecast_corrected",
                "displayName": "MODEL_forecast_corrected",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "MODEL_forecast_no_cap",
                "displayName": "MODEL_forecast_no_cap",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "MODEL_delta_pct",
                "displayName": "MODEL_delta_pct",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "MODEL_raw_delta_pct",
                "displayName": "MODEL_raw_delta_pct",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "MODEL_drivers",
                "displayName": "MODEL_drivers",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "debug_momentum_ratio",
                "displayName": "debug_momentum_ratio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "agent_explication",
                "displayName": "agent_explication",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          5008,
          1216
        ],
        "id": "8e891bef-fc25-4996-a52a-192a0029482f",
        "name": "Insert row"
      },
      {
        "parameters": {
          "batchSize": 1000,
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          4208,
          1216
        ],
        "id": "7fb277da-845b-4f50-99a2-59ca9c54e762",
        "name": "Loop Over Items1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "04d2c8c7-ddcc-44d6-9e60-38a0396af50c",
                "name": "CUSTID",
                "value": "={{ $('Loop Over Items1').item.json.CUSTID }}",
                "type": "string"
              },
              {
                "id": "4a49cd58-dec1-490e-afd5-780a2b5d97f1",
                "name": "PRDID",
                "value": "={{ $('Loop Over Items1').item.json.PRDID }}",
                "type": "string"
              },
              {
                "id": "cba94077-90a6-4442-b6af-5cccd27c3254",
                "name": "REGION",
                "value": "={{ $('Loop Over Items1').item.json.REGION }}",
                "type": "string"
              },
              {
                "id": "e137ae34-7ff8-4053-b725-beb9dde721e9",
                "name": "STATUS",
                "value": "={{ $('Loop Over Items1').item.json.STATUS }}",
                "type": "string"
              },
              {
                "id": "f02338c3-89ed-4d62-b75d-138830d167a9",
                "name": "STRATEGY",
                "value": "={{ $('Loop Over Items1').item.json.STRATEGY }}",
                "type": "string"
              },
              {
                "id": "fe7efc83-8bed-4b49-8f34-8cc6dfdaa50a",
                "name": "FINAL_SCORE",
                "value": "={{ $('Loop Over Items1').item.json.FINAL_SCORE }}",
                "type": "number"
              },
              {
                "id": "a8ec0647-bf38-40eb-ad81-f6959e78b013",
                "name": "JUSTIFICATION",
                "value": "={{ $('Loop Over Items1').item.json.JUSTIFICATION }}",
                "type": "string"
              },
              {
                "id": "eaa528bc-881b-45f7-9a89-93a0a45969e1",
                "name": "ERROR_SHARE",
                "value": "={{ $('Loop Over Items1').item.json.ERROR_SHARE }}",
                "type": "string"
              },
              {
                "id": "63885e43-4e45-413a-94fa-faf4fd1f1db0",
                "name": "IMPACT_SCORE",
                "value": "={{ $('Loop Over Items1').item.json.IMPACT_SCORE }}",
                "type": "string"
              },
              {
                "id": "ab721fdb-e8c0-428c-b394-5cac84d29478",
                "name": "SIGNAL_SCORE",
                "value": "={{ $('Loop Over Items1').item.json.SIGNAL_SCORE }}",
                "type": "string"
              },
              {
                "id": "72a83390-c3e2-4af1-8c39-15b8b1d2eafd",
                "name": "TOTAL_SALES",
                "value": "={{ $('Loop Over Items1').item.json.TOTAL_SALES }}",
                "type": "number"
              },
              {
                "id": "fb28de5e-5732-4c22-8aa9-e2104282bfee",
                "name": "BIAS",
                "value": "={{ $('Loop Over Items1').item.json.BIAS }}",
                "type": "string"
              },
              {
                "id": "d8d6495d-21e9-46e9-b4e7-2f66c0dfd927",
                "name": "WAPE",
                "value": "={{ $('Loop Over Items1').item.json.WAPE }}",
                "type": "string"
              },
              {
                "id": "88fedf00-d0c1-466a-81aa-920b41416c73",
                "name": "PERIODID3",
                "value": "={{ $('Loop Over Items1').item.json.PERIODID3 }}",
                "type": "string"
              },
              {
                "id": "779409bb-81cf-420a-9147-a9fc23b4a725",
                "name": "ADJUSTEDACTUALSQTY",
                "value": "={{ $('Loop Over Items1').item.json.ADJUSTEDACTUALSQTY }}",
                "type": "string"
              },
              {
                "id": "226e4bd4-d78e-497b-b6cd-69065acd39fb",
                "name": "MONTH",
                "value": "={{ $('Loop Over Items1').item.json.MONTH }}",
                "type": "string"
              },
              {
                "id": "f7821b2d-d3c3-4b9a-b397-a5aa39f53480",
                "name": "YEAR",
                "value": "={{ $('Loop Over Items1').item.json.YEAR }}",
                "type": "string"
              },
              {
                "id": "4be51186-c455-415b-bd26-8d920b97cf55",
                "name": "SEASON",
                "value": "={{ $('Loop Over Items1').item.json.SEASON }}",
                "type": "string"
              },
              {
                "id": "412ecb5c-91bc-40c7-85e6-63e2472d3eb6",
                "name": "PUNITARIO",
                "value": "={{ $('Loop Over Items1').item.json.PUNITARIO }}",
                "type": "string"
              },
              {
                "id": "7fd6a296-3ede-478a-83df-01dfec41744a",
                "name": "PINDEX",
                "value": "={{ $('Loop Over Items1').item.json.PINDEX }}",
                "type": "number"
              },
              {
                "id": "89b096c3-eca9-4361-9264-83a1dda2a1e5",
                "name": "SOM",
                "value": "={{ $('Loop Over Items1').item.json.SOM }}",
                "type": "string"
              },
              {
                "id": "ddfc6049-3b64-4d63-923a-d10aba9a59ae",
                "name": "SOV",
                "value": "={{ $('Loop Over Items1').item.json.SOV }}",
                "type": "string"
              },
              {
                "id": "260ac4f2-7f05-4adc-a45e-9d8afefeae02",
                "name": "ZSELLOUTCLIENTE",
                "value": "={{ $('Loop Over Items1').item.json.ZSELLOUTCLIENTE }}",
                "type": "number"
              },
              {
                "id": "128fed89-94bf-4bb3-a53c-3aff7e7f3a03",
                "name": "CUSTREGION",
                "value": "={{ $('Loop Over Items1').item.json.CUSTREGION }}",
                "type": "string"
              },
              {
                "id": "f97ba0e8-4cf6-428e-add3-ee45a1a649bf",
                "name": "CUSTGROUP",
                "value": "={{ $('Loop Over Items1').item.json.CUSTGROUP }}",
                "type": "string"
              },
              {
                "id": "1d517762-b5d6-4325-b36d-23981d7b182f",
                "name": "foreAct",
                "value": "={{ $('Loop Over Items1').item.json.foreAct }}",
                "type": "number"
              },
              {
                "id": "f0d60a72-95e4-4096-a97b-03caa70567cc",
                "name": "LAST_MONTH_SALE",
                "value": "={{ $('Loop Over Items1').item.json.LAST_MONTH_SALE }}",
                "type": "number"
              },
              {
                "id": "5c784026-18e4-42ce-b5a5-e90a981cb6e4",
                "name": "_meta_data_period",
                "value": "={{ $('Loop Over Items1').item.json._meta_data_period }}",
                "type": "string"
              },
              {
                "id": "5381c607-d01a-42bc-af19-1bb44a10662f",
                "name": "_meta_forecast_col",
                "value": "={{ $('Loop Over Items1').item.json._meta_forecast_col }}",
                "type": "string"
              },
              {
                "id": "c2ec1ab0-d609-4b84-86f3-08f25a1e3f98",
                "name": "_count",
                "value": "={{ $('Loop Over Items1').item.json._count }}",
                "type": "number"
              },
              {
                "id": "2acd6965-5d37-44b8-92f4-cf0603680556",
                "name": "MODEL_forecast_original",
                "value": "={{ $('Loop Over Items1').item.json.MODEL_forecast_original }}",
                "type": "number"
              },
              {
                "id": "5ae25e1a-89ef-4a76-b429-e3eb3155b7e6",
                "name": "MODEL_forecast_corrected",
                "value": "={{ $('Loop Over Items1').item.json.MODEL_forecast_corrected }}",
                "type": "number"
              },
              {
                "id": "280fdf70-63ce-4042-bd92-da54c5fe8c77",
                "name": "MODEL_forecast_no_cap",
                "value": "={{ $('Loop Over Items1').item.json.MODEL_forecast_no_cap }}",
                "type": "number"
              },
              {
                "id": "38aa1c08-bc01-4846-8bbe-6304639b3283",
                "name": "MODEL_delta_pct",
                "value": "={{ $('Loop Over Items1').item.json.MODEL_delta_pct }}",
                "type": "string"
              },
              {
                "id": "5f6c0043-b71d-443b-b050-fb290876ba3c",
                "name": "MODEL_raw_delta_pct",
                "value": "={{ $('Loop Over Items1').item.json.MODEL_raw_delta_pct }}",
                "type": "string"
              },
              {
                "id": "4db998df-f65e-4ab4-8971-6d6ad2dc317a",
                "name": "MODEL_drivers",
                "value": "={{ $('Loop Over Items1').item.json.MODEL_drivers }}",
                "type": "string"
              },
              {
                "id": "28e7a88b-e7dd-4542-97a6-f6aa793bb2fc",
                "name": "MODEL_drivers",
                "value": "={{ $('Loop Over Items1').item.json.MODEL_drivers }}",
                "type": "string"
              },
              {
                "id": "3cb87ffb-c01f-41fd-af58-d6b70ec2a8a3",
                "name": "_debug_status",
                "value": "={{ $('Loop Over Items1').item.json._debug_status }}",
                "type": "string"
              },
              {
                "id": "534f015e-e979-4eed-8602-b007d6469011",
                "name": "agent_explication",
                "value": "={{ $json.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4784,
          1088
        ],
        "id": "9f8d8f8e-a622-46ca-941f-6ab1f8e50dbd",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1-nano",
            "mode": "list",
            "cachedResultName": "gpt-4.1-nano"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          4512,
          1312
        ],
        "id": "1e2e9b5f-49ff-4b48-b43a-ed7a3c55af08",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "Z9zPhNW2TDZXLiTT",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT DISTINCT TO_CHAR(periodid3, 'YYYY-MM-DD') AS \"PERIODID3\"\nFROM molinos_consolidated_data\nWHERE periodid3 IS NOT NULL\nORDER BY \"PERIODID3\" ASC;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          2864,
          1136
        ],
        "id": "ae181138-0ec2-4826-9f14-146f1a698235",
        "name": "Execute a SQL query",
        "credentials": {
          "postgres": {
            "id": "ezJ6rP6dRWwFUGI9",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    -- 1. IDENTIFICADORES Y FECHA DE LOS DATOS HISTÓRICOS (dataFilter)\n    TO_CHAR(futuro.periodid3 - ({{ $json.target_period }} || ' month')::INTERVAL, 'YYYY-MM-DD') AS \"PERIODID3\",\n    futuro.prdid AS \"PRDID\",\n    futuro.custid AS \"CUSTID\",\n    \n    -- 2. MÉTRICAS HISTÓRICAS (Vienen del mes pasado. Si no hay, ponemos 0)\n    COALESCE(pasado.adjustedactualsqty, 0) AS \"ADJUSTEDACTUALSQTY\",\n    EXTRACT(MONTH FROM (futuro.periodid3 - ({{ $json.target_period }} || ' month')::INTERVAL)) AS \"MONTH\",\n    EXTRACT(YEAR FROM (futuro.periodid3 - ({{ $json.target_period }} || ' month')::INTERVAL)) AS \"YEAR\",\n    COALESCE(pasado.season, futuro.season) AS \"SEASON\",\n    COALESCE(pasado.punitario, 0) AS \"PUNITARIO\",\n    COALESCE(pasado.pindex, 0) AS \"PINDEX\",\n    COALESCE(pasado.som, 0) AS \"SOM\",\n    COALESCE(pasado.sov, 0) AS \"SOV\",\n    COALESCE(pasado.zselloutcliente, 0) AS \"ZSELLOUTCLIENTE\",\n    \n    -- 3. EL FORECAST (Viene del mes objetivo)\n    COALESCE(futuro.foreact, 0) AS \"foreAct\",\n    \n    -- 4. RENOMBRES ESPECÍFICOS PARA TU FLUJO\n    COALESCE(pasado.adjustedactualsqty, 0) AS \"LAST_MONTH_SALE\",\n    futuro.custregion AS \"CUSTREGION\",\n    futuro.custgroup AS \"CUSTGROUP\",\n    \n    -- 5. METADATA GENERADA AUTOMÁTICAMENTE\n    TO_CHAR(futuro.periodid3, 'YYYY-MM-DD') AS \"_meta_target_period\",\n    TO_CHAR(futuro.periodid3 - ({{ $json.target_period }} || ' month')::INTERVAL, 'YYYY-MM-DD') AS \"_meta_data_period\",\n    TO_CHAR(futuro.periodid3, 'YY-Mon') AS \"_meta_forecast_col\"\n\nFROM \n    molinos_consolidated_data futuro\n\n-- Hacemos un LEFT JOIN para buscar cómo estaba este mismo cliente el mes anterior (o según el offset)\nLEFT JOIN \n    molinos_consolidated_data pasado \n    ON futuro.custid = pasado.custid \n    AND futuro.prdid = pasado.prdid\n    AND pasado.periodid3 = (futuro.periodid3 - ({{ $json.target_period }} || ' month')::INTERVAL)\n\nWHERE \n    futuro.periodid3 = {{ $json.forecast_offset }}::DATE;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          3536,
          1232
        ],
        "id": "46538f4e-01b0-4233-8aa1-2b98484b0611",
        "name": "Execute a SQL query1",
        "credentials": {
          "postgres": {
            "id": "ezJ6rP6dRWwFUGI9",
            "name": "Postgres account"
          }
        }
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Convert to File1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "leer documentos2": {
        "main": [
          []
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Execute a SQL query1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "iniciar-modelo-corrector": {
        "main": [
          [
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File1": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert row": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Insert row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query1": {
        "main": [
          []
        ]
      }
    },
    "authors": "Juan  lyncros",
    "name": "Version 46efdccd",
    "description": "",
    "autosaved": false
  },
  "tags": []
}