workflow/Datos globales.json
{
  "updatedAt": "2026-02-20T05:23:01.981Z",
  "createdAt": "2026-02-19T14:28:10.515Z",
  "id": "5R0WRVRo46_uakYP9lOfS",
  "name": "Datos globales",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    fc.\"_meta_target_period\" AS \"Mes_Objetivo\",\n    \n    -- Venta Real Total del mes\n    SUM(COALESCE(real_data.adjustedactualsqty, 0)) AS \"Venta_Real_Total\",\n    \n    -- WAPE Original\n    SUM(ABS(fc.\"MODEL_forecast_original\" - COALESCE(real_data.adjustedactualsqty, 0))) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0) AS \"WAPE_Original\",\n    \n    -- WAPE Corregido (Modelo IA)\n    SUM(ABS(fc.\"MODEL_forecast_corrected\" - COALESCE(real_data.adjustedactualsqty, 0))) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0) AS \"WAPE_Corregido\",\n    \n    -- BIAS Original\n    SUM(fc.\"MODEL_forecast_original\" - COALESCE(real_data.adjustedactualsqty, 0)) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0) AS \"BIAS_Original\",\n    \n    -- BIAS Corregido (Modelo IA)\n    SUM(fc.\"MODEL_forecast_corrected\" - COALESCE(real_data.adjustedactualsqty, 0)) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0) AS \"BIAS_Corregido\",\n\n    -- Unidades Totales Agregadas o Quitadas por el modelo\n    SUM(fc.\"MODEL_forecast_corrected\") - SUM(fc.\"MODEL_forecast_original\") AS \"Unidades_Modificadas_Netas\"\n\nFROM molinos_forecast_corregido fc\nLEFT JOIN molinos_consolidated_data real_data\n    ON fc.\"CUSTID\" = real_data.custid\n    AND fc.\"PRDID\" = real_data.prdid\n    AND fc.\"_meta_target_period\" = real_data.periodid3\nGROUP BY \n    fc.\"_meta_target_period\"\nORDER BY \n    fc.\"_meta_target_period\" DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1040,
        128
      ],
      "id": "3f96a4c0-26c8-40d2-9638-a3001fc32f8f",
      "name": "extraer datos globales completos",
      "credentials": {
        "postgres": {
          "id": "ezJ6rP6dRWwFUGI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "path": "datos-globales-completos",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1264,
        -160
      ],
      "id": "042b8244-ceac-4c1f-a424-f329d5b01f99",
      "name": "completo",
      "webhookId": "fc4df680-1c0c-460f-98df-9c91992a9eb6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    -- Venta Real Total (Toda la historia)\n    SUM(COALESCE(real_data.adjustedactualsqty, 0)) AS \"Venta_Real_Total\",\n    \n    -- WAPE Original Global\n    SUM(ABS(fc.\"MODEL_forecast_original\" - COALESCE(real_data.adjustedactualsqty, 0))) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0) AS \"WAPE_Original_Global\",\n    \n    -- WAPE Corregido Global (Modelo IA)\n    SUM(ABS(fc.\"MODEL_forecast_corrected\" - COALESCE(real_data.adjustedactualsqty, 0))) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0) AS \"WAPE_Corregido_Global\",\n    \n    -- BIAS Original Global\n    SUM(fc.\"MODEL_forecast_original\" - COALESCE(real_data.adjustedactualsqty, 0)) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0) AS \"BIAS_Original_Global\",\n    \n    -- BIAS Corregido Global (Modelo IA)\n    SUM(fc.\"MODEL_forecast_corrected\" - COALESCE(real_data.adjustedactualsqty, 0)) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0) AS \"BIAS_Corregido_Global\",\n\n    -- Unidades Totales Agregadas o Quitadas en toda la historia\n    SUM(fc.\"MODEL_forecast_corrected\") - SUM(fc.\"MODEL_forecast_original\") AS \"Unidades_Modificadas_Netas\"\n\nFROM molinos_forecast_corregido fc\nLEFT JOIN molinos_consolidated_data real_data\n    ON fc.\"CUSTID\" = real_data.custid\n    AND fc.\"PRDID\" = real_data.prdid\n    AND fc.\"_meta_target_period\" = real_data.periodid3;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1040,
        -64
      ],
      "id": "7510bb7c-a8b9-4320-bc89-d294d276f734",
      "name": "extraer datos globales por mes",
      "credentials": {
        "postgres": {
          "id": "ezJ6rP6dRWwFUGI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    fc.\"STATUS\",\n    \n    -- Volumen de datos en este segmento\n    COUNT(*) AS \"Cantidad_Items\",\n    SUM(COALESCE(real_data.adjustedactualsqty, 0)) AS \"Venta_Real_Total\",\n    \n    -- Rendimiento WAPE\n    ROUND((SUM(ABS(fc.\"MODEL_forecast_original\" - COALESCE(real_data.adjustedactualsqty, 0))) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0)), 4) AS \"WAPE_Original\",\n    \n    ROUND((SUM(ABS(fc.\"MODEL_forecast_corrected\" - COALESCE(real_data.adjustedactualsqty, 0))) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0)), 4) AS \"WAPE_Corregido\",\n    \n    -- Rendimiento BIAS\n    ROUND((SUM(fc.\"MODEL_forecast_original\" - COALESCE(real_data.adjustedactualsqty, 0)) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0)), 4) AS \"BIAS_Original\",\n    \n    ROUND((SUM(fc.\"MODEL_forecast_corrected\" - COALESCE(real_data.adjustedactualsqty, 0)) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0)), 4) AS \"BIAS_Corregido\",\n\n    -- Modificaciones del Modelo\n    SUM(fc.\"MODEL_forecast_corrected\") - SUM(fc.\"MODEL_forecast_original\") AS \"Unidades_Modificadas_Netas\"\n\nFROM molinos_forecast_corregido fc\nLEFT JOIN molinos_consolidated_data real_data\n    ON fc.\"CUSTID\" = real_data.custid\n    AND fc.\"PRDID\" = real_data.prdid\n    AND fc.\"_meta_target_period\" = real_data.periodid3\nGROUP BY \n    fc.\"STATUS\"\nORDER BY \n    \"Venta_Real_Total\" DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1040,
        512
      ],
      "id": "3671e096-a594-4ef9-9858-8674d0f7bf5b",
      "name": "extraer datos globales por status",
      "credentials": {
        "postgres": {
          "id": "ezJ6rP6dRWwFUGI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    TO_CHAR(fc.\"_meta_target_period\", 'YYYY-MM') AS \"Mes\",\n    fc.\"STATUS\" AS \"Estatus\",\n    \n    -- Volumen de datos\n    COUNT(*) AS \"Cantidad_Items\",\n    SUM(COALESCE(real_data.adjustedactualsqty, 0)) AS \"Venta_Real_Total\",\n    \n    -- Rendimiento WAPE\n    ROUND((SUM(ABS(fc.\"MODEL_forecast_original\" - COALESCE(real_data.adjustedactualsqty, 0))) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0)), 4) AS \"WAPE_Original\",\n    \n    ROUND((SUM(ABS(fc.\"MODEL_forecast_corrected\" - COALESCE(real_data.adjustedactualsqty, 0))) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0)), 4) AS \"WAPE_Corregido\",\n    \n    -- Rendimiento BIAS\n    ROUND((SUM(fc.\"MODEL_forecast_original\" - COALESCE(real_data.adjustedactualsqty, 0)) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0)), 4) AS \"BIAS_Original\",\n    \n    ROUND((SUM(fc.\"MODEL_forecast_corrected\" - COALESCE(real_data.adjustedactualsqty, 0)) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0)), 4) AS \"BIAS_Corregido\",\n\n    -- Modificaciones netas del Modelo\n    SUM(fc.\"MODEL_forecast_corrected\") - SUM(fc.\"MODEL_forecast_original\") AS \"Unidades_Modificadas_Netas\"\n\nFROM molinos_forecast_corregido fc\nLEFT JOIN molinos_consolidated_data real_data\n    ON fc.\"CUSTID\" = real_data.custid\n    AND fc.\"PRDID\" = real_data.prdid\n    AND fc.\"_meta_target_period\" = real_data.periodid3\nGROUP BY \n    fc.\"_meta_target_period\",\n    fc.\"STATUS\"\nORDER BY \n    fc.\"_meta_target_period\" DESC,\n    \"Venta_Real_Total\" DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1040,
        704
      ],
      "id": "4f5f4fe5-f601-495d-8c6d-f076c982b7d7",
      "name": "extraer datos globales por status y mes",
      "credentials": {
        "postgres": {
          "id": "ezJ6rP6dRWwFUGI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "path": "datos-globales-mes",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1264,
        32
      ],
      "id": "e8b21472-6a6e-45d4-86ca-2ddb81a1a5ea",
      "name": "mes",
      "webhookId": "fc4df680-1c0c-460f-98df-9c91992a9eb6"
    },
    {
      "parameters": {
        "path": "datos-globales-status",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1264,
        608
      ],
      "id": "28b61b9e-ed15-41bf-b9e5-a81b28c3676c",
      "name": "status",
      "webhookId": "fc4df680-1c0c-460f-98df-9c91992a9eb6"
    },
    {
      "parameters": {
        "path": "datos-globales-status-mes",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1264,
        800
      ],
      "id": "c7881a1a-ebb7-4882-a08d-0be5652bb78e",
      "name": "status-mes",
      "webhookId": "fc4df680-1c0c-460f-98df-9c91992a9eb6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1264,
        320
      ],
      "id": "42d8c32d-b22b-40d5-b281-22ab4ef7a8b6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4526de09-f20f-4e0b-9fa8-ad5e2e12caf5",
              "leftValue": "={{ $json.STATUS }}",
              "rightValue": "={{ $('status').item.json.query.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -816,
        512
      ],
      "id": "7c5d60eb-754a-4850-bf3e-2dd151a86f78",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4526de09-f20f-4e0b-9fa8-ad5e2e12caf5",
              "leftValue": "={{ $json.Estatus }}",
              "rightValue": "={{ $('status-mes').item.json.query.status }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a294b9ae-b69e-4668-a0a5-92e1ef0033f7",
              "leftValue": "={{ $json.Mes }}",
              "rightValue": "={{ $('status-mes').item.json.query.date.toDateTime().format('yyyy-MM') }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -816,
        704
      ],
      "id": "fcbf39b3-0aad-4710-b80d-113029d621e8",
      "name": "Filter1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a294b9ae-b69e-4668-a0a5-92e1ef0033f7",
              "leftValue": "={{ $json.Mes_Objetivo.toDateTime().format('yyyy-MM') }}",
              "rightValue": "={{ $('mes').item.json.query.date.toDateTime().format('yyyy-MM') }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -816,
        128
      ],
      "id": "638d4194-8af4-4830-88d8-469c99e0351c",
      "name": "Filter3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    fc.\"PRDID\", \n    fc.\"CUSTID\",\n    fc.\"foreAct\" AS \"Forecast_Original\",\n    fc.\"MODEL_forecast_corrected\" AS \"Prediccion_IA\",\n    real_data.adjustedactualsqty AS \"Venta_Real\",\n    ABS(fc.\"MODEL_forecast_corrected\" - real_data.adjustedactualsqty) AS \"Error_Absoluto\",\n    fc.\"MODEL_drivers\"\nFROM molinos_forecast_corregido fc\nJOIN molinos_consolidated_data real_data \n    ON fc.\"CUSTID\" = real_data.custid \n    AND fc.\"PRDID\" = real_data.prdid \n    AND fc.\"_meta_target_period\" = real_data.periodid3\nWHERE fc.\"STATUS\" = 'CHAOS'\nORDER BY \"Error_Absoluto\" DESC\nLIMIT 10;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1264,
        1024
      ],
      "id": "2783704a-a39b-443e-8c51-fed6ba360eb1",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "ezJ6rP6dRWwFUGI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "befda4e4-dceb-46e4-9d8b-4d260f8e4e70",
              "name": "Venta_Real_Total",
              "value": "={{ Number($json.Venta_Real_Total).toLocaleString('es-VE', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}",
              "type": "string"
            },
            {
              "id": "2fc20671-0625-4fa6-a54d-30f4d226963a",
              "name": "WAPE_Original_Global",
              "value": "={{ Number($json.WAPE_Original_Global).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
              "type": "string"
            },
            {
              "id": "03162dce-5af6-482c-8c94-6748d82cf6c8",
              "name": "WAPE_Corregido_Global",
              "value": "={{ Number($json.WAPE_Corregido_Global).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
              "type": "string"
            },
            {
              "id": "aee6437b-4232-4666-b729-51fd3c782b67",
              "name": "BIAS_Original_Global",
              "value": "={{ Number($json.BIAS_Original_Global).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
              "type": "string"
            },
            {
              "id": "b99b7c06-c9ec-4857-9066-6c519ac7e58f",
              "name": "BIAS_Corregido_Global",
              "value": "={{ Number($json.BIAS_Corregido_Global).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
              "type": "string"
            },
            {
              "id": "a37bd6be-cc62-45b3-ab4a-3e484b0891ec",
              "name": "Unidades_Modificadas_Netas",
              "value": "={{ Number($json.Unidades_Modificadas_Netas).toLocaleString('es-VE', { minimumFractionDigits: 0, maximumFractionDigits: 0 }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        -64
      ],
      "id": "e5295eb4-1aff-4d52-9b57-d9385816d012",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "befda4e4-dceb-46e4-9d8b-4d260f8e4e70",
              "name": "Venta_Real_Total",
              "value": "={{ Number($json.Venta_Real_Total).toLocaleString('es-VE', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}",
              "type": "string"
            },
            {
              "id": "2fc20671-0625-4fa6-a54d-30f4d226963a",
              "name": "WAPE_Original",
              "value": "={{ Number($json.WAPE_Original).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
              "type": "string"
            },
            {
              "id": "03162dce-5af6-482c-8c94-6748d82cf6c8",
              "name": "WAPE_Corregido",
              "value": "={{ Number($json.WAPE_Corregido).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
              "type": "string"
            },
            {
              "id": "aee6437b-4232-4666-b729-51fd3c782b67",
              "name": "BIAS_Original",
              "value": "={{ Number($json.BIAS_Original).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
              "type": "string"
            },
            {
              "id": "b99b7c06-c9ec-4857-9066-6c519ac7e58f",
              "name": "BIAS_Corregido",
              "value": "={{ Number($json.BIAS_Corregido).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
              "type": "string"
            },
            {
              "id": "a37bd6be-cc62-45b3-ab4a-3e484b0891ec",
              "name": "Unidades_Modificadas_Netas",
              "value": "={{ Number($json.Unidades_Modificadas_Netas).toLocaleString('es', { minimumFractionDigits: 0, maximumFractionDigits: 0 }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        128
      ],
      "id": "f6a24408-abc7-4763-a844-d7d5d04a6930",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "befda4e4-dceb-46e4-9d8b-4d260f8e4e70",
              "name": "Venta_Real_Total",
              "value": "={{ Number($json.Venta_Real_Total).toLocaleString('es-VE', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}",
              "type": "string"
            },
            {
              "id": "2fc20671-0625-4fa6-a54d-30f4d226963a",
              "name": "WAPE_Original",
              "value": "={{ Number($json.WAPE_Original).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
              "type": "string"
            },
            {
              "id": "03162dce-5af6-482c-8c94-6748d82cf6c8",
              "name": "WAPE_Corregido",
              "value": "={{ Number($json.WAPE_Corregido).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
              "type": "string"
            },
            {
              "id": "aee6437b-4232-4666-b729-51fd3c782b67",
              "name": "BIAS_Original",
              "value": "={{ Number($json.BIAS_Original).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
              "type": "string"
            },
            {
              "id": "b99b7c06-c9ec-4857-9066-6c519ac7e58f",
              "name": "BIAS_Corregido",
              "value": "={{ Number($json.BIAS_Corregido).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
              "type": "string"
            },
            {
              "id": "a37bd6be-cc62-45b3-ab4a-3e484b0891ec",
              "name": "Unidades_Modificadas_Netas",
              "value": "={{ Number($json.Unidades_Modificadas_Netas).toLocaleString('es', { minimumFractionDigits: 0, maximumFractionDigits: 0 }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        512
      ],
      "id": "58ae1e08-9049-483e-8ba3-deb1d938e7bf",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "befda4e4-dceb-46e4-9d8b-4d260f8e4e70",
              "name": "Venta_Real_Total",
              "value": "={{ Number($json.Venta_Real_Total).toLocaleString('es-VE', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}",
              "type": "string"
            },
            {
              "id": "2fc20671-0625-4fa6-a54d-30f4d226963a",
              "name": "WAPE_Original",
              "value": "={{ Number($json.WAPE_Original).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
              "type": "string"
            },
            {
              "id": "03162dce-5af6-482c-8c94-6748d82cf6c8",
              "name": "WAPE_Corregido",
              "value": "={{ Number($json.WAPE_Corregido).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
              "type": "string"
            },
            {
              "id": "aee6437b-4232-4666-b729-51fd3c782b67",
              "name": "BIAS_Original",
              "value": "={{ Number($json.BIAS_Original).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
              "type": "string"
            },
            {
              "id": "b99b7c06-c9ec-4857-9066-6c519ac7e58f",
              "name": "BIAS_Corregido",
              "value": "={{ Number($json.BIAS_Corregido).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
              "type": "string"
            },
            {
              "id": "a37bd6be-cc62-45b3-ab4a-3e484b0891ec",
              "name": "Unidades_Modificadas_Netas",
              "value": "={{ Number($json.Unidades_Modificadas_Netas).toLocaleString('es', { minimumFractionDigits: 0, maximumFractionDigits: 0 }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        704
      ],
      "id": "213ada36-b277-4c26-93b4-50b5ce76e1c4",
      "name": "Edit Fields5"
    }
  ],
  "connections": {
    "extraer datos globales completos": {
      "main": [
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "completo": {
      "main": [
        [
          {
            "node": "extraer datos globales por mes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mes": {
      "main": [
        [
          {
            "node": "extraer datos globales completos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "status": {
      "main": [
        [
          {
            "node": "extraer datos globales por status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "status-mes": {
      "main": [
        [
          {
            "node": "extraer datos globales por status y mes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extraer datos globales por mes": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extraer datos globales por status": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extraer datos globales por status y mes": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "extraer datos globales completos",
            "type": "main",
            "index": 0
          },
          {
            "node": "extraer datos globales por mes",
            "type": "main",
            "index": 0
          },
          {
            "node": "extraer datos globales por status",
            "type": "main",
            "index": 0
          },
          {
            "node": "extraer datos globales por status y mes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "completo": [
      {
        "json": {
          "headers": {
            "host": "lab.lyncros.com:5678",
            "connection": "keep-alive",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36 OPR/127.0.0.0 (Edition std-2)",
            "sec-ch-ua": "\"Opera GX\";v=\"127\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "http://localhost:5173",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "http://localhost:5173/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-419,es;q=0.9,en;q=0.8,id;q=0.7,uk;q=0.6,th;q=0.5",
            "if-none-match": "W/\"116-rdTvz7B+swLQEREy2kleT7zngc8\""
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://lab.lyncros.com:5678/webhook/datos-globales-completos",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "mes": [
      {
        "json": {
          "headers": {
            "host": "lab.lyncros.com:5678",
            "connection": "keep-alive",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36 OPR/127.0.0.0 (Edition std-2)",
            "sec-ch-ua": "\"Opera GX\";v=\"127\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "http://localhost:5173",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "http://localhost:5173/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-419,es;q=0.9,en;q=0.8,id;q=0.7,uk;q=0.6,th;q=0.5"
          },
          "params": {},
          "query": {
            "date": "2024-05-01",
            "fecha": "2024-05-01"
          },
          "body": {},
          "webhookUrl": "https://lab.lyncros.com:5678/webhook/datos-globales-mes",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "status": [
      {
        "json": {
          "headers": {
            "host": "lab.lyncros.com:5678",
            "connection": "keep-alive",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36 OPR/127.0.0.0 (Edition std-2)",
            "sec-ch-ua": "\"Opera GX\";v=\"127\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "http://localhost:5173",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "http://localhost:5173/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-419,es;q=0.9,en;q=0.8,id;q=0.7,uk;q=0.6,th;q=0.5",
            "if-none-match": "W/\"e2-EUSLJZHCKcEqo4UszfqjhE9h9GI\""
          },
          "params": {},
          "query": {
            "status": "CRITICAL",
            "STATUS": "CRITICAL",
            "category": "CRITICAL",
            "categoria": "CRITICAL"
          },
          "body": {},
          "webhookUrl": "https://lab.lyncros.com:5678/webhook/datos-globales-status",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "status-mes": [
      {
        "json": {
          "headers": {
            "host": "lab.lyncros.com:5678",
            "connection": "keep-alive",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36 OPR/127.0.0.0 (Edition std-2)",
            "sec-ch-ua": "\"Opera GX\";v=\"127\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "http://localhost:5173",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "http://localhost:5173/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-419,es;q=0.9,en;q=0.8,id;q=0.7,uk;q=0.6,th;q=0.5"
          },
          "params": {},
          "query": {
            "date": "2023-09-01",
            "fecha": "2023-09-01",
            "status": "PROBLEMATIC",
            "STATUS": "PROBLEMATIC",
            "category": "PROBLEMATIC",
            "categoria": "PROBLEMATIC",
            "month": "9",
            "MONTH": "9",
            "mes": "9",
            "year": "2023",
            "YEAR": "2023",
            "anio": "2023"
          },
          "body": {},
          "webhookUrl": "https://lab.lyncros.com:5678/webhook/datos-globales-status-mes",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "d043f33c-59c7-45c4-9fba-b470b4578958",
  "activeVersionId": "d043f33c-59c7-45c4-9fba-b470b4578958",
  "triggerCount": 4,
  "shared": [
    {
      "updatedAt": "2026-02-19T14:28:10.515Z",
      "createdAt": "2026-02-19T14:28:10.515Z",
      "role": "workflow:owner",
      "workflowId": "5R0WRVRo46_uakYP9lOfS",
      "projectId": "9axjLTcJCvAcwxP1"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-20T05:23:04.045Z",
    "createdAt": "2026-02-20T05:23:01.983Z",
    "versionId": "d043f33c-59c7-45c4-9fba-b470b4578958",
    "workflowId": "5R0WRVRo46_uakYP9lOfS",
    "nodes": [
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    fc.\"_meta_target_period\" AS \"Mes_Objetivo\",\n    \n    -- Venta Real Total del mes\n    SUM(COALESCE(real_data.adjustedactualsqty, 0)) AS \"Venta_Real_Total\",\n    \n    -- WAPE Original\n    SUM(ABS(fc.\"MODEL_forecast_original\" - COALESCE(real_data.adjustedactualsqty, 0))) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0) AS \"WAPE_Original\",\n    \n    -- WAPE Corregido (Modelo IA)\n    SUM(ABS(fc.\"MODEL_forecast_corrected\" - COALESCE(real_data.adjustedactualsqty, 0))) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0) AS \"WAPE_Corregido\",\n    \n    -- BIAS Original\n    SUM(fc.\"MODEL_forecast_original\" - COALESCE(real_data.adjustedactualsqty, 0)) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0) AS \"BIAS_Original\",\n    \n    -- BIAS Corregido (Modelo IA)\n    SUM(fc.\"MODEL_forecast_corrected\" - COALESCE(real_data.adjustedactualsqty, 0)) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0) AS \"BIAS_Corregido\",\n\n    -- Unidades Totales Agregadas o Quitadas por el modelo\n    SUM(fc.\"MODEL_forecast_corrected\") - SUM(fc.\"MODEL_forecast_original\") AS \"Unidades_Modificadas_Netas\"\n\nFROM molinos_forecast_corregido fc\nLEFT JOIN molinos_consolidated_data real_data\n    ON fc.\"CUSTID\" = real_data.custid\n    AND fc.\"PRDID\" = real_data.prdid\n    AND fc.\"_meta_target_period\" = real_data.periodid3\nGROUP BY \n    fc.\"_meta_target_period\"\nORDER BY \n    fc.\"_meta_target_period\" DESC;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1040,
          128
        ],
        "id": "3f96a4c0-26c8-40d2-9638-a3001fc32f8f",
        "name": "extraer datos globales completos",
        "credentials": {
          "postgres": {
            "id": "ezJ6rP6dRWwFUGI9",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "path": "datos-globales-completos",
          "responseMode": "lastNode",
          "responseData": "allEntries",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1264,
          -160
        ],
        "id": "042b8244-ceac-4c1f-a424-f329d5b01f99",
        "name": "completo",
        "webhookId": "fc4df680-1c0c-460f-98df-9c91992a9eb6"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    -- Venta Real Total (Toda la historia)\n    SUM(COALESCE(real_data.adjustedactualsqty, 0)) AS \"Venta_Real_Total\",\n    \n    -- WAPE Original Global\n    SUM(ABS(fc.\"MODEL_forecast_original\" - COALESCE(real_data.adjustedactualsqty, 0))) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0) AS \"WAPE_Original_Global\",\n    \n    -- WAPE Corregido Global (Modelo IA)\n    SUM(ABS(fc.\"MODEL_forecast_corrected\" - COALESCE(real_data.adjustedactualsqty, 0))) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0) AS \"WAPE_Corregido_Global\",\n    \n    -- BIAS Original Global\n    SUM(fc.\"MODEL_forecast_original\" - COALESCE(real_data.adjustedactualsqty, 0)) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0) AS \"BIAS_Original_Global\",\n    \n    -- BIAS Corregido Global (Modelo IA)\n    SUM(fc.\"MODEL_forecast_corrected\" - COALESCE(real_data.adjustedactualsqty, 0)) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0) AS \"BIAS_Corregido_Global\",\n\n    -- Unidades Totales Agregadas o Quitadas en toda la historia\n    SUM(fc.\"MODEL_forecast_corrected\") - SUM(fc.\"MODEL_forecast_original\") AS \"Unidades_Modificadas_Netas\"\n\nFROM molinos_forecast_corregido fc\nLEFT JOIN molinos_consolidated_data real_data\n    ON fc.\"CUSTID\" = real_data.custid\n    AND fc.\"PRDID\" = real_data.prdid\n    AND fc.\"_meta_target_period\" = real_data.periodid3;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1040,
          -64
        ],
        "id": "7510bb7c-a8b9-4320-bc89-d294d276f734",
        "name": "extraer datos globales por mes",
        "credentials": {
          "postgres": {
            "id": "ezJ6rP6dRWwFUGI9",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    fc.\"STATUS\",\n    \n    -- Volumen de datos en este segmento\n    COUNT(*) AS \"Cantidad_Items\",\n    SUM(COALESCE(real_data.adjustedactualsqty, 0)) AS \"Venta_Real_Total\",\n    \n    -- Rendimiento WAPE\n    ROUND((SUM(ABS(fc.\"MODEL_forecast_original\" - COALESCE(real_data.adjustedactualsqty, 0))) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0)), 4) AS \"WAPE_Original\",\n    \n    ROUND((SUM(ABS(fc.\"MODEL_forecast_corrected\" - COALESCE(real_data.adjustedactualsqty, 0))) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0)), 4) AS \"WAPE_Corregido\",\n    \n    -- Rendimiento BIAS\n    ROUND((SUM(fc.\"MODEL_forecast_original\" - COALESCE(real_data.adjustedactualsqty, 0)) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0)), 4) AS \"BIAS_Original\",\n    \n    ROUND((SUM(fc.\"MODEL_forecast_corrected\" - COALESCE(real_data.adjustedactualsqty, 0)) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0)), 4) AS \"BIAS_Corregido\",\n\n    -- Modificaciones del Modelo\n    SUM(fc.\"MODEL_forecast_corrected\") - SUM(fc.\"MODEL_forecast_original\") AS \"Unidades_Modificadas_Netas\"\n\nFROM molinos_forecast_corregido fc\nLEFT JOIN molinos_consolidated_data real_data\n    ON fc.\"CUSTID\" = real_data.custid\n    AND fc.\"PRDID\" = real_data.prdid\n    AND fc.\"_meta_target_period\" = real_data.periodid3\nGROUP BY \n    fc.\"STATUS\"\nORDER BY \n    \"Venta_Real_Total\" DESC;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1040,
          512
        ],
        "id": "3671e096-a594-4ef9-9858-8674d0f7bf5b",
        "name": "extraer datos globales por status",
        "credentials": {
          "postgres": {
            "id": "ezJ6rP6dRWwFUGI9",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    TO_CHAR(fc.\"_meta_target_period\", 'YYYY-MM') AS \"Mes\",\n    fc.\"STATUS\" AS \"Estatus\",\n    \n    -- Volumen de datos\n    COUNT(*) AS \"Cantidad_Items\",\n    SUM(COALESCE(real_data.adjustedactualsqty, 0)) AS \"Venta_Real_Total\",\n    \n    -- Rendimiento WAPE\n    ROUND((SUM(ABS(fc.\"MODEL_forecast_original\" - COALESCE(real_data.adjustedactualsqty, 0))) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0)), 4) AS \"WAPE_Original\",\n    \n    ROUND((SUM(ABS(fc.\"MODEL_forecast_corrected\" - COALESCE(real_data.adjustedactualsqty, 0))) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0)), 4) AS \"WAPE_Corregido\",\n    \n    -- Rendimiento BIAS\n    ROUND((SUM(fc.\"MODEL_forecast_original\" - COALESCE(real_data.adjustedactualsqty, 0)) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0)), 4) AS \"BIAS_Original\",\n    \n    ROUND((SUM(fc.\"MODEL_forecast_corrected\" - COALESCE(real_data.adjustedactualsqty, 0)) / \n    NULLIF(SUM(COALESCE(real_data.adjustedactualsqty, 0)), 0)), 4) AS \"BIAS_Corregido\",\n\n    -- Modificaciones netas del Modelo\n    SUM(fc.\"MODEL_forecast_corrected\") - SUM(fc.\"MODEL_forecast_original\") AS \"Unidades_Modificadas_Netas\"\n\nFROM molinos_forecast_corregido fc\nLEFT JOIN molinos_consolidated_data real_data\n    ON fc.\"CUSTID\" = real_data.custid\n    AND fc.\"PRDID\" = real_data.prdid\n    AND fc.\"_meta_target_period\" = real_data.periodid3\nGROUP BY \n    fc.\"_meta_target_period\",\n    fc.\"STATUS\"\nORDER BY \n    fc.\"_meta_target_period\" DESC,\n    \"Venta_Real_Total\" DESC;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1040,
          704
        ],
        "id": "4f5f4fe5-f601-495d-8c6d-f076c982b7d7",
        "name": "extraer datos globales por status y mes",
        "credentials": {
          "postgres": {
            "id": "ezJ6rP6dRWwFUGI9",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "path": "datos-globales-mes",
          "responseMode": "lastNode",
          "responseData": "allEntries",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1264,
          32
        ],
        "id": "e8b21472-6a6e-45d4-86ca-2ddb81a1a5ea",
        "name": "mes",
        "webhookId": "fc4df680-1c0c-460f-98df-9c91992a9eb6"
      },
      {
        "parameters": {
          "path": "datos-globales-status",
          "responseMode": "lastNode",
          "responseData": "allEntries",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1264,
          608
        ],
        "id": "28b61b9e-ed15-41bf-b9e5-a81b28c3676c",
        "name": "status",
        "webhookId": "fc4df680-1c0c-460f-98df-9c91992a9eb6"
      },
      {
        "parameters": {
          "path": "datos-globales-status-mes",
          "responseMode": "lastNode",
          "responseData": "allEntries",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1264,
          800
        ],
        "id": "c7881a1a-ebb7-4882-a08d-0be5652bb78e",
        "name": "status-mes",
        "webhookId": "fc4df680-1c0c-460f-98df-9c91992a9eb6"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -1264,
          320
        ],
        "id": "42d8c32d-b22b-40d5-b281-22ab4ef7a8b6",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "4526de09-f20f-4e0b-9fa8-ad5e2e12caf5",
                "leftValue": "={{ $json.STATUS }}",
                "rightValue": "={{ $('status').item.json.query.status }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          -816,
          512
        ],
        "id": "7c5d60eb-754a-4850-bf3e-2dd151a86f78",
        "name": "Filter"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "4526de09-f20f-4e0b-9fa8-ad5e2e12caf5",
                "leftValue": "={{ $json.Estatus }}",
                "rightValue": "={{ $('status-mes').item.json.query.status }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "a294b9ae-b69e-4668-a0a5-92e1ef0033f7",
                "leftValue": "={{ $json.Mes }}",
                "rightValue": "={{ $('status-mes').item.json.query.date.toDateTime().format('yyyy-MM') }}",
                "operator": {
                  "type": "dateTime",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          -816,
          704
        ],
        "id": "fcbf39b3-0aad-4710-b80d-113029d621e8",
        "name": "Filter1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "a294b9ae-b69e-4668-a0a5-92e1ef0033f7",
                "leftValue": "={{ $json.Mes_Objetivo.toDateTime().format('yyyy-MM') }}",
                "rightValue": "={{ $('mes').item.json.query.date.toDateTime().format('yyyy-MM') }}",
                "operator": {
                  "type": "dateTime",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          -816,
          128
        ],
        "id": "638d4194-8af4-4830-88d8-469c99e0351c",
        "name": "Filter3"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    fc.\"PRDID\", \n    fc.\"CUSTID\",\n    fc.\"foreAct\" AS \"Forecast_Original\",\n    fc.\"MODEL_forecast_corrected\" AS \"Prediccion_IA\",\n    real_data.adjustedactualsqty AS \"Venta_Real\",\n    ABS(fc.\"MODEL_forecast_corrected\" - real_data.adjustedactualsqty) AS \"Error_Absoluto\",\n    fc.\"MODEL_drivers\"\nFROM molinos_forecast_corregido fc\nJOIN molinos_consolidated_data real_data \n    ON fc.\"CUSTID\" = real_data.custid \n    AND fc.\"PRDID\" = real_data.prdid \n    AND fc.\"_meta_target_period\" = real_data.periodid3\nWHERE fc.\"STATUS\" = 'CHAOS'\nORDER BY \"Error_Absoluto\" DESC\nLIMIT 10;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1264,
          1024
        ],
        "id": "2783704a-a39b-443e-8c51-fed6ba360eb1",
        "name": "Execute a SQL query",
        "credentials": {
          "postgres": {
            "id": "ezJ6rP6dRWwFUGI9",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "befda4e4-dceb-46e4-9d8b-4d260f8e4e70",
                "name": "Venta_Real_Total",
                "value": "={{ Number($json.Venta_Real_Total).toLocaleString('es-VE', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}",
                "type": "string"
              },
              {
                "id": "2fc20671-0625-4fa6-a54d-30f4d226963a",
                "name": "WAPE_Original_Global",
                "value": "={{ Number($json.WAPE_Original_Global).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
                "type": "string"
              },
              {
                "id": "03162dce-5af6-482c-8c94-6748d82cf6c8",
                "name": "WAPE_Corregido_Global",
                "value": "={{ Number($json.WAPE_Corregido_Global).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
                "type": "string"
              },
              {
                "id": "aee6437b-4232-4666-b729-51fd3c782b67",
                "name": "BIAS_Original_Global",
                "value": "={{ Number($json.BIAS_Original_Global).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
                "type": "string"
              },
              {
                "id": "b99b7c06-c9ec-4857-9066-6c519ac7e58f",
                "name": "BIAS_Corregido_Global",
                "value": "={{ Number($json.BIAS_Corregido_Global).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
                "type": "string"
              },
              {
                "id": "a37bd6be-cc62-45b3-ab4a-3e484b0891ec",
                "name": "Unidades_Modificadas_Netas",
                "value": "={{ Number($json.Unidades_Modificadas_Netas).toLocaleString('es-VE', { minimumFractionDigits: 0, maximumFractionDigits: 0 }) }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -816,
          -64
        ],
        "id": "e5295eb4-1aff-4d52-9b57-d9385816d012",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "befda4e4-dceb-46e4-9d8b-4d260f8e4e70",
                "name": "Venta_Real_Total",
                "value": "={{ Number($json.Venta_Real_Total).toLocaleString('es-VE', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}",
                "type": "string"
              },
              {
                "id": "2fc20671-0625-4fa6-a54d-30f4d226963a",
                "name": "WAPE_Original",
                "value": "={{ Number($json.WAPE_Original).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
                "type": "string"
              },
              {
                "id": "03162dce-5af6-482c-8c94-6748d82cf6c8",
                "name": "WAPE_Corregido",
                "value": "={{ Number($json.WAPE_Corregido).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
                "type": "string"
              },
              {
                "id": "aee6437b-4232-4666-b729-51fd3c782b67",
                "name": "BIAS_Original",
                "value": "={{ Number($json.BIAS_Original).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
                "type": "string"
              },
              {
                "id": "b99b7c06-c9ec-4857-9066-6c519ac7e58f",
                "name": "BIAS_Corregido",
                "value": "={{ Number($json.BIAS_Corregido).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
                "type": "string"
              },
              {
                "id": "a37bd6be-cc62-45b3-ab4a-3e484b0891ec",
                "name": "Unidades_Modificadas_Netas",
                "value": "={{ Number($json.Unidades_Modificadas_Netas).toLocaleString('es', { minimumFractionDigits: 0, maximumFractionDigits: 0 }) }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -592,
          128
        ],
        "id": "f6a24408-abc7-4763-a844-d7d5d04a6930",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "befda4e4-dceb-46e4-9d8b-4d260f8e4e70",
                "name": "Venta_Real_Total",
                "value": "={{ Number($json.Venta_Real_Total).toLocaleString('es-VE', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}",
                "type": "string"
              },
              {
                "id": "2fc20671-0625-4fa6-a54d-30f4d226963a",
                "name": "WAPE_Original",
                "value": "={{ Number($json.WAPE_Original).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
                "type": "string"
              },
              {
                "id": "03162dce-5af6-482c-8c94-6748d82cf6c8",
                "name": "WAPE_Corregido",
                "value": "={{ Number($json.WAPE_Corregido).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
                "type": "string"
              },
              {
                "id": "aee6437b-4232-4666-b729-51fd3c782b67",
                "name": "BIAS_Original",
                "value": "={{ Number($json.BIAS_Original).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
                "type": "string"
              },
              {
                "id": "b99b7c06-c9ec-4857-9066-6c519ac7e58f",
                "name": "BIAS_Corregido",
                "value": "={{ Number($json.BIAS_Corregido).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
                "type": "string"
              },
              {
                "id": "a37bd6be-cc62-45b3-ab4a-3e484b0891ec",
                "name": "Unidades_Modificadas_Netas",
                "value": "={{ Number($json.Unidades_Modificadas_Netas).toLocaleString('es', { minimumFractionDigits: 0, maximumFractionDigits: 0 }) }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -592,
          512
        ],
        "id": "58ae1e08-9049-483e-8ba3-deb1d938e7bf",
        "name": "Edit Fields4"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "befda4e4-dceb-46e4-9d8b-4d260f8e4e70",
                "name": "Venta_Real_Total",
                "value": "={{ Number($json.Venta_Real_Total).toLocaleString('es-VE', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}",
                "type": "string"
              },
              {
                "id": "2fc20671-0625-4fa6-a54d-30f4d226963a",
                "name": "WAPE_Original",
                "value": "={{ Number($json.WAPE_Original).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
                "type": "string"
              },
              {
                "id": "03162dce-5af6-482c-8c94-6748d82cf6c8",
                "name": "WAPE_Corregido",
                "value": "={{ Number($json.WAPE_Corregido).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
                "type": "string"
              },
              {
                "id": "aee6437b-4232-4666-b729-51fd3c782b67",
                "name": "BIAS_Original",
                "value": "={{ Number($json.BIAS_Original).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
                "type": "string"
              },
              {
                "id": "b99b7c06-c9ec-4857-9066-6c519ac7e58f",
                "name": "BIAS_Corregido",
                "value": "={{ Number($json.BIAS_Corregido).toLocaleString('es-VE', { maximumFractionDigits: 3 }) }}",
                "type": "string"
              },
              {
                "id": "a37bd6be-cc62-45b3-ab4a-3e484b0891ec",
                "name": "Unidades_Modificadas_Netas",
                "value": "={{ Number($json.Unidades_Modificadas_Netas).toLocaleString('es', { minimumFractionDigits: 0, maximumFractionDigits: 0 }) }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -592,
          704
        ],
        "id": "213ada36-b277-4c26-93b4-50b5ce76e1c4",
        "name": "Edit Fields5"
      }
    ],
    "connections": {
      "extraer datos globales completos": {
        "main": [
          [
            {
              "node": "Filter3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "completo": {
        "main": [
          [
            {
              "node": "extraer datos globales por mes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "mes": {
        "main": [
          [
            {
              "node": "extraer datos globales completos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "status": {
        "main": [
          [
            {
              "node": "extraer datos globales por status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "status-mes": {
        "main": [
          [
            {
              "node": "extraer datos globales por status y mes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "extraer datos globales por mes": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "extraer datos globales por status": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "extraer datos globales por status y mes": {
        "main": [
          [
            {
              "node": "Filter1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "extraer datos globales completos",
              "type": "main",
              "index": 0
            },
            {
              "node": "extraer datos globales por mes",
              "type": "main",
              "index": 0
            },
            {
              "node": "extraer datos globales por status",
              "type": "main",
              "index": 0
            },
            {
              "node": "extraer datos globales por status y mes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter1": {
        "main": [
          [
            {
              "node": "Edit Fields5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Edit Fields4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter3": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Juan  lyncros",
    "name": "Version d043f33c",
    "description": "",
    "autosaved": false
  },
  "tags": []
}