workflow/disponibilidad.csv.json
{
  "updatedAt": "2025-07-19T23:11:21.000Z",
  "createdAt": "2025-07-19T03:15:42.376Z",
  "id": "pTcmAhDc6lvDeQ0r",
  "name": "disponibilidad.csv",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "ProductoID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "b1232805-08ed-48cd-ae10-f585a2c537db",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno",
          "mode": "list",
          "cachedResultName": "Base de datos sintetica arreglada",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1887282884,
          "mode": "list",
          "cachedResultName": "InventarioProductosTerminados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit#gid=1887282884"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ProductoID",
              "lookupValue": "={{ $json.ProductoID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        0
      ],
      "id": "b59bf1e7-6ab8-4f0b-9d58-da1cd43c5265",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "row_number",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "30be1ea8-4268-413e-8fe5-3349351d7325",
      "name": "Sort"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "StockResultanteProducto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "id": "08141493-fe0b-4a10-9887-1d39054e8dc0",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "528f492e-6518-423d-9eaf-260009a1ece2",
              "name": "ProductoID",
              "value": "={{ $('When Executed by Another Workflow').item.json.ProductoID }}",
              "type": "string"
            },
            {
              "id": "c395b8c3-ed89-445a-b6c5-cd07c4833d1a",
              "name": "Stock_Producto",
              "value": "={{ $json.StockResultanteProducto[0] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        0
      ],
      "id": "f5ed46e4-4857-4be1-8c58-fdc66599a0a6",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "ProductoID": "ACE-COCI-GIRA-900ML"
        }
      }
    ]
  },
  "versionId": "e74741b1-1304-4e09-ab19-b6236cc7bce2",
  "activeVersionId": "e74741b1-1304-4e09-ab19-b6236cc7bce2",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-07-19T03:15:42.397Z",
      "createdAt": "2025-07-19T03:15:42.397Z",
      "role": "workflow:owner",
      "workflowId": "pTcmAhDc6lvDeQ0r",
      "projectId": "cEfHDRqL69JgpIBq"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-17T21:03:07.932Z",
    "createdAt": "2026-01-17T21:03:07.932Z",
    "versionId": "e74741b1-1304-4e09-ab19-b6236cc7bce2",
    "workflowId": "pTcmAhDc6lvDeQ0r",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "ProductoID"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "b1232805-08ed-48cd-ae10-f585a2c537db",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno",
            "mode": "list",
            "cachedResultName": "Base de datos sintetica arreglada",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1887282884,
            "mode": "list",
            "cachedResultName": "InventarioProductosTerminados",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit#gid=1887282884"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "ProductoID",
                "lookupValue": "={{ $json.ProductoID }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          220,
          0
        ],
        "id": "b59bf1e7-6ab8-4f0b-9d58-da1cd43c5265",
        "name": "Get row(s) in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "CWI2Yxp3gWinrW8v",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "sortFieldsUi": {
            "sortField": [
              {
                "fieldName": "row_number",
                "order": "descending"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.sort",
        "typeVersion": 1,
        "position": [
          440,
          0
        ],
        "id": "30be1ea8-4268-413e-8fe5-3349351d7325",
        "name": "Sort"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "StockResultanteProducto"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          660,
          0
        ],
        "id": "08141493-fe0b-4a10-9887-1d39054e8dc0",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "528f492e-6518-423d-9eaf-260009a1ece2",
                "name": "ProductoID",
                "value": "={{ $('When Executed by Another Workflow').item.json.ProductoID }}",
                "type": "string"
              },
              {
                "id": "c395b8c3-ed89-445a-b6c5-cd07c4833d1a",
                "name": "Stock_Producto",
                "value": "={{ $json.StockResultanteProducto[0] }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          960,
          0
        ],
        "id": "f5ed46e4-4857-4be1-8c58-fdc66599a0a6",
        "name": "Edit Fields"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Sort",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sort": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}