workflow/Extraer Insumos disponibles csv.json
{
  "updatedAt": "2026-02-15T00:38:58.170Z",
  "createdAt": "2026-02-15T00:31:09.309Z",
  "id": "EqKad1vRzsnTXwP0",
  "name": "Extraer Insumos disponibles csv",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## nodo de ejecucion\nDescripcion: con este nodo el flujo se inicia cuando es llamado en otro workflow padre"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "15580b0f-71b9-4c93-80a9-f8c37cc067e0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno",
          "mode": "list",
          "cachedResultName": "Base de datos sintetica arreglada",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 262449362,
          "mode": "list",
          "cachedResultName": "ListaMateriales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit#gid=262449362"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=ProductoID",
              "lookupValue": "={{ $json.ProductID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        200
      ],
      "id": "92e5d9dc-a761-4cf9-aa45-14e15e124d65",
      "name": "Extraer ventas historicas del producto",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "\n  {\n    \"ProductID\": \"HAR-BLAN-LEUD-1KG\",\n    \"Dia\": 1,\n    \"Mes\": 2,\n    \"Año\": 2025\n  }\n"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        60,
        200
      ],
      "id": "f8b76adc-e6e5-4e5f-b3ce-ac6ac460e3e4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "\nfunction getLastStockFromSeparateArrays(insumoIDs, stocks) {\n  // Verificamos que ambos arrays tengan la misma longitud\n  if (insumoIDs.length !== stocks.length) {\n    return [];\n  }\n\n  const result = {};\n\n  for (let i = 0; i < insumoIDs.length; i++) {\n    const insumoID = insumoIDs[i]; \n    let stock = stocks[i];\n    stock = Number(stock);\n    if (isNaN(stock)) {\n      stock = 0; // O podrías saltar este item, lanzar un error, etc.\n    }\n    stock = Math.abs(stock);\n    result[insumoID]  = { insumoID: insumoID, Stock: stock };\n  }\n\n  return Object.values(result);\n}\n\nconst insumoIDsString = $input.first().json.InsumoID;\nconst stocksString = $input.first().json.StockResultante;\n\nconst lastStocksString = getLastStockFromSeparateArrays(insumoIDsString, stocksString);\n\n\n\nreturn lastStocksString;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        200
      ],
      "id": "2628d526-4fae-4f72-beb2-c0e14cf075ff",
      "name": "Code"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "InsumoID"
            },
            {
              "fieldToAggregate": "StockResultante"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1300,
        200
      ],
      "id": "ca48b221-480f-4e84-a9ca-c64bc643e1ea",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "let str = \"Insumos disponibles para: \"+ $('When Executed by Another Workflow').first().json.ProductID + \"\\n \";\n\nfor(let i=0; i < $input.first().json.insumoID.length ;i++){\n  str = str + \"InsumoID:\" + $input.first().json.insumoID[i] + \"\\n \"+ \"Cantidad Disponible: \"+ $input.first().json.Stock[i] + \"\\n \" + \"Cantidad requerida: \"+ $input.first().json.CantidadRequerida[i] + \"\\n\\n\";\n}\n\n\n\nreturn [{\n  \"Insumos\": str\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        200
      ],
      "id": "104883dc-915b-4b85-ab20-3c4dff103082",
      "name": "Code1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "insumoID"
            },
            {
              "fieldToAggregate": "Stock"
            },
            {
              "fieldToAggregate": "CantidadRequerida"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2100,
        200
      ],
      "id": "555dad82-2f3b-435c-ad40-c7539ce2cfd9",
      "name": "Aggregate1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1800,
        240
      ],
      "id": "de21cbb8-0347-4310-adea-64ae95b4a1ba",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9b7c27b-5702-43b6-9269-e410d6cac4f8",
              "name": "CantidadRequerida",
              "value": "={{ $json.CantidadRequerida }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        440
      ],
      "id": "66b5152e-6496-4ac9-97ef-5b4110c56493",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno",
          "mode": "list",
          "cachedResultName": "Base de datos sintetica arreglada",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2094296849,
          "mode": "list",
          "cachedResultName": "InventarioInsumos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit#gid=2094296849"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "InsumoID",
              "lookupValue": "={{ $json.InsumoID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1020,
        200
      ],
      "id": "92116e85-8138-4966-b8e1-bc370d2ae1fd",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Extraer ventas historicas del producto": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Extraer ventas historicas del producto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "ef92ce36-2084-403e-8839-53fc38ab5c75",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-15T00:31:09.309Z",
      "createdAt": "2026-02-15T00:31:09.309Z",
      "role": "workflow:owner",
      "workflowId": "EqKad1vRzsnTXwP0",
      "projectId": "9axjLTcJCvAcwxP1"
    }
  ],
  "activeVersion": null,
  "tags": []
}