workflow/Extraer ventas historicas filtradas csv.json
{
  "updatedAt": "2026-02-15T00:38:56.762Z",
  "createdAt": "2026-02-15T00:31:09.626Z",
  "id": "Z3FZBsbdtngMQr9T",
  "name": "Extraer ventas historicas filtradas csv",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d5a0371-d018-4570-947c-9242662272da",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaActual }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "91471483-0765-4342-a925-52846b883fc1",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[0] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "12f8474d-8fdc-4466-92ed-5256d5f644fe",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[1] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b459293f-e55f-43e2-b484-2f605de3e727",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[2] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3f7635ca-b8fa-4686-8a1f-931c4a812f16",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[3] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "09f885d0-1779-41d2-a1c3-8fc4311ddf7e",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[4] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7b7af9bd-75e3-47da-9d91-e04c273772f8",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[5] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "54b43a3c-8921-4d40-9bc4-4239cc8bc706",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[6] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        860,
        300
      ],
      "id": "46cf5dab-b07f-4b68-b18b-5fe5402d315a",
      "name": "Filtrar semana anterior"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d5a0371-d018-4570-947c-9242662272da",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechaActualAño1'] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "91471483-0765-4342-a925-52846b883fc1",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechasSemProxAño1'][0] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "12f8474d-8fdc-4466-92ed-5256d5f644fe",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechasSemProxAño1'][1] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b459293f-e55f-43e2-b484-2f605de3e727",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechasSemProxAño1'][2] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3f7635ca-b8fa-4686-8a1f-931c4a812f16",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechasSemProxAño1'][3] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "09f885d0-1779-41d2-a1c3-8fc4311ddf7e",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechasSemProxAño1'][4] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7b7af9bd-75e3-47da-9d91-e04c273772f8",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechasSemProxAño1'][5] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "54b43a3c-8921-4d40-9bc4-4239cc8bc706",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechasSemProxAño1'][6] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1140,
        540
      ],
      "id": "977f99e8-fd27-4422-af2c-14b37013647f",
      "name": "Filtrar semana proxima 1 año antes"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d5a0371-d018-4570-947c-9242662272da",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechaActualAño2'] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "91471483-0765-4342-a925-52846b883fc1",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechasSemProxAño2'][0] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "12f8474d-8fdc-4466-92ed-5256d5f644fe",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechasSemProxAño2'][1] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b459293f-e55f-43e2-b484-2f605de3e727",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechasSemProxAño2'][2] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3f7635ca-b8fa-4686-8a1f-931c4a812f16",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechasSemProxAño2'][3] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "09f885d0-1779-41d2-a1c3-8fc4311ddf7e",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechasSemProxAño2'][4] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7b7af9bd-75e3-47da-9d91-e04c273772f8",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechasSemProxAño2'][5] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "54b43a3c-8921-4d40-9bc4-4239cc8bc706",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechasSemProxAño2'][6] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1660,
        960
      ],
      "id": "6c1cb06a-49bf-4f2c-a65b-7f9e123e1441",
      "name": "Filtrar proxima semana 2 años antes"
    },
    {
      "parameters": {
        "content": "## nodo de ejecucion\nDescripcion: con este nodo el flujo se inicia cuando es llamado en otro workflow padre"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -360,
        80
      ],
      "id": "d0103b58-f989-4322-9902-c58b6f8ccd9b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## nodo OrdenesVenta.csv\nDescripcion: con este nodo extraemos todas las ventas de un producto",
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        80
      ],
      "id": "28e7b83a-3f28-47b3-872e-2a5451221653",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Filtro\nDescripcion: con este nodo filtramos las ventas de la semana anterior",
        "width": 180,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        20
      ],
      "id": "b8b82527-63ff-4ab4-be42-3aba2ce05e03",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Filtro\nDescripcion: con este nodo filtramos las ventas de la semana proxima hace 1 año",
        "width": 180,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        860,
        560
      ],
      "id": "d7898a8f-7175-4223-808a-7b73531691f5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Filtro\nDescripcion: con este nodo filtramos las ventas de la semana proxima hace 2 años",
        "height": 158.12725090036014,
        "width": 180,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1380,
        960
      ],
      "id": "e4c3d527-2a2a-4e49-a605-0983c6f4bc65",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## nodo merge\nDescripcion: con este nodo agregamos los 3 filtros a un solo output",
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1920,
        60
      ],
      "id": "a76a55df-05ec-4cc6-84da-5a287f9851a8",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "91471483-0765-4342-a925-52846b883fc1",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechaSemAntAño2'][0] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "12f8474d-8fdc-4466-92ed-5256d5f644fe",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechaSemAntAño2'][1] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b459293f-e55f-43e2-b484-2f605de3e727",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechaSemAntAño2'][2] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3f7635ca-b8fa-4686-8a1f-931c4a812f16",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechaSemAntAño2'][3] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "09f885d0-1779-41d2-a1c3-8fc4311ddf7e",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechaSemAntAño2'][4] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7b7af9bd-75e3-47da-9d91-e04c273772f8",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechaSemAntAño2'][5] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "54b43a3c-8921-4d40-9bc4-4239cc8bc706",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechaSemAntAño2'][6] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1900,
        1140
      ],
      "id": "f769c541-d7e0-4ce2-ad0c-f67852b20d97",
      "name": "Filtrar semana anterior 2 años antes"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "91471483-0765-4342-a925-52846b883fc1",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechaSemAntAño1'][0] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "12f8474d-8fdc-4466-92ed-5256d5f644fe",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechaSemAntAño1'][1] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b459293f-e55f-43e2-b484-2f605de3e727",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechaSemAntAño1'][2] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3f7635ca-b8fa-4686-8a1f-931c4a812f16",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechaSemAntAño1'][3] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "09f885d0-1779-41d2-a1c3-8fc4311ddf7e",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechaSemAntAño1'][4] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7b7af9bd-75e3-47da-9d91-e04c273772f8",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechaSemAntAño1'][5] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "54b43a3c-8921-4d40-9bc4-4239cc8bc706",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json['fechaSemAntAño1'][6] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        780
      ],
      "id": "f1798f19-527e-4aee-851f-d78d870477ff",
      "name": "Filtrar semana anterior 1 año antes"
    },
    {
      "parameters": {
        "content": "## Filtro\nDescripcion: con este nodo filtramos las ventas de la semana anterior hace 1 año",
        "width": 180,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1080,
        760
      ],
      "id": "f30d2032-2724-4b8a-ae0a-70b4580e9c54",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Filtro\nDescripcion: con este nodo filtramos las ventas de la semana anterior hace 2 años",
        "width": 180,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1660,
        1140
      ],
      "id": "dfec5bbf-a73b-4d4d-a66f-ac5ca567c4a0",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## nodo Extraer fechas\nDescripcion: con este nodo extraemos todas las fechas que vamos a filtrar",
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0a035ea4-7e38-45db-bd29-3b9f0b8b895e",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "jsCode": "function restarDias(fechaExtraida, dias, año ){\n  let partesFecha = fechaExtraida.split(\"/\");\n  let dia = parseInt(partesFecha[0]);\n  let mes = parseInt(partesFecha[1]) - 1; // Los meses en JavaScript son 0-11\n  let anio = parseInt(partesFecha[2]);\n  \n  // Crear un objeto de fecha\n  let fecha = new Date(anio, mes, dia);\n  \n  // Obtener el día actual\n  let diaActual = fecha.getDate();\n  console.log(`Día actual: ${diaActual}`); // Muestra el día actual\n  \n  // Restar un día\n  fecha.setDate(diaActual - dias);\n  \n  fecha.setFullYear(fecha.getFullYear() - año);\n\n  \n  // Convertir de nuevo a formato DD/MM/AAAA\n  let diaNuevo = String(fecha.getDate()).padStart(2, '0');\n  let mesNuevo = String(fecha.getMonth() + 1).padStart(2, '0'); // Ajustar el mes\n  let anioNuevo = fecha.getFullYear();\n  \n  return `${diaNuevo}/${mesNuevo}/${anioNuevo}`;\n}\n\n\nfunction sumarDias(fechaExtraida, dias, año ){\n  let partesFecha = fechaExtraida.split(\"/\");\n  let dia = parseInt(partesFecha[0]);\n  let mes = parseInt(partesFecha[1]) - 1; // Los meses en JavaScript son 0-11\n  let anio = parseInt(partesFecha[2]);\n  \n  // Crear un objeto de fecha\n  let fecha = new Date(anio, mes, dia);\n  \n  // Obtener el día actual\n  let diaActual = fecha.getDate();\n  console.log(`Día actual: ${diaActual}`); // Muestra el día actual\n  \n  // Restar un día\n  fecha.setDate(diaActual + dias);\n  \n  // Restar un año\nfecha.setFullYear(fecha.getFullYear() - año);\n  \n  // Convertir de nuevo a formato DD/MM/AAAA\n  let diaNuevo = String(fecha.getDate()).padStart(2, '0');\n  let mesNuevo = String(fecha.getMonth() + 1).padStart(2, '0'); // Ajustar el mes\n  let anioNuevo = fecha.getFullYear();\n  \n  return `${diaNuevo}/${mesNuevo}/${anioNuevo}`;\n}\n\n\nlet fechaStr = `${$input.first().json.Dia}/${$input.first().json.Mes}/${$input.first().json.Año}`;\n\nlet fechaSum7Año2 = sumarDias(fechaStr, 7,2)\nlet fechaSum6Año2 = sumarDias(fechaStr, 6,2)\nlet fechaSum5Año2 = sumarDias(fechaStr, 5,2)\nlet fechaSum4Año2 = sumarDias(fechaStr, 4,2)\nlet fechaSum3Año2 = sumarDias(fechaStr, 3,2)\nlet fechaSum2Año2 = sumarDias(fechaStr, 2,2)\nlet fechaSum1Año2 = sumarDias(fechaStr, 1,2)\nlet fechaActAño2 = restarDias(fechaStr,0,2)\nlet fechaRest1Año2 =restarDias(fechaStr,1,2)\nlet fechaRest2Año2 =restarDias(fechaStr,2,2)\nlet fechaRest3Año2 =restarDias(fechaStr,3,2)\nlet fechaRest4Año2 =restarDias(fechaStr,4,2)\nlet fechaRest5Año2 =restarDias(fechaStr,5,2)\nlet fechaRest6Año2 =restarDias(fechaStr,6,2)\nlet fechaRest7Año2 =restarDias(fechaStr,7,2)\n\n\n\nlet fechaSum7Año1 = sumarDias(fechaStr, 7,1)\nlet fechaSum6Año1 = sumarDias(fechaStr, 6,1)\nlet fechaSum5Año1 = sumarDias(fechaStr, 5,1)\nlet fechaSum4Año1 = sumarDias(fechaStr, 4,1)\nlet fechaSum3Año1 = sumarDias(fechaStr, 3,1)\nlet fechaSum2Año1 = sumarDias(fechaStr, 2,1)\nlet fechaSum1Año1 = sumarDias(fechaStr, 1,1)\nlet fechaActAño1 = restarDias(fechaStr,0,1)\nlet fechaRest1Año1 =restarDias(fechaStr,1,1)\nlet fechaRest2Año1 =restarDias(fechaStr,2,1)\nlet fechaRest3Año1 =restarDias(fechaStr,3,1)\nlet fechaRest4Año1 =restarDias(fechaStr,4,1)\nlet fechaRest5Año1 =restarDias(fechaStr,5,1)\nlet fechaRest6Año1 =restarDias(fechaStr,6,1)\nlet fechaRest7Año1 =restarDias(fechaStr,7,1)\n\n\nlet fechaActual =restarDias(fechaStr,0,0)\n\nlet fechaRest1Año0 =restarDias(fechaStr,1,0)\nlet fechaRest2Año0 =restarDias(fechaStr,2,0)\nlet fechaRest3Año0 =restarDias(fechaStr,3,0)\nlet fechaRest4Año0 =restarDias(fechaStr,4,0)\nlet fechaRest5Año0 =restarDias(fechaStr,5,0)\nlet fechaRest6Año0 =restarDias(fechaStr,6,0)\nlet fechaRest7Año0 =restarDias(fechaStr,7,0)\n\n\n\n\n\nreturn [{ \n    fechasSemProxAño2: [  fechaSum1Año2,\n   fechaSum2Año2,\n   fechaSum3Año2,\n   fechaSum4Año2,\n   fechaSum5Año2,\n   fechaSum6Año2,\n   fechaSum7Año2],\n  fechaActualAño2: fechaActAño2,\n  fechaSemAntAño2:[\n    fechaRest1Año2,\n    fechaRest2Año2,\n    fechaRest3Año2,\n    fechaRest4Año2,\n    fechaRest5Año2,\n    fechaRest6Año2,\n    fechaRest7Año2\n  ],\n  \n  fechasSemProxAño1: [  fechaSum1Año1,\n   fechaSum2Año1,\n   fechaSum3Año1,\n   fechaSum4Año1,\n   fechaSum5Año1,\n   fechaSum6Año1,\n   fechaSum7Año1],\n  fechaActualAño1: fechaActAño1,\n  fechaSemAntAño1:[\n    fechaRest1Año1,\n    fechaRest2Año1,\n    fechaRest3Año1,\n    fechaRest4Año1,\n    fechaRest5Año1,\n    fechaRest6Año1,\n    fechaRest7Año1\n  ],\n  fechaActual: fechaActual,\n  fechaSemAnt:[\n   fechaRest1Año0,\n   fechaRest2Año0,\n   fechaRest3Año0,\n   fechaRest4Año0,\n   fechaRest5Año0,\n   fechaRest6Año0,\n   fechaRest7Año0],\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        240
      ],
      "id": "7de87f69-3bd3-4636-b2fc-93068ed4745b",
      "name": "Extraer fechas"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1df7a2b-c8fc-4056-9b8f-0dc5d56b85b7",
              "name": "ProductoID",
              "value": "={{ $json.ProductoID }}",
              "type": "string"
            },
            {
              "id": "436b9138-366d-48ae-b668-05a34551b611",
              "name": "ClienteID",
              "value": "={{ $json.ClienteID }}",
              "type": "string"
            },
            {
              "id": "052392e3-5332-40a3-9343-f9c41a01b290",
              "name": "FechaPedido",
              "value": "={{ $json.FechaPedido }}",
              "type": "string"
            },
            {
              "id": "605d8590-3e9d-4e75-b82d-68fba73f198b",
              "name": "CantidadPedida",
              "value": "={{ $json.CantidadPedida }}",
              "type": "number"
            },
            {
              "id": "465e95af-9c0a-4ac4-8059-436946db068c",
              "name": "PrecioUnitarioVenta",
              "value": "={{ $json.PrecioUnitarioVenta }}",
              "type": "string"
            },
            {
              "id": "ffa5b57c-2215-490c-8923-c53dbb7a6bf0",
              "name": "DescuentoAplicado",
              "value": "={{ $json.DescuentoAplicado }}",
              "type": "number"
            },
            {
              "id": "5e2a7518-dc7c-423f-853e-75689aa17f25",
              "name": "MontoTotal",
              "value": "={{ $json.MontoTotal }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2200,
        360
      ],
      "id": "6e030e2c-8403-40eb-a500-199e01b824ba",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "id": "ad51cdc3-8324-4d81-ac91-5da4bea4d6b8",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1960,
        280
      ]
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "\n  {\n    \"ProductID\": \"HAR-BLAN-LEUD-1KG\",\n    \"Dia\": 1,\n    \"Mes\": 2,\n    \"Año\": 2025\n  }\n"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        260
      ],
      "id": "75fbcf3f-04ba-4405-a0f4-affb00d585dc",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno",
          "mode": "list",
          "cachedResultName": "Base de datos sintetica arreglada",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1904553983,
          "mode": "list",
          "cachedResultName": "OrdenesVenta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit#gid=1904553983"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ProductoID",
              "lookupValue": "={{ $('When Executed by Another Workflow').item.json.ProductID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        560,
        280
      ],
      "id": "cdd7a4f0-fcb2-4def-8677-135eceb4526b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Filtrar semana anterior": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filtrar semana proxima 1 año antes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar semana proxima 1 año antes": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Filtrar semana anterior 1 año antes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar proxima semana 2 años antes": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "Filtrar semana anterior 2 años antes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar semana anterior 1 año antes": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Filtrar proxima semana 2 años antes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer fechas": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar semana anterior 2 años antes": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Extraer fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filtrar semana anterior",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "52f58c5a-a4d7-4081-85f8-9331ca6119c1",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-15T00:31:09.626Z",
      "createdAt": "2026-02-15T00:31:09.626Z",
      "role": "workflow:owner",
      "workflowId": "Z3FZBsbdtngMQr9T",
      "projectId": "9axjLTcJCvAcwxP1"
    }
  ],
  "activeVersion": null,
  "tags": []
}