workflow/Global KPIs de ventas por cliente.json
{
  "updatedAt": "2026-02-15T00:38:52.641Z",
  "createdAt": "2026-02-15T00:31:09.921Z",
  "id": "vS4cwuUYHgkEowXo",
  "name": "Global KPIs de ventas por cliente",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        -20
      ],
      "id": "48ec5ec1-6f06-44ca-812e-dbe8a42856be",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -180,
        -40
      ],
      "id": "91de67ac-036c-4352-9431-12baa1239c18",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wD41ox20Yk5bEiEi",
          "mode": "list",
          "cachedResultName": "KPIs de ventas por cliente"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ProductID": "={{ $json.ProductoID }}",
            "Dia": 1,
            "Mes": 2,
            "Año": 2025,
            "clienteID": "CLI-0015"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ProductID",
              "displayName": "ProductID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Dia",
              "displayName": "Dia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "Mes",
              "displayName": "Mes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "Año",
              "displayName": "Año",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "clienteID",
              "displayName": "clienteID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        40,
        40
      ],
      "id": "3e1bc871-0cea-421d-be98-fbc4bb4ea150",
      "name": "Execute Workflow",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        220,
        80
      ],
      "id": "8a303fd7-6d35-4583-90a0-65be9490d8fa",
      "name": "Wait",
      "webhookId": "162010b4-2e08-4020-833e-d86c32f0052f"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno",
          "mode": "list",
          "cachedResultName": "Base de datos sintetica arreglada",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 923592231,
          "mode": "list",
          "cachedResultName": "Productos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit#gid=923592231"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -440,
        -40
      ],
      "id": "a47a6be2-51da-4078-a4cf-dc75b3a952e4",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "cc28fcd3-370e-4eb8-bb57-e4822ccd102a",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-15T00:31:09.921Z",
      "createdAt": "2026-02-15T00:31:09.921Z",
      "role": "workflow:owner",
      "workflowId": "vS4cwuUYHgkEowXo",
      "projectId": "9axjLTcJCvAcwxP1"
    }
  ],
  "activeVersion": null,
  "tags": []
}