workflow/KPIs de ventas por cliente.json
{
  "updatedAt": "2026-02-15T00:38:47.808Z",
  "createdAt": "2026-02-15T00:31:11.203Z",
  "id": "lOtqGfL7b0bjSErk",
  "name": "KPIs de ventas por cliente",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Volumen de ventas mensual (VVMM)\n",
        "height": 240,
        "width": 780
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        -280
      ],
      "id": "d2d31eff-302a-4cde-ad1b-ba59611282e2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Tasa Cumplimiento OTIF\n",
        "height": 240,
        "width": 1940,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        -20
      ],
      "id": "94ad9ccb-c8e1-4e7d-9969-22ab1b210886",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Valor Medio Pedido (AOV)\n",
        "height": 240,
        "width": 940,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        240
      ],
      "id": "1dc5b9a5-10d5-46b9-837c-5ece51f46fc0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Número de Pedidos (QTY)\n\n",
        "height": 240,
        "width": 640,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        760
      ],
      "id": "6f11c17d-6144-4de8-8744-5501a71bf105",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Tiempo Medio Entrega (TME)\n\n",
        "height": 240,
        "width": 1680,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        1020
      ],
      "id": "1d6168e0-287e-42b6-ba77-e31daea14304",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Descuento Medio Aplicado (DMA)\n",
        "height": 240,
        "width": 820,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        1280
      ],
      "id": "facbbb13-3531-4e6f-8a51-4c074e49ae28",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Canal Top Performance (CTP)\n",
        "height": 240,
        "width": 980
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        1540
      ],
      "id": "2e953d94-ff9e-4610-964b-f62b4596e74a",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d5a0371-d018-4570-947c-9242662272da",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaActual }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "91471483-0765-4342-a925-52846b883fc1",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[0] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "12f8474d-8fdc-4466-92ed-5256d5f644fe",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[1] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b459293f-e55f-43e2-b484-2f605de3e727",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[2] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3f7635ca-b8fa-4686-8a1f-931c4a812f16",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[3] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "09f885d0-1779-41d2-a1c3-8fc4311ddf7e",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[4] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7b7af9bd-75e3-47da-9d91-e04c273772f8",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[5] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "54b43a3c-8921-4d40-9bc4-4239cc8bc706",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[6] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        260,
        480
      ],
      "id": "8aa48501-b643-4830-9629-03545d0c5be2",
      "name": "Filtrar semana anterior"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno",
          "mode": "list",
          "cachedResultName": "Base de datos sintetica arreglada",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1904553983,
          "mode": "list",
          "cachedResultName": "OrdenesVenta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit#gid=1904553983"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=ProductoID",
              "lookupValue": "={{ $('When Executed by Another Workflow').item.json.ProductID }}"
            },
            {
              "lookupColumn": "ClienteID",
              "lookupValue": "={{ $('When Executed by Another Workflow').item.json.clienteID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        20,
        480
      ],
      "id": "697cee41-66bb-4398-8c6b-42e498bb5866",
      "name": "Extraer ventas historicas del producto",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function restarDias(fechaExtraida, dias, año ){\n  let partesFecha = fechaExtraida.split(\"/\");\n  let dia = parseInt(partesFecha[0]);\n  let mes = parseInt(partesFecha[1]) - 1; // Los meses en JavaScript son 0-11\n  let anio = parseInt(partesFecha[2]);\n  \n  // Crear un objeto de fecha\n  let fecha = new Date(anio, mes, dia);\n  \n  // Obtener el día actual\n  let diaActual = fecha.getDate();\n  console.log(`Día actual: ${diaActual}`); // Muestra el día actual\n  \n  // Restar un día\n  fecha.setDate(diaActual - dias);\n  \n  fecha.setFullYear(fecha.getFullYear() - año);\n\n  \n  // Convertir de nuevo a formato DD/MM/AAAA\n  let diaNuevo = String(fecha.getDate()).padStart(2, '0');\n  let mesNuevo = String(fecha.getMonth() + 1).padStart(2, '0'); // Ajustar el mes\n  let anioNuevo = fecha.getFullYear();\n  \n  return `${diaNuevo}/${mesNuevo}/${anioNuevo}`;\n}\n\n\nlet fechaStr = `${$input.first().json.Dia}/${$input.first().json.Mes}/${$input.first().json.Año}`;\n\n\n\nlet fechaActual =restarDias(fechaStr,0,0)\n\nlet fechaRest1Año0 =restarDias(fechaStr,1,0)\nlet fechaRest2Año0 =restarDias(fechaStr,2,0)\nlet fechaRest3Año0 =restarDias(fechaStr,3,0)\nlet fechaRest4Año0 =restarDias(fechaStr,4,0)\nlet fechaRest5Año0 =restarDias(fechaStr,5,0)\nlet fechaRest6Año0 =restarDias(fechaStr,6,0)\nlet fechaRest7Año0 =restarDias(fechaStr,7,0)\n\n\n\n\n\nreturn [{ \n  fechaActual: fechaActual,\n  fechaSemAnt:[\n   fechaRest1Año0,\n   fechaRest2Año0,\n   fechaRest3Año0,\n   fechaRest4Año0,\n   fechaRest5Año0,\n   fechaRest6Año0,\n   fechaRest7Año0],\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        480
      ],
      "id": "779ad4b0-2ab1-4f99-8b1a-1ed8e112977a",
      "name": "Extraer fechas"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "\n  {\n    \"ProductID\": \"HAR-BLAN-LEUD-1KG\",\n    \"Dia\": 1,\n    \"Mes\": 2,\n    \"Año\": 2025,\n    \"clienteID\": \"CLI-0002\"\n  }\n"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        480
      ],
      "id": "e8b8f6ed-7da3-4629-b263-f976527336b8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2bb83733-bb48-43fa-9d72-56857b946ced",
              "name": "MontoTotal",
              "value": "={{ $json.MontoTotal }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        -200
      ],
      "id": "4352a9df-fc84-4662-aaba-52d195d540db",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "MontoTotal"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        920,
        -200
      ],
      "id": "fa2801de-e307-4933-a817-81f4e6a1476f",
      "name": "Summarize"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8a3a6dd-199f-4933-aceb-f603ce6254dd",
              "name": "FechaPedido",
              "value": "={{ $json.FechaEntregaSolicitada.slice(0,2) }}-{{ $json.FechaEntregaSolicitada.slice(3,5) }}-{{ $json.FechaEntregaSolicitada.slice(6,10) }}",
              "type": "string"
            },
            {
              "id": "ca95e7e6-0fb2-4634-9a1f-cc9cbd3e6fdf",
              "name": "FechaEntregaReal",
              "value": "={{ $json.FechaEntregaReal.slice(0,2) }}-{{ $json.FechaEntregaReal.slice(3,5) }}-{{ $json.FechaEntregaReal.slice(6,10) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        60
      ],
      "id": "977f3774-d7fc-4f74-a7c3-da8421ede276",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23ad9f2b-8952-4724-a238-5143413e954c",
              "name": "FechaPedido",
              "value": "={{ $json.FechaPedido.toDateTime(\"dd-MM-yyyy\") }}",
              "type": "string"
            },
            {
              "id": "44d12511-ef61-4339-a766-7ce48f7f2594",
              "name": "FechaEntregaReal",
              "value": "={{ $json.FechaEntregaReal.toDateTime(\"dd-MM-yyyy\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        60
      ],
      "id": "b3aa6959-67cd-43e1-9848-8ab36c89b4bc",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "85a1f9d2-65a4-4d61-9cb6-7316ead7644d",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $json.FechaEntregaReal }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1100,
        -20
      ],
      "id": "5a8346b7-8ec2-4c32-933e-7f0e0a537d13",
      "name": "Filter"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "FechaPedido"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1340,
        -20
      ],
      "id": "523dc875-0033-4abb-89fd-47fb0d18d79c",
      "name": "Summarize1"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "FechaEntregaReal"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1340,
        100
      ],
      "id": "f588d5ce-84e8-4fec-99b6-f7addc463b36",
      "name": "Summarize2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1640,
        20
      ],
      "id": "a68967b5-33bd-4cf7-9356-bdade3059725",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1860,
        20
      ],
      "id": "23059ead-9056-4e93-8e88-19c72fb6626c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66848a9f-812e-4a3f-a63e-ee798340e38b",
              "name": "OTIF",
              "value": "={{ (($json.data[1].count_FechaPedido /$json.data[0].count_FechaEntregaReal)*100).round(1)}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        20
      ],
      "id": "59e5794c-ce57-467a-8306-b8802b2ce51d",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2bb83733-bb48-43fa-9d72-56857b946ced",
              "name": "MontoTotal",
              "value": "={{ $json.MontoTotal }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        320
      ],
      "id": "bd38756d-6278-472b-be26-8dbb2797483f",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "average",
              "field": "MontoTotal"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        880,
        320
      ],
      "id": "4084f7f4-fc8b-4c82-afac-a979df48118a",
      "name": "Summarize3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f30b0d2e-d57d-43b5-9631-18417833bc74",
              "name": "average_MontoTotal",
              "value": "={{ $json.average_MontoTotal.round(2) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        320
      ],
      "id": "142df434-2197-4186-a502-0d0d966c6b95",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "PrecioUnitarioVenta"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        760,
        860
      ],
      "id": "fcce0da2-ed15-473a-9fc2-4f755a945f56",
      "name": "Summarize4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8a3a6dd-199f-4933-aceb-f603ce6254dd",
              "name": "FechaPedido",
              "value": "={{ $json.FechaPedido.slice(0,2) }}-{{ $json.FechaPedido.slice(3,5) }}-{{ $json.FechaPedido.slice(6,10) }}",
              "type": "string"
            },
            {
              "id": "ca95e7e6-0fb2-4634-9a1f-cc9cbd3e6fdf",
              "name": "FechaEntregaReal",
              "value": "={{ $json.FechaEntregaReal.slice(0,2) }}-{{ $json.FechaEntregaReal.slice(3,5) }}-{{ $json.FechaEntregaReal.slice(6,10) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        1100
      ],
      "id": "cd11a4a9-89bc-4993-9dff-93c58197df22",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23ad9f2b-8952-4724-a238-5143413e954c",
              "name": "FechaPedido",
              "value": "={{ $json.FechaPedido.toDateTime(\"dd-MM-yyyy\") }}",
              "type": "string"
            },
            {
              "id": "44d12511-ef61-4339-a766-7ce48f7f2594",
              "name": "FechaEntregaReal",
              "value": "={{ $json.FechaEntregaReal.toDateTime(\"dd-MM-yyyy\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        1100
      ],
      "id": "99b0c4d6-6dfd-4168-b01b-46ff271b5c15",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $json.FechaPedido }}",
        "endDate": "={{ $json.FechaEntregaReal }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1220,
        1100
      ],
      "id": "79d792f1-91f9-4eea-895f-34ecdcec9762",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "average",
              "field": "timeDifference.days"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1460,
        1100
      ],
      "id": "11cd67f1-42da-4719-aafa-4334181c3776",
      "name": "Summarize5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c049117a-81d3-4999-8bf2-1c0ede2d5db6",
              "name": "average_timeDifference_days",
              "value": "={{ $json.average_timeDifference_days.round(2) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        1100
      ],
      "id": "15cef83a-bb53-4d18-b14f-5da2c36546a2",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bd8983a-c812-4098-92e3-150d0f131796",
              "name": "DescuentoAplicado",
              "value": "={{ $json.DescuentoAplicado }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        1380
      ],
      "id": "0429884a-38ac-43c2-b26b-54af4618f761",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "average",
              "field": "DescuentoAplicado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        920,
        1380
      ],
      "id": "b1db5e89-be4f-4088-ae17-7c0f9b7a00b5",
      "name": "Summarize6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa04b39d-846f-4a44-9d09-4451b2a78a9e",
              "name": "CanalVenta",
              "value": "={{ $json.CanalVenta }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        1620
      ],
      "id": "2c263dfa-2227-4fd0-8115-47406ce1af3d",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "CanalVenta"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        860,
        1620
      ],
      "id": "d8165c18-0255-487b-bb25-1983ad86b235",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "jsCode": "const strings = $input.first().json.CanalVenta;\n\nconst groupedByFirstLetter = strings.reduce((acc, currentString) => {\n  const firstLetter = currentString[0].toLowerCase(); // Usar la primera letra como clave, en minúsculas para agrupar 'Apple' y 'apple'\n  if (!acc[firstLetter]) {\n    acc[firstLetter] = []; // Si la clave no existe, inicializa un nuevo array\n  }\n  acc[firstLetter].push(currentString); // Agrega el string al array correspondiente\n  return acc;\n}, {}); \n\nconst groupedStringsObject = groupedByFirstLetter;\n\nconst counts = {}; \nlet mostFrequentString = null;\nlet maxCount = 0;\n\nfor (const key in groupedStringsObject) {\n  if (Object.hasOwnProperty.call(groupedStringsObject, key)) {\n    const stringArray = groupedStringsObject[key];\n\n    // Iterar sobre cada string dentro del array\n    stringArray.forEach(str => {\n      // Incrementar el contador para el string actual\n      counts[str] = (counts[str] || 0) + 1;\n\n      // Si el contador actual es mayor que el máximo, actualizar\n      if (counts[str] > maxCount) {\n        maxCount = counts[str];\n        mostFrequentString = str;\n      }\n    });\n  }\n}\n\n\nreturn {CTP: mostFrequentString};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        1620
      ],
      "id": "c3255ef9-30c3-40f9-b49d-3423262f2910",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g",
          "mode": "list",
          "cachedResultName": "kpis de ventas por cliente",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "VVMM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "valor": "={{ $json.sum_MontoTotal }}",
            "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
            "fecha": "={{ $('Extraer fechas').item.json.fechaActual }}",
            "ClienteID": "={{ $('When Executed by Another Workflow').item.json.clienteID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ClienteID",
              "displayName": "ClienteID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1140,
        -200
      ],
      "id": "9d7c54f7-0cad-469e-9a08-431b5944de8d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g",
          "mode": "list",
          "cachedResultName": "kpis de ventas por cliente",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1643267292,
          "mode": "list",
          "cachedResultName": "OTIF",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit#gid=1643267292"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "valor": "={{ $json.OTIF }}",
            "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
            "fecha": "={{ $('Extraer fechas').item.json.fechaActual }}",
            "ClienteID": "={{ $('When Executed by Another Workflow').item.json.clienteID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ClienteID",
              "displayName": "ClienteID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2340,
        20
      ],
      "id": "b76bd040-97ed-42b9-9db8-b3dd3a33b1cf",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g",
          "mode": "list",
          "cachedResultName": "kpis de ventas por cliente",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 929379655,
          "mode": "list",
          "cachedResultName": "TME",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit#gid=929379655"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "valor": "={{ $json.average_timeDifference_days }}",
            "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
            "fecha": "={{ $('Extraer fechas').item.json.fechaActual }}",
            "ClienteID": "={{ $('When Executed by Another Workflow').item.json.clienteID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ClienteID",
              "displayName": "ClienteID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1960,
        1100
      ],
      "id": "dba2a580-22be-42fe-b578-80c174207e10",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g",
          "mode": "list",
          "cachedResultName": "kpis de ventas por cliente",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1219776711,
          "mode": "list",
          "cachedResultName": "AOV",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit#gid=1219776711"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "valor": "={{ $json.average_MontoTotal }}",
            "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
            "fecha": "={{ $('Extraer fechas').item.json.fechaActual }}",
            "ClienteID": "={{ $('When Executed by Another Workflow').item.json.clienteID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ClienteID",
              "displayName": "ClienteID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1320,
        320
      ],
      "id": "479585f5-141b-48e5-98ce-3bd4f32305b7",
      "name": "Append row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g",
          "mode": "list",
          "cachedResultName": "kpis de ventas por cliente",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 854245972,
          "mode": "list",
          "cachedResultName": "QTY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit#gid=854245972"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "valor": "={{ $json.count_PrecioUnitarioVenta }}",
            "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
            "fecha": "={{ $('Extraer fechas').item.json.fechaActual }}",
            "ClienteID": "={{ $('When Executed by Another Workflow').item.json.clienteID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ClienteID",
              "displayName": "ClienteID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1020,
        860
      ],
      "id": "1953ddc9-682e-4d29-b6aa-b55b145d5cca",
      "name": "Append row in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g",
          "mode": "list",
          "cachedResultName": "kpis de ventas por cliente",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1788374855,
          "mode": "list",
          "cachedResultName": "DMA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit#gid=1788374855"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "valor": "={{ $json.average_DescuentoAplicado }}",
            "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
            "fecha": "={{ $('Extraer fechas').item.json.fechaActual }}",
            "ClienteID": "={{ $('When Executed by Another Workflow').item.json.clienteID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ClienteID",
              "displayName": "ClienteID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1200,
        1380
      ],
      "id": "21b195c3-d6dd-4eb5-b5ef-705720b1ddbf",
      "name": "Append row in sheet6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g",
          "mode": "list",
          "cachedResultName": "kpis de ventas por cliente",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1393527217,
          "mode": "list",
          "cachedResultName": "CTP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit#gid=1393527217"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "valor": "={{ $json.CTP }}",
            "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
            "fecha": "={{ $('Extraer fechas').item.json.fechaActual }}",
            "ClienteID": "={{ $('When Executed by Another Workflow').item.json.clienteID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ClienteID",
              "displayName": "ClienteID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1360,
        1620
      ],
      "id": "d92850b7-f47b-4462-a3d8-b69041bb92d8",
      "name": "Append row in sheet7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Extraer ventas historicas del producto": {
      "main": [
        [
          {
            "node": "Filtrar semana anterior",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer fechas": {
      "main": [
        [
          {
            "node": "Extraer ventas historicas del producto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Extraer fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar semana anterior": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Summarize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Summarize3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize3": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Summarize5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize5": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Summarize6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Append row in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize4": {
      "main": [
        [
          {
            "node": "Append row in sheet5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize6": {
      "main": [
        [
          {
            "node": "Append row in sheet6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Append row in sheet7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "f532e7cd-6416-42a2-a79a-c4d059e759ab",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-15T00:31:11.203Z",
      "createdAt": "2026-02-15T00:31:11.203Z",
      "role": "workflow:owner",
      "workflowId": "lOtqGfL7b0bjSErk",
      "projectId": "9axjLTcJCvAcwxP1"
    }
  ],
  "activeVersion": null,
  "tags": []
}