workflow/KPIs de ventas.json
{
  "updatedAt": "2025-06-30T05:50:44.000Z",
  "createdAt": "2025-06-30T05:50:19.028Z",
  "id": "nz0kAh3YtpE22Lj2",
  "name": "KPIs de ventas",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Volumen de ventas mensual (VVMM)\n",
        "height": 240,
        "width": 780
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        -280
      ],
      "id": "d7eb356c-a230-46fb-8f18-00374dc6d06b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Tasa Cumplimiento OTIF\n",
        "height": 240,
        "width": 1940,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        -20
      ],
      "id": "1fbe0b5a-8023-41f8-b62d-2494343ddefe",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Valor Medio Pedido (AOV)\n",
        "height": 240,
        "width": 940,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        240
      ],
      "id": "31961903-144d-46ce-b2c5-b90a8d6372d5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Número de Pedidos (QTY)\n\n",
        "height": 240,
        "width": 640,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        760
      ],
      "id": "b7fddf63-90fc-49fc-b1be-fa92197e4f5c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Tiempo Medio Entrega (TME)\n\n",
        "height": 240,
        "width": 1680,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        1020
      ],
      "id": "c0881ee4-6f94-4c54-844d-a52d613dcb1c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Descuento Medio Aplicado (DMA)\n",
        "height": 240,
        "width": 820,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        1280
      ],
      "id": "283d933a-8f8d-4823-92c7-e3a772d683e5",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Canal Top Performance (CTP)\n",
        "height": 240,
        "width": 980
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        1540
      ],
      "id": "117648c3-84b4-48b3-bc71-66436b309978",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d5a0371-d018-4570-947c-9242662272da",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaActual }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "91471483-0765-4342-a925-52846b883fc1",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[0] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "12f8474d-8fdc-4466-92ed-5256d5f644fe",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[1] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b459293f-e55f-43e2-b484-2f605de3e727",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[2] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3f7635ca-b8fa-4686-8a1f-931c4a812f16",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[3] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "09f885d0-1779-41d2-a1c3-8fc4311ddf7e",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[4] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7b7af9bd-75e3-47da-9d91-e04c273772f8",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[5] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "54b43a3c-8921-4d40-9bc4-4239cc8bc706",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[6] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        260,
        480
      ],
      "id": "8032c03a-2ceb-452d-adfe-30857890e470",
      "name": "Filtrar semana anterior"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno",
          "mode": "list",
          "cachedResultName": "Base de datos sintetica arreglada",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1904553983,
          "mode": "list",
          "cachedResultName": "OrdenesVenta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit#gid=1904553983"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=ProductoID",
              "lookupValue": "={{ $('When Executed by Another Workflow').item.json.ProductID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        20,
        480
      ],
      "id": "bd04df78-5cc2-452a-b82f-6ee5010cfeda",
      "name": "Extraer ventas historicas del producto",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function restarDias(fechaExtraida, dias, año ){\n  let partesFecha = fechaExtraida.split(\"/\");\n  let dia = parseInt(partesFecha[0]);\n  let mes = parseInt(partesFecha[1]) - 1; // Los meses en JavaScript son 0-11\n  let anio = parseInt(partesFecha[2]);\n  \n  // Crear un objeto de fecha\n  let fecha = new Date(anio, mes, dia);\n  \n  // Obtener el día actual\n  let diaActual = fecha.getDate();\n  console.log(`Día actual: ${diaActual}`); // Muestra el día actual\n  \n  // Restar un día\n  fecha.setDate(diaActual - dias);\n  \n  fecha.setFullYear(fecha.getFullYear() - año);\n\n  \n  // Convertir de nuevo a formato DD/MM/AAAA\n  let diaNuevo = String(fecha.getDate()).padStart(2, '0');\n  let mesNuevo = String(fecha.getMonth() + 1).padStart(2, '0'); // Ajustar el mes\n  let anioNuevo = fecha.getFullYear();\n  \n  return `${diaNuevo}/${mesNuevo}/${anioNuevo}`;\n}\n\n\nlet fechaStr = `${$input.first().json.Dia}/${$input.first().json.Mes}/${$input.first().json.Año}`;\n\n\n\nlet fechaActual =restarDias(fechaStr,0,0)\n\nlet fechaRest1Año0 =restarDias(fechaStr,1,0)\nlet fechaRest2Año0 =restarDias(fechaStr,2,0)\nlet fechaRest3Año0 =restarDias(fechaStr,3,0)\nlet fechaRest4Año0 =restarDias(fechaStr,4,0)\nlet fechaRest5Año0 =restarDias(fechaStr,5,0)\nlet fechaRest6Año0 =restarDias(fechaStr,6,0)\nlet fechaRest7Año0 =restarDias(fechaStr,7,0)\n\n\n\n\n\nreturn [{ \n  fechaActual: fechaActual,\n  fechaSemAnt:[\n   fechaRest1Año0,\n   fechaRest2Año0,\n   fechaRest3Año0,\n   fechaRest4Año0,\n   fechaRest5Año0,\n   fechaRest6Año0,\n   fechaRest7Año0],\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        480
      ],
      "id": "448dbdbe-5fc9-4af6-8363-edccb154fd02",
      "name": "Extraer fechas"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "\n  {\n    \"ProductID\": \"HAR-BLAN-LEUD-1KG\",\n    \"Dia\": 1,\n    \"Mes\": 2,\n    \"Año\": 2025\n  }\n"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        480
      ],
      "id": "c7672000-a918-4f47-886f-9f7d6f48770a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2bb83733-bb48-43fa-9d72-56857b946ced",
              "name": "MontoTotal",
              "value": "={{ $json.MontoTotal }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        -200
      ],
      "id": "a7341261-6754-41c9-94ed-7ba7d3a40c30",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "MontoTotal"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        920,
        -200
      ],
      "id": "504d2606-9f37-4289-86d0-faadd92e34fe",
      "name": "Summarize"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8a3a6dd-199f-4933-aceb-f603ce6254dd",
              "name": "FechaPedido",
              "value": "={{ $json.FechaEntregaSolicitada.slice(0,2) }}-{{ $json.FechaEntregaSolicitada.slice(3,5) }}-{{ $json.FechaEntregaSolicitada.slice(6,10) }}",
              "type": "string"
            },
            {
              "id": "ca95e7e6-0fb2-4634-9a1f-cc9cbd3e6fdf",
              "name": "FechaEntregaReal",
              "value": "={{ $json.FechaEntregaReal.slice(0,2) }}-{{ $json.FechaEntregaReal.slice(3,5) }}-{{ $json.FechaEntregaReal.slice(6,10) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        60
      ],
      "id": "b933a4e5-f12e-4c11-8ece-20d0ffecdcfc",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23ad9f2b-8952-4724-a238-5143413e954c",
              "name": "FechaPedido",
              "value": "={{ $json.FechaPedido.toDateTime(\"dd-MM-yyyy\") }}",
              "type": "string"
            },
            {
              "id": "44d12511-ef61-4339-a766-7ce48f7f2594",
              "name": "FechaEntregaReal",
              "value": "={{ $json.FechaEntregaReal.toDateTime(\"dd-MM-yyyy\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        60
      ],
      "id": "5f94c9cf-c7b0-4432-b0fb-f79935d9643c",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "85a1f9d2-65a4-4d61-9cb6-7316ead7644d",
              "leftValue": "={{ $json.FechaPedido }}",
              "rightValue": "={{ $json.FechaEntregaReal }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1100,
        -20
      ],
      "id": "0775ede4-d020-47d3-a7ab-161b9cc7c84b",
      "name": "Filter"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "FechaPedido"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1340,
        -20
      ],
      "id": "bf2c9c99-1787-4d52-897f-4d3ef56d728e",
      "name": "Summarize1"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "FechaEntregaReal"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1340,
        100
      ],
      "id": "97cad1fd-380b-41db-8a29-0cd24b1f455e",
      "name": "Summarize2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1640,
        20
      ],
      "id": "12431a36-a402-404c-a291-2d8b53c4b155",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1860,
        20
      ],
      "id": "5643c387-2408-476f-b5e8-750222580f46",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66848a9f-812e-4a3f-a63e-ee798340e38b",
              "name": "OTIF",
              "value": "={{ (($json.data[1].count_FechaPedido /$json.data[0].count_FechaEntregaReal)*100).round(1)}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        20
      ],
      "id": "4b87fcb7-d001-4286-ab39-ffc852304df5",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2bb83733-bb48-43fa-9d72-56857b946ced",
              "name": "MontoTotal",
              "value": "={{ $json.MontoTotal }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        320
      ],
      "id": "66d8ef55-3f00-4d20-b3e4-6a285836b87a",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "average",
              "field": "MontoTotal"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        880,
        320
      ],
      "id": "023a7276-89e2-45d1-9571-3b7b34fbd5f6",
      "name": "Summarize3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f30b0d2e-d57d-43b5-9631-18417833bc74",
              "name": "average_MontoTotal",
              "value": "={{ $json.average_MontoTotal.round(2) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        320
      ],
      "id": "705b0ff8-5e70-4092-8892-a730f39d6c1c",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "PrecioUnitarioVenta"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        760,
        860
      ],
      "id": "46899b38-7167-413b-aab5-0f4e8b63fe9f",
      "name": "Summarize4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8a3a6dd-199f-4933-aceb-f603ce6254dd",
              "name": "FechaPedido",
              "value": "={{ $json.FechaPedido.slice(0,2) }}-{{ $json.FechaPedido.slice(3,5) }}-{{ $json.FechaPedido.slice(6,10) }}",
              "type": "string"
            },
            {
              "id": "ca95e7e6-0fb2-4634-9a1f-cc9cbd3e6fdf",
              "name": "FechaEntregaReal",
              "value": "={{ $json.FechaEntregaReal.slice(0,2) }}-{{ $json.FechaEntregaReal.slice(3,5) }}-{{ $json.FechaEntregaReal.slice(6,10) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        1100
      ],
      "id": "4165bbb3-f58a-449f-a030-f8eb0684ac85",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23ad9f2b-8952-4724-a238-5143413e954c",
              "name": "FechaPedido",
              "value": "={{ $json.FechaPedido.toDateTime(\"dd-MM-yyyy\") }}",
              "type": "string"
            },
            {
              "id": "44d12511-ef61-4339-a766-7ce48f7f2594",
              "name": "FechaEntregaReal",
              "value": "={{ $json.FechaEntregaReal.toDateTime(\"dd-MM-yyyy\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        1100
      ],
      "id": "d788e697-c89b-4b45-be17-eb5ad8118e47",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $json.FechaPedido }}",
        "endDate": "={{ $json.FechaEntregaReal }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1220,
        1100
      ],
      "id": "472599f7-45e4-43c4-adb3-596ea5a31e0c",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "average",
              "field": "timeDifference.days"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1460,
        1100
      ],
      "id": "8474087a-e767-492e-b23f-74e0b9d32694",
      "name": "Summarize5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c049117a-81d3-4999-8bf2-1c0ede2d5db6",
              "name": "average_timeDifference_days",
              "value": "={{ $json.average_timeDifference_days.round(2) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        1100
      ],
      "id": "17798990-0427-46da-809b-74495657c593",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bd8983a-c812-4098-92e3-150d0f131796",
              "name": "DescuentoAplicado",
              "value": "={{ $json.DescuentoAplicado }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        1380
      ],
      "id": "5eb27f7f-0008-4a69-9d25-fd94650fd458",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "average",
              "field": "DescuentoAplicado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        920,
        1380
      ],
      "id": "3ea436f6-d18a-4e2e-bd0f-677d2d58a733",
      "name": "Summarize6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa04b39d-846f-4a44-9d09-4451b2a78a9e",
              "name": "CanalVenta",
              "value": "={{ $json.CanalVenta }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        1620
      ],
      "id": "27c8bbd6-e41d-452d-91f0-8b4df0d47100",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "CanalVenta"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        860,
        1620
      ],
      "id": "eacc76f5-9b01-4830-9bcc-22036584b0c8",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "jsCode": "const strings = $input.first().json.CanalVenta;\n\nconst groupedByFirstLetter = strings.reduce((acc, currentString) => {\n  const firstLetter = currentString[0].toLowerCase(); // Usar la primera letra como clave, en minúsculas para agrupar 'Apple' y 'apple'\n  if (!acc[firstLetter]) {\n    acc[firstLetter] = []; // Si la clave no existe, inicializa un nuevo array\n  }\n  acc[firstLetter].push(currentString); // Agrega el string al array correspondiente\n  return acc;\n}, {}); \n\nconst groupedStringsObject = groupedByFirstLetter;\n\nconst counts = {}; \nlet mostFrequentString = null;\nlet maxCount = 0;\n\nfor (const key in groupedStringsObject) {\n  if (Object.hasOwnProperty.call(groupedStringsObject, key)) {\n    const stringArray = groupedStringsObject[key];\n\n    // Iterar sobre cada string dentro del array\n    stringArray.forEach(str => {\n      // Incrementar el contador para el string actual\n      counts[str] = (counts[str] || 0) + 1;\n\n      // Si el contador actual es mayor que el máximo, actualizar\n      if (counts[str] > maxCount) {\n        maxCount = counts[str];\n        mostFrequentString = str;\n      }\n    });\n  }\n}\n\n\nreturn {CTP: mostFrequentString};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        1620
      ],
      "id": "5c8990cf-e5c5-4a00-974a-4fb9cc698333",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "function getRandomDecimal(min, max) {\n    return Math.random() * (max - min) + min;\n}\nlet randomNumber = getRandomDecimal(80, 99);\n\n\n\nreturn {\"PPD\": randomNumber};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        560
      ],
      "id": "17ca0372-6406-4d46-ab35-d98f35e36e09",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "157ecb25-765a-465e-9eb3-ce03a6cd4646",
              "name": "PPD",
              "value": "={{ $json.PPD.round(2) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        560
      ],
      "id": "71847a32-4ac6-46cc-adc5-cc9e22904450",
      "name": "Edit Fields11"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0",
          "mode": "list",
          "cachedResultName": "kpis de ventas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "VVMM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "valor": "={{ $json.sum_MontoTotal }}",
            "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
            "fecha": "={{ $('Extraer fechas').item.json.fechaActual }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1140,
        -200
      ],
      "id": "e73e0097-9327-458e-9ae2-437a33b708f9",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0",
          "mode": "list",
          "cachedResultName": "kpis de ventas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1643267292,
          "mode": "list",
          "cachedResultName": "OTIF",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit#gid=1643267292"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "valor": "={{ $json.OTIF }}",
            "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
            "fecha": "={{ $('Extraer fechas').item.json.fechaActual }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2340,
        20
      ],
      "id": "e09c222e-a666-49a9-ba00-599841ccf8f2",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0",
          "mode": "list",
          "cachedResultName": "kpis de ventas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 929379655,
          "mode": "list",
          "cachedResultName": "TME",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit#gid=929379655"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "valor": "={{ $json.average_timeDifference_days }}",
            "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
            "fecha": "={{ $('Extraer fechas').item.json.fechaActual }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1960,
        1100
      ],
      "id": "3a3e6528-8a9c-46ef-aa4c-cb1777b4cf55",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0",
          "mode": "list",
          "cachedResultName": "kpis de ventas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1199710344,
          "mode": "list",
          "cachedResultName": "PPD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit#gid=1199710344"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "valor": "={{ $json.PPD }}",
            "fecha": "={{ $('Extraer fechas').item.json.fechaActual }}",
            "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1180,
        560
      ],
      "id": "61dcb99b-5c64-409d-8b29-dace2ba41090",
      "name": "Append row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0",
          "mode": "list",
          "cachedResultName": "kpis de ventas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1219776711,
          "mode": "list",
          "cachedResultName": "AOV",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit#gid=1219776711"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "valor": "={{ $json.average_MontoTotal }}",
            "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
            "fecha": "={{ $('Extraer fechas').item.json.fechaActual }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1320,
        320
      ],
      "id": "6f4a3386-b819-4cea-80c4-d753d54d27e1",
      "name": "Append row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0",
          "mode": "list",
          "cachedResultName": "kpis de ventas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 854245972,
          "mode": "list",
          "cachedResultName": "QTY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit#gid=854245972"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "valor": "={{ $json.count_PrecioUnitarioVenta }}",
            "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
            "fecha": "={{ $('Extraer fechas').item.json.fechaActual }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1020,
        860
      ],
      "id": "5ba6b36d-45af-472c-98f8-4a44d8942188",
      "name": "Append row in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0",
          "mode": "list",
          "cachedResultName": "kpis de ventas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1788374855,
          "mode": "list",
          "cachedResultName": "DMA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit#gid=1788374855"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "valor": "={{ $json.average_DescuentoAplicado }}",
            "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
            "fecha": "={{ $('Extraer fechas').item.json.fechaActual }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1200,
        1380
      ],
      "id": "402c4b21-cd7b-4c8b-b9fe-c7d77085453a",
      "name": "Append row in sheet6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0",
          "mode": "list",
          "cachedResultName": "kpis de ventas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1393527217,
          "mode": "list",
          "cachedResultName": "CTP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit#gid=1393527217"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "valor": "={{ $json.CTP }}",
            "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
            "fecha": "={{ $('Extraer fechas').item.json.fechaActual }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1360,
        1620
      ],
      "id": "f3a73555-5565-4485-b2e6-6fb7a9a22a62",
      "name": "Append row in sheet7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Extraer ventas historicas del producto": {
      "main": [
        [
          {
            "node": "Filtrar semana anterior",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer fechas": {
      "main": [
        [
          {
            "node": "Extraer ventas historicas del producto",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Extraer fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar semana anterior": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Summarize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Summarize3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize3": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Summarize5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize5": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Summarize6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Append row in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize4": {
      "main": [
        [
          {
            "node": "Append row in sheet5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize6": {
      "main": [
        [
          {
            "node": "Append row in sheet6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Append row in sheet7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields11": {
      "main": [
        [
          {
            "node": "Append row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "ProductID": "HAR-BLAN-LEUD-1KG",
          "Dia": 1,
          "Mes": 2,
          "Año": 2025
        }
      }
    ]
  },
  "versionId": "f0146cdb-6950-4fda-88a9-87c48ea722fd",
  "activeVersionId": "f0146cdb-6950-4fda-88a9-87c48ea722fd",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-06-30T05:50:19.039Z",
      "createdAt": "2025-06-30T05:50:19.039Z",
      "role": "workflow:owner",
      "workflowId": "nz0kAh3YtpE22Lj2",
      "projectId": "cEfHDRqL69JgpIBq"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-17T21:03:07.932Z",
    "createdAt": "2026-01-17T21:03:07.932Z",
    "versionId": "f0146cdb-6950-4fda-88a9-87c48ea722fd",
    "workflowId": "nz0kAh3YtpE22Lj2",
    "nodes": [
      {
        "parameters": {
          "content": "## Volumen de ventas mensual (VVMM)\n",
          "height": 240,
          "width": 780
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          600,
          -280
        ],
        "id": "d7eb356c-a230-46fb-8f18-00374dc6d06b",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Tasa Cumplimiento OTIF\n",
          "height": 240,
          "width": 1940,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          600,
          -20
        ],
        "id": "1fbe0b5a-8023-41f8-b62d-2494343ddefe",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Valor Medio Pedido (AOV)\n",
          "height": 240,
          "width": 940,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          600,
          240
        ],
        "id": "31961903-144d-46ce-b2c5-b90a8d6372d5",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## Número de Pedidos (QTY)\n\n",
          "height": 240,
          "width": 640,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          600,
          760
        ],
        "id": "b7fddf63-90fc-49fc-b1be-fa92197e4f5c",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "## Tiempo Medio Entrega (TME)\n\n",
          "height": 240,
          "width": 1680,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          600,
          1020
        ],
        "id": "c0881ee4-6f94-4c54-844d-a52d613dcb1c",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "## Descuento Medio Aplicado (DMA)\n",
          "height": 240,
          "width": 820,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          600,
          1280
        ],
        "id": "283d933a-8f8d-4823-92c7-e3a772d683e5",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "content": "## Canal Top Performance (CTP)\n",
          "height": 240,
          "width": 980
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          600,
          1540
        ],
        "id": "117648c3-84b4-48b3-bc71-66436b309978",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "8d5a0371-d018-4570-947c-9242662272da",
                "leftValue": "={{ $json.FechaPedido }}",
                "rightValue": "={{ $('Extraer fechas').item.json.fechaActual }}",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "91471483-0765-4342-a925-52846b883fc1",
                "leftValue": "={{ $json.FechaPedido }}",
                "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[0] }}",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "12f8474d-8fdc-4466-92ed-5256d5f644fe",
                "leftValue": "={{ $json.FechaPedido }}",
                "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[1] }}",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "b459293f-e55f-43e2-b484-2f605de3e727",
                "leftValue": "={{ $json.FechaPedido }}",
                "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[2] }}",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "3f7635ca-b8fa-4686-8a1f-931c4a812f16",
                "leftValue": "={{ $json.FechaPedido }}",
                "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[3] }}",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "09f885d0-1779-41d2-a1c3-8fc4311ddf7e",
                "leftValue": "={{ $json.FechaPedido }}",
                "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[4] }}",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "7b7af9bd-75e3-47da-9d91-e04c273772f8",
                "leftValue": "={{ $json.FechaPedido }}",
                "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[5] }}",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "54b43a3c-8921-4d40-9bc4-4239cc8bc706",
                "leftValue": "={{ $json.FechaPedido }}",
                "rightValue": "={{ $('Extraer fechas').item.json.fechaSemAnt[6] }}",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          260,
          480
        ],
        "id": "8032c03a-2ceb-452d-adfe-30857890e470",
        "name": "Filtrar semana anterior"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno",
            "mode": "list",
            "cachedResultName": "Base de datos sintetica arreglada",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1904553983,
            "mode": "list",
            "cachedResultName": "OrdenesVenta",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit#gid=1904553983"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "=ProductoID",
                "lookupValue": "={{ $('When Executed by Another Workflow').item.json.ProductID }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          20,
          480
        ],
        "id": "bd04df78-5cc2-452a-b82f-6ee5010cfeda",
        "name": "Extraer ventas historicas del producto",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "CWI2Yxp3gWinrW8v",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "function restarDias(fechaExtraida, dias, año ){\n  let partesFecha = fechaExtraida.split(\"/\");\n  let dia = parseInt(partesFecha[0]);\n  let mes = parseInt(partesFecha[1]) - 1; // Los meses en JavaScript son 0-11\n  let anio = parseInt(partesFecha[2]);\n  \n  // Crear un objeto de fecha\n  let fecha = new Date(anio, mes, dia);\n  \n  // Obtener el día actual\n  let diaActual = fecha.getDate();\n  console.log(`Día actual: ${diaActual}`); // Muestra el día actual\n  \n  // Restar un día\n  fecha.setDate(diaActual - dias);\n  \n  fecha.setFullYear(fecha.getFullYear() - año);\n\n  \n  // Convertir de nuevo a formato DD/MM/AAAA\n  let diaNuevo = String(fecha.getDate()).padStart(2, '0');\n  let mesNuevo = String(fecha.getMonth() + 1).padStart(2, '0'); // Ajustar el mes\n  let anioNuevo = fecha.getFullYear();\n  \n  return `${diaNuevo}/${mesNuevo}/${anioNuevo}`;\n}\n\n\nlet fechaStr = `${$input.first().json.Dia}/${$input.first().json.Mes}/${$input.first().json.Año}`;\n\n\n\nlet fechaActual =restarDias(fechaStr,0,0)\n\nlet fechaRest1Año0 =restarDias(fechaStr,1,0)\nlet fechaRest2Año0 =restarDias(fechaStr,2,0)\nlet fechaRest3Año0 =restarDias(fechaStr,3,0)\nlet fechaRest4Año0 =restarDias(fechaStr,4,0)\nlet fechaRest5Año0 =restarDias(fechaStr,5,0)\nlet fechaRest6Año0 =restarDias(fechaStr,6,0)\nlet fechaRest7Año0 =restarDias(fechaStr,7,0)\n\n\n\n\n\nreturn [{ \n  fechaActual: fechaActual,\n  fechaSemAnt:[\n   fechaRest1Año0,\n   fechaRest2Año0,\n   fechaRest3Año0,\n   fechaRest4Año0,\n   fechaRest5Año0,\n   fechaRest6Año0,\n   fechaRest7Año0],\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -200,
          480
        ],
        "id": "448dbdbe-5fc9-4af6-8363-edccb154fd02",
        "name": "Extraer fechas"
      },
      {
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "\n  {\n    \"ProductID\": \"HAR-BLAN-LEUD-1KG\",\n    \"Dia\": 1,\n    \"Mes\": 2,\n    \"Año\": 2025\n  }\n"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -480,
          480
        ],
        "id": "c7672000-a918-4f47-886f-9f7d6f48770a",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2bb83733-bb48-43fa-9d72-56857b946ced",
                "name": "MontoTotal",
                "value": "={{ $json.MontoTotal }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          660,
          -200
        ],
        "id": "a7341261-6754-41c9-94ed-7ba7d3a40c30",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "sum",
                "field": "MontoTotal"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          920,
          -200
        ],
        "id": "504d2606-9f37-4289-86d0-faadd92e34fe",
        "name": "Summarize"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e8a3a6dd-199f-4933-aceb-f603ce6254dd",
                "name": "FechaPedido",
                "value": "={{ $json.FechaEntregaSolicitada.slice(0,2) }}-{{ $json.FechaEntregaSolicitada.slice(3,5) }}-{{ $json.FechaEntregaSolicitada.slice(6,10) }}",
                "type": "string"
              },
              {
                "id": "ca95e7e6-0fb2-4634-9a1f-cc9cbd3e6fdf",
                "name": "FechaEntregaReal",
                "value": "={{ $json.FechaEntregaReal.slice(0,2) }}-{{ $json.FechaEntregaReal.slice(3,5) }}-{{ $json.FechaEntregaReal.slice(6,10) }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          660,
          60
        ],
        "id": "b933a4e5-f12e-4c11-8ece-20d0ffecdcfc",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "23ad9f2b-8952-4724-a238-5143413e954c",
                "name": "FechaPedido",
                "value": "={{ $json.FechaPedido.toDateTime(\"dd-MM-yyyy\") }}",
                "type": "string"
              },
              {
                "id": "44d12511-ef61-4339-a766-7ce48f7f2594",
                "name": "FechaEntregaReal",
                "value": "={{ $json.FechaEntregaReal.toDateTime(\"dd-MM-yyyy\") }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          880,
          60
        ],
        "id": "5f94c9cf-c7b0-4432-b0fb-f79935d9643c",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "85a1f9d2-65a4-4d61-9cb6-7316ead7644d",
                "leftValue": "={{ $json.FechaPedido }}",
                "rightValue": "={{ $json.FechaEntregaReal }}",
                "operator": {
                  "type": "dateTime",
                  "operation": "beforeOrEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          1100,
          -20
        ],
        "id": "0775ede4-d020-47d3-a7ab-161b9cc7c84b",
        "name": "Filter"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "field": "FechaPedido"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          1340,
          -20
        ],
        "id": "bf2c9c99-1787-4d52-897f-4d3ef56d728e",
        "name": "Summarize1"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "field": "FechaEntregaReal"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          1340,
          100
        ],
        "id": "97cad1fd-380b-41db-8a29-0cd24b1f455e",
        "name": "Summarize2"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.1,
        "position": [
          1640,
          20
        ],
        "id": "12431a36-a402-404c-a291-2d8b53c4b155",
        "name": "Merge"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1860,
          20
        ],
        "id": "5643c387-2408-476f-b5e8-750222580f46",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "66848a9f-812e-4a3f-a63e-ee798340e38b",
                "name": "OTIF",
                "value": "={{ (($json.data[1].count_FechaPedido /$json.data[0].count_FechaEntregaReal)*100).round(1)}}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2080,
          20
        ],
        "id": "4b87fcb7-d001-4286-ab39-ffc852304df5",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2bb83733-bb48-43fa-9d72-56857b946ced",
                "name": "MontoTotal",
                "value": "={{ $json.MontoTotal }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          660,
          320
        ],
        "id": "66d8ef55-3f00-4d20-b3e4-6a285836b87a",
        "name": "Edit Fields4"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "average",
                "field": "MontoTotal"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          880,
          320
        ],
        "id": "023a7276-89e2-45d1-9571-3b7b34fbd5f6",
        "name": "Summarize3"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f30b0d2e-d57d-43b5-9631-18417833bc74",
                "name": "average_MontoTotal",
                "value": "={{ $json.average_MontoTotal.round(2) }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1100,
          320
        ],
        "id": "705b0ff8-5e70-4092-8892-a730f39d6c1c",
        "name": "Edit Fields5"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "field": "PrecioUnitarioVenta"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          760,
          860
        ],
        "id": "46899b38-7167-413b-aab5-0f4e8b63fe9f",
        "name": "Summarize4"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e8a3a6dd-199f-4933-aceb-f603ce6254dd",
                "name": "FechaPedido",
                "value": "={{ $json.FechaPedido.slice(0,2) }}-{{ $json.FechaPedido.slice(3,5) }}-{{ $json.FechaPedido.slice(6,10) }}",
                "type": "string"
              },
              {
                "id": "ca95e7e6-0fb2-4634-9a1f-cc9cbd3e6fdf",
                "name": "FechaEntregaReal",
                "value": "={{ $json.FechaEntregaReal.slice(0,2) }}-{{ $json.FechaEntregaReal.slice(3,5) }}-{{ $json.FechaEntregaReal.slice(6,10) }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          720,
          1100
        ],
        "id": "4165bbb3-f58a-449f-a030-f8eb0684ac85",
        "name": "Edit Fields6"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "23ad9f2b-8952-4724-a238-5143413e954c",
                "name": "FechaPedido",
                "value": "={{ $json.FechaPedido.toDateTime(\"dd-MM-yyyy\") }}",
                "type": "string"
              },
              {
                "id": "44d12511-ef61-4339-a766-7ce48f7f2594",
                "name": "FechaEntregaReal",
                "value": "={{ $json.FechaEntregaReal.toDateTime(\"dd-MM-yyyy\") }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          940,
          1100
        ],
        "id": "d788e697-c89b-4b45-be17-eb5ad8118e47",
        "name": "Edit Fields7"
      },
      {
        "parameters": {
          "operation": "getTimeBetweenDates",
          "startDate": "={{ $json.FechaPedido }}",
          "endDate": "={{ $json.FechaEntregaReal }}",
          "options": {}
        },
        "type": "n8n-nodes-base.dateTime",
        "typeVersion": 2,
        "position": [
          1220,
          1100
        ],
        "id": "472599f7-45e4-43c4-adb3-596ea5a31e0c",
        "name": "Date & Time"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "average",
                "field": "timeDifference.days"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          1460,
          1100
        ],
        "id": "8474087a-e767-492e-b23f-74e0b9d32694",
        "name": "Summarize5"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c049117a-81d3-4999-8bf2-1c0ede2d5db6",
                "name": "average_timeDifference_days",
                "value": "={{ $json.average_timeDifference_days.round(2) }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1680,
          1100
        ],
        "id": "17798990-0427-46da-809b-74495657c593",
        "name": "Edit Fields8"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3bd8983a-c812-4098-92e3-150d0f131796",
                "name": "DescuentoAplicado",
                "value": "={{ $json.DescuentoAplicado }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          660,
          1380
        ],
        "id": "5eb27f7f-0008-4a69-9d25-fd94650fd458",
        "name": "Edit Fields9"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "average",
                "field": "DescuentoAplicado"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1.1,
        "position": [
          920,
          1380
        ],
        "id": "3ea436f6-d18a-4e2e-bd0f-677d2d58a733",
        "name": "Summarize6"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fa04b39d-846f-4a44-9d09-4451b2a78a9e",
                "name": "CanalVenta",
                "value": "={{ $json.CanalVenta }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          640,
          1620
        ],
        "id": "27c8bbd6-e41d-452d-91f0-8b4df0d47100",
        "name": "Edit Fields10"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "CanalVenta"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          860,
          1620
        ],
        "id": "eacc76f5-9b01-4830-9bcc-22036584b0c8",
        "name": "Aggregate1"
      },
      {
        "parameters": {
          "jsCode": "const strings = $input.first().json.CanalVenta;\n\nconst groupedByFirstLetter = strings.reduce((acc, currentString) => {\n  const firstLetter = currentString[0].toLowerCase(); // Usar la primera letra como clave, en minúsculas para agrupar 'Apple' y 'apple'\n  if (!acc[firstLetter]) {\n    acc[firstLetter] = []; // Si la clave no existe, inicializa un nuevo array\n  }\n  acc[firstLetter].push(currentString); // Agrega el string al array correspondiente\n  return acc;\n}, {}); \n\nconst groupedStringsObject = groupedByFirstLetter;\n\nconst counts = {}; \nlet mostFrequentString = null;\nlet maxCount = 0;\n\nfor (const key in groupedStringsObject) {\n  if (Object.hasOwnProperty.call(groupedStringsObject, key)) {\n    const stringArray = groupedStringsObject[key];\n\n    // Iterar sobre cada string dentro del array\n    stringArray.forEach(str => {\n      // Incrementar el contador para el string actual\n      counts[str] = (counts[str] || 0) + 1;\n\n      // Si el contador actual es mayor que el máximo, actualizar\n      if (counts[str] > maxCount) {\n        maxCount = counts[str];\n        mostFrequentString = str;\n      }\n    });\n  }\n}\n\n\nreturn {CTP: mostFrequentString};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1100,
          1620
        ],
        "id": "5c8990cf-e5c5-4a00-974a-4fb9cc698333",
        "name": "Code"
      },
      {
        "parameters": {
          "jsCode": "function getRandomDecimal(min, max) {\n    return Math.random() * (max - min) + min;\n}\nlet randomNumber = getRandomDecimal(80, 99);\n\n\n\nreturn {\"PPD\": randomNumber};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          740,
          560
        ],
        "id": "17ca0372-6406-4d46-ab35-d98f35e36e09",
        "name": "Code1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "157ecb25-765a-465e-9eb3-ce03a6cd4646",
                "name": "PPD",
                "value": "={{ $json.PPD.round(2) }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          960,
          560
        ],
        "id": "71847a32-4ac6-46cc-adc5-cc9e22904450",
        "name": "Edit Fields11"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0",
            "mode": "list",
            "cachedResultName": "kpis de ventas",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "VVMM",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "valor": "={{ $json.sum_MontoTotal }}",
              "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
              "fecha": "={{ $('Extraer fechas').item.json.fechaActual }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "producto",
                "displayName": "producto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "valor",
                "displayName": "valor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "fecha",
                "displayName": "fecha",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          1140,
          -200
        ],
        "id": "e73e0097-9327-458e-9ae2-437a33b708f9",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "CWI2Yxp3gWinrW8v",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0",
            "mode": "list",
            "cachedResultName": "kpis de ventas",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1643267292,
            "mode": "list",
            "cachedResultName": "OTIF",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit#gid=1643267292"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "valor": "={{ $json.OTIF }}",
              "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
              "fecha": "={{ $('Extraer fechas').item.json.fechaActual }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "producto",
                "displayName": "producto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "valor",
                "displayName": "valor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "fecha",
                "displayName": "fecha",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          2340,
          20
        ],
        "id": "e09c222e-a666-49a9-ba00-599841ccf8f2",
        "name": "Append row in sheet1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "CWI2Yxp3gWinrW8v",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0",
            "mode": "list",
            "cachedResultName": "kpis de ventas",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 929379655,
            "mode": "list",
            "cachedResultName": "TME",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit#gid=929379655"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "valor": "={{ $json.average_timeDifference_days }}",
              "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
              "fecha": "={{ $('Extraer fechas').item.json.fechaActual }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "producto",
                "displayName": "producto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "valor",
                "displayName": "valor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "fecha",
                "displayName": "fecha",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          1960,
          1100
        ],
        "id": "3a3e6528-8a9c-46ef-aa4c-cb1777b4cf55",
        "name": "Append row in sheet2",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "CWI2Yxp3gWinrW8v",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0",
            "mode": "list",
            "cachedResultName": "kpis de ventas",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1199710344,
            "mode": "list",
            "cachedResultName": "PPD",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit#gid=1199710344"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "valor": "={{ $json.PPD }}",
              "fecha": "={{ $('Extraer fechas').item.json.fechaActual }}",
              "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "producto",
                "displayName": "producto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "valor",
                "displayName": "valor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "fecha",
                "displayName": "fecha",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          1180,
          560
        ],
        "id": "61dcb99b-5c64-409d-8b29-dace2ba41090",
        "name": "Append row in sheet3",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "CWI2Yxp3gWinrW8v",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0",
            "mode": "list",
            "cachedResultName": "kpis de ventas",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1219776711,
            "mode": "list",
            "cachedResultName": "AOV",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit#gid=1219776711"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "valor": "={{ $json.average_MontoTotal }}",
              "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
              "fecha": "={{ $('Extraer fechas').item.json.fechaActual }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "producto",
                "displayName": "producto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "valor",
                "displayName": "valor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "fecha",
                "displayName": "fecha",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          1320,
          320
        ],
        "id": "6f4a3386-b819-4cea-80c4-d753d54d27e1",
        "name": "Append row in sheet4",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "CWI2Yxp3gWinrW8v",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0",
            "mode": "list",
            "cachedResultName": "kpis de ventas",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 854245972,
            "mode": "list",
            "cachedResultName": "QTY",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit#gid=854245972"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "valor": "={{ $json.count_PrecioUnitarioVenta }}",
              "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
              "fecha": "={{ $('Extraer fechas').item.json.fechaActual }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "producto",
                "displayName": "producto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "valor",
                "displayName": "valor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "fecha",
                "displayName": "fecha",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          1020,
          860
        ],
        "id": "5ba6b36d-45af-472c-98f8-4a44d8942188",
        "name": "Append row in sheet5",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "CWI2Yxp3gWinrW8v",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0",
            "mode": "list",
            "cachedResultName": "kpis de ventas",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1788374855,
            "mode": "list",
            "cachedResultName": "DMA",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit#gid=1788374855"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "valor": "={{ $json.average_DescuentoAplicado }}",
              "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
              "fecha": "={{ $('Extraer fechas').item.json.fechaActual }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "producto",
                "displayName": "producto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "valor",
                "displayName": "valor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "fecha",
                "displayName": "fecha",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          1200,
          1380
        ],
        "id": "402c4b21-cd7b-4c8b-b9fe-c7d77085453a",
        "name": "Append row in sheet6",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "CWI2Yxp3gWinrW8v",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0",
            "mode": "list",
            "cachedResultName": "kpis de ventas",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1393527217,
            "mode": "list",
            "cachedResultName": "CTP",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BO6eYWNuNjTWd_48UGJJFbvjFS8UL61CzN1o8N8xGM0/edit#gid=1393527217"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "valor": "={{ $json.CTP }}",
              "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
              "fecha": "={{ $('Extraer fechas').item.json.fechaActual }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "producto",
                "displayName": "producto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "valor",
                "displayName": "valor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "fecha",
                "displayName": "fecha",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          1360,
          1620
        ],
        "id": "f3a73555-5565-4485-b2e6-6fb7a9a22a62",
        "name": "Append row in sheet7",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "CWI2Yxp3gWinrW8v",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Extraer ventas historicas del producto": {
        "main": [
          [
            {
              "node": "Filtrar semana anterior",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extraer fechas": {
        "main": [
          [
            {
              "node": "Extraer ventas historicas del producto",
              "type": "main",
              "index": 0
            },
            {
              "node": "Code1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Extraer fechas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtrar semana anterior": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields4",
              "type": "main",
              "index": 0
            },
            {
              "node": "Summarize4",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields6",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields9",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields10",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Summarize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            },
            {
              "node": "Summarize2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Summarize1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize2": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields4": {
        "main": [
          [
            {
              "node": "Summarize3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize3": {
        "main": [
          [
            {
              "node": "Edit Fields5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields6": {
        "main": [
          [
            {
              "node": "Edit Fields7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields7": {
        "main": [
          [
            {
              "node": "Date & Time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Date & Time": {
        "main": [
          [
            {
              "node": "Summarize5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize5": {
        "main": [
          [
            {
              "node": "Edit Fields8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields9": {
        "main": [
          [
            {
              "node": "Summarize6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields10": {
        "main": [
          [
            {
              "node": "Aggregate1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate1": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Append row in sheet1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields5": {
        "main": [
          [
            {
              "node": "Append row in sheet4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize4": {
        "main": [
          [
            {
              "node": "Append row in sheet5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields8": {
        "main": [
          [
            {
              "node": "Append row in sheet2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize6": {
        "main": [
          [
            {
              "node": "Append row in sheet6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "Append row in sheet7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code1": {
        "main": [
          [
            {
              "node": "Edit Fields11",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields11": {
        "main": [
          [
            {
              "node": "Append row in sheet3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2025-06-30T05:46:46.217Z",
      "createdAt": "2025-06-30T05:46:46.217Z",
      "id": "c5N8G6Mzc0mOXCsw",
      "name": "KPI"
    },
    {
      "updatedAt": "2025-06-30T05:39:23.906Z",
      "createdAt": "2025-06-30T05:39:23.906Z",
      "id": "gh4ts8neeyHbzaZE",
      "name": "herramienta"
    },
    {
      "updatedAt": "2025-06-30T05:39:23.935Z",
      "createdAt": "2025-06-30T05:39:23.935Z",
      "id": "nH1Q67MvpBeviA8C",
      "name": "Proyecto multi agentes"
    }
  ]
}