workflow/Llamada agente de disponibilidad.json
{
  "updatedAt": "2025-07-23T14:13:52.000Z",
  "createdAt": "2025-07-19T02:34:14.861Z",
  "id": "UbeF61H7Bo1mFQ5Z",
  "name": "Llamada agente de disponibilidad",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno",
          "mode": "list",
          "cachedResultName": "Base de datos sintetica arreglada",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 262449362,
          "mode": "list",
          "cachedResultName": "ListaMateriales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit#gid=262449362"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=ProductoID",
              "lookupValue": "={{ $json.ProductoID[0] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        940,
        80
      ],
      "id": "cbc16b32-6d88-4198-90c5-443fdf948d39",
      "name": "Extraer ventas historicas del producto",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nfunction getLastStockFromSeparateArrays(insumoIDs, stocks) {\n  // Verificamos que ambos arrays tengan la misma longitud\n  if (insumoIDs.length !== stocks.length) {\n    return [];\n  }\n\n  const result = {};\n\n  for (let i = 0; i < insumoIDs.length; i++) {\n    const insumoID = insumoIDs[i]; \n    let stock = stocks[i];\n    stock = Number(stock);\n    if (isNaN(stock)) {\n      stock = 0; // O podrías saltar este item, lanzar un error, etc.\n    }\n    stock = Math.abs(stock);\n    result[insumoID]  = { insumoID: insumoID, Stock: stock };\n  }\n\n  return Object.values(result);\n}\n\nconst insumoIDsString = $input.first().json.InsumoID;\nconst stocksString = $input.first().json.StockResultante;\n\nconst lastStocksString = getLastStockFromSeparateArrays(insumoIDsString, stocksString);\n\n\n\nreturn lastStocksString;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        -20
      ],
      "id": "bee39229-be5d-4716-b020-aaaa7cf00ada",
      "name": "Code"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "InsumoID"
            },
            {
              "fieldToAggregate": "StockResultante"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1380,
        -20
      ],
      "id": "da85f2e0-2e5c-4782-8852-3718207482bb",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "let str = \"Insumos disponibles para: \"+ $('Aggregate2').first().json.ProductoID[0] + \"\\n \";\n\nfor(let i=0; i < $input.first().json.insumoID.length ;i++){\n  str = str + \"InsumoID:\" + $input.first().json.insumoID[i] + \"\\n \"+ \"Cantidad Disponible: \"+ $input.first().json.Stock[i] + \"\\n \" + \"Cantidad requerida: \"+ $input.first().json.CantidadRequerida[i] + \"\\n\\n\";\n}\n\n\n\nreturn [{\n  \"Insumos\": str\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2260,
        80
      ],
      "id": "d829ac02-b3d2-4755-8bb1-5bf82ed748dc",
      "name": "Code1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "insumoID"
            },
            {
              "fieldToAggregate": "Stock"
            },
            {
              "fieldToAggregate": "CantidadRequerida"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2040,
        80
      ],
      "id": "9f4c7bb8-2a0b-4556-aba5-eabe934c2838",
      "name": "Aggregate1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1820,
        80
      ],
      "id": "4b27a017-a43d-4905-9299-de2d70a3870f",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9b7c27b-5702-43b6-9269-e410d6cac4f8",
              "name": "CantidadRequerida",
              "value": "={{ $json.CantidadRequerida }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        180
      ],
      "id": "e383d6a5-790d-466e-9b78-7a45c0a75a9e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno",
          "mode": "list",
          "cachedResultName": "Base de datos sintetica arreglada",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2094296849,
          "mode": "list",
          "cachedResultName": "InventarioInsumos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit#gid=2094296849"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "InsumoID",
              "lookupValue": "={{ $json.InsumoID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1160,
        -20
      ],
      "id": "405e450f-fd1c-47e0-9b98-9cc1fdf6358e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84",
          "mode": "list",
          "cachedResultName": "Respuesta agentes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2054870949,
          "mode": "list",
          "cachedResultName": "Kpis añadidos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit#gid=2054870949"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        280,
        80
      ],
      "id": "9db8f5e7-3b19-4cb8-8fc3-0e97745efc5b",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "row_number",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        500,
        80
      ],
      "id": "a4fe33bc-c552-4bac-a00e-c769f6eb5ba8",
      "name": "Sort"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Cantidad"
            },
            {
              "fieldToAggregate": "TiempoEntrega"
            },
            {
              "fieldToAggregate": "ProductoID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        720,
        80
      ],
      "id": "adcaa92f-c3f0-4f25-911a-33533ec06302",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "path": "agente/disponibilidad",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        40,
        80
      ],
      "id": "3261adb8-7f70-4248-88de-87974ac0fb2e",
      "name": "Webhook",
      "webhookId": "74af78cf-1deb-41d0-86f5-b592339b7eda"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.respuesta }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2740,
        80
      ],
      "id": "849a28d9-aede-4587-b14a-d493c0ae7c4d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84",
          "mode": "list",
          "cachedResultName": "Respuesta agentes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 428586664,
          "mode": "list",
          "cachedResultName": "SimularOrden",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit#gid=428586664"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "producto": "={{ $('Aggregate2').item.json.ProductoID[0] }}",
            "Agente": "Agente de Disponibilidad de Insumos",
            "respuesta": "={{ $json.Insumos }}"
          },
          "matchingColumns": [
            "Agente"
          ],
          "schema": [
            {
              "id": "Agente",
              "displayName": "Agente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "respuesta",
              "displayName": "respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2500,
        80
      ],
      "id": "77f284af-a595-47f2-bb99-88fbbd7e0b84",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Extraer ventas historicas del producto": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Extraer ventas historicas del producto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fe798063-ae9a-4cb1-9e4d-528f439a838d",
  "activeVersionId": "fe798063-ae9a-4cb1-9e4d-528f439a838d",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-07-19T02:34:14.937Z",
      "createdAt": "2025-07-19T02:34:14.937Z",
      "role": "workflow:owner",
      "workflowId": "UbeF61H7Bo1mFQ5Z",
      "projectId": "cEfHDRqL69JgpIBq"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-17T21:03:07.932Z",
    "createdAt": "2026-01-17T21:03:07.932Z",
    "versionId": "fe798063-ae9a-4cb1-9e4d-528f439a838d",
    "workflowId": "UbeF61H7Bo1mFQ5Z",
    "nodes": [
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno",
            "mode": "list",
            "cachedResultName": "Base de datos sintetica arreglada",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 262449362,
            "mode": "list",
            "cachedResultName": "ListaMateriales",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit#gid=262449362"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "=ProductoID",
                "lookupValue": "={{ $json.ProductoID[0] }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          940,
          80
        ],
        "id": "cbc16b32-6d88-4198-90c5-443fdf948d39",
        "name": "Extraer ventas historicas del producto",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "CWI2Yxp3gWinrW8v",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "\nfunction getLastStockFromSeparateArrays(insumoIDs, stocks) {\n  // Verificamos que ambos arrays tengan la misma longitud\n  if (insumoIDs.length !== stocks.length) {\n    return [];\n  }\n\n  const result = {};\n\n  for (let i = 0; i < insumoIDs.length; i++) {\n    const insumoID = insumoIDs[i]; \n    let stock = stocks[i];\n    stock = Number(stock);\n    if (isNaN(stock)) {\n      stock = 0; // O podrías saltar este item, lanzar un error, etc.\n    }\n    stock = Math.abs(stock);\n    result[insumoID]  = { insumoID: insumoID, Stock: stock };\n  }\n\n  return Object.values(result);\n}\n\nconst insumoIDsString = $input.first().json.InsumoID;\nconst stocksString = $input.first().json.StockResultante;\n\nconst lastStocksString = getLastStockFromSeparateArrays(insumoIDsString, stocksString);\n\n\n\nreturn lastStocksString;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1600,
          -20
        ],
        "id": "bee39229-be5d-4716-b020-aaaa7cf00ada",
        "name": "Code"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "InsumoID"
              },
              {
                "fieldToAggregate": "StockResultante"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1380,
          -20
        ],
        "id": "da85f2e0-2e5c-4782-8852-3718207482bb",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "jsCode": "let str = \"Insumos disponibles para: \"+ $('Aggregate2').first().json.ProductoID[0] + \"\\n \";\n\nfor(let i=0; i < $input.first().json.insumoID.length ;i++){\n  str = str + \"InsumoID:\" + $input.first().json.insumoID[i] + \"\\n \"+ \"Cantidad Disponible: \"+ $input.first().json.Stock[i] + \"\\n \" + \"Cantidad requerida: \"+ $input.first().json.CantidadRequerida[i] + \"\\n\\n\";\n}\n\n\n\nreturn [{\n  \"Insumos\": str\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2260,
          80
        ],
        "id": "d829ac02-b3d2-4755-8bb1-5bf82ed748dc",
        "name": "Code1"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "insumoID"
              },
              {
                "fieldToAggregate": "Stock"
              },
              {
                "fieldToAggregate": "CantidadRequerida"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          2040,
          80
        ],
        "id": "9f4c7bb8-2a0b-4556-aba5-eabe934c2838",
        "name": "Aggregate1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.1,
        "position": [
          1820,
          80
        ],
        "id": "4b27a017-a43d-4905-9299-de2d70a3870f",
        "name": "Merge"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e9b7c27b-5702-43b6-9269-e410d6cac4f8",
                "name": "CantidadRequerida",
                "value": "={{ $json.CantidadRequerida }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1600,
          180
        ],
        "id": "e383d6a5-790d-466e-9b78-7a45c0a75a9e",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno",
            "mode": "list",
            "cachedResultName": "Base de datos sintetica arreglada",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 2094296849,
            "mode": "list",
            "cachedResultName": "InventarioInsumos",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit#gid=2094296849"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "InsumoID",
                "lookupValue": "={{ $json.InsumoID }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          1160,
          -20
        ],
        "id": "405e450f-fd1c-47e0-9b98-9cc1fdf6358e",
        "name": "Get row(s) in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "CWI2Yxp3gWinrW8v",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84",
            "mode": "list",
            "cachedResultName": "Respuesta agentes",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 2054870949,
            "mode": "list",
            "cachedResultName": "Kpis añadidos",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit#gid=2054870949"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          280,
          80
        ],
        "id": "9db8f5e7-3b19-4cb8-8fc3-0e97745efc5b",
        "name": "Get row(s) in sheet1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "CWI2Yxp3gWinrW8v",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "sortFieldsUi": {
            "sortField": [
              {
                "fieldName": "row_number",
                "order": "descending"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.sort",
        "typeVersion": 1,
        "position": [
          500,
          80
        ],
        "id": "a4fe33bc-c552-4bac-a00e-c769f6eb5ba8",
        "name": "Sort"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "Cantidad"
              },
              {
                "fieldToAggregate": "TiempoEntrega"
              },
              {
                "fieldToAggregate": "ProductoID"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          720,
          80
        ],
        "id": "adcaa92f-c3f0-4f25-911a-33533ec06302",
        "name": "Aggregate2"
      },
      {
        "parameters": {
          "path": "agente/disponibilidad",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          40,
          80
        ],
        "id": "3261adb8-7f70-4248-88de-87974ac0fb2e",
        "name": "Webhook",
        "webhookId": "74af78cf-1deb-41d0-86f5-b592339b7eda"
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "={{ $json.respuesta }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          2740,
          80
        ],
        "id": "849a28d9-aede-4587-b14a-d493c0ae7c4d",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84",
            "mode": "list",
            "cachedResultName": "Respuesta agentes",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 428586664,
            "mode": "list",
            "cachedResultName": "SimularOrden",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit#gid=428586664"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "producto": "={{ $('Aggregate2').item.json.ProductoID[0] }}",
              "Agente": "Agente de Disponibilidad de Insumos",
              "respuesta": "={{ $json.Insumos }}"
            },
            "matchingColumns": [
              "Agente"
            ],
            "schema": [
              {
                "id": "Agente",
                "displayName": "Agente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "producto",
                "displayName": "producto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "respuesta",
                "displayName": "respuesta",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          2500,
          80
        ],
        "id": "77f284af-a595-47f2-bb99-88fbbd7e0b84",
        "name": "Append or update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "CWI2Yxp3gWinrW8v",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Extraer ventas historicas del producto": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate1": {
        "main": [
          [
            {
              "node": "Code1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Aggregate1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet1": {
        "main": [
          [
            {
              "node": "Sort",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sort": {
        "main": [
          [
            {
              "node": "Aggregate2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate2": {
        "main": [
          [
            {
              "node": "Extraer ventas historicas del producto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code1": {
        "main": [
          [
            {
              "node": "Append or update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond to Webhook": {
        "main": [
          []
        ]
      },
      "Append or update row in sheet": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2025-06-30T05:39:23.880Z",
      "createdAt": "2025-06-30T05:39:23.880Z",
      "id": "PCwJPjYtmsBC33eY",
      "name": "codigo"
    },
    {
      "updatedAt": "2025-06-30T05:39:23.906Z",
      "createdAt": "2025-06-30T05:39:23.906Z",
      "id": "gh4ts8neeyHbzaZE",
      "name": "herramienta"
    },
    {
      "updatedAt": "2025-06-30T05:39:23.935Z",
      "createdAt": "2025-06-30T05:39:23.935Z",
      "id": "nH1Q67MvpBeviA8C",
      "name": "Proyecto multi agentes"
    }
  ]
}