workflow/llamada Capacidad y Estado de Lineas.json
{
  "updatedAt": "2025-07-23T14:14:50.000Z",
  "createdAt": "2025-07-17T14:59:23.416Z",
  "id": "wH0QjP2ZAVsapd3L",
  "name": "llamada Capacidad y Estado de Lineas",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        860,
        0
      ],
      "id": "da0714e1-f021-424f-8953-c82c605efa2e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "vzdjQJqcvomw8EgG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "OrdenesProduccion.csv",
        "workflowId": {
          "__rl": true,
          "value": "rCyHVYJ2Aa9xTNXP",
          "mode": "list",
          "cachedResultName": "herramienta OrdenesProduccion csv"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ProductoID": "={{ $json.ProductoID[0] }}"
          },
          "matchingColumns": [
            "ProductoID"
          ],
          "schema": [
            {
              "id": "ProductoID",
              "displayName": "ProductoID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1100,
        0
      ],
      "id": "661be61e-616a-48c2-98a8-6966ccecd86a",
      "name": "OrdenesProduccion.csv"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Quiero que hagas un analisis de los estados de la linea para este producto\n{{ $json.ProductoID[0] }}\nfecha de hoy: \n01/02/2025",
        "options": {
          "systemMessage": "#ROL\neres ProductionAI, El encargado de las lineas de produccion de la empresa Molinos Río de La Plata con 12 años de experiencia analizando las lineas de produccion de la empresa. Te encargas de ver que tan saturadas estan las lineas de produccion para ver cuantos productos podrian ponerse en produccion. Eres una pieza clave de la empresa ya que si no haces bien tu trabajo no podre pagar el tratamiento de cancer de mi mama\n\n#TAREAS\nEn tus tareas se incluye:\n- usa tu herramienta OrdenesProduccion.csv para extraer las 2 ultimas producciones que se hicieron de ese producto que quieren producir\n- por ultimo debes crear un analisis corto de la disponibilidad que tiene la linea de produccion teniendo en cuenta que se puede hacer una produccion de cada producto cada 2 dias, es decir si la fecha de hoy es 9 y se hizo una produccion ayer que fue 8 entonces la siguiente produccion que se podra hacer sera mañana, a demas debes tener en cuenta la eficiencia promedio y la capacidad de produccion por hora que tiene cada linea\n\n##EJEMPLOS\nQ: \n***********\nQuiero que hagas un analisis de los estados de la linea para este producto\nHAR-BLAN-LEUD-1KG\nfecha de hoy: \n11/05/2025\nOrdenesProduccion.csv:\n[\n  {\n    \"ordenes\": \"Ultimas 2 ordenes de produccion para el producto: REB-PREF-500G en la linea de produccion: LINPROD-SEC-01\\n\\nfecha de inicio planificada: 09/05/2025 22:00\\nfecha de inicio real: 09/05/2025 23:43\\nfecha de fin real: 10/05/2025 4:18\\neficiencia real: 0.802,0.754\\ntiempo de parada no planificada: 0,0\\n\\nfecha de inicio planificada: 11/05/2025 22:00\\nfecha de inicio real: 11/05/2025 23:38\\nfecha de fin real: 12/05/2025 1:49\\neficiencia real: 0.802,0.754\\ntiempo de parada no planificada: 0,0\\n\\n\"\n  }\n]\n***********\nA:\n***********\nHoy es 11/05/2025 y la ultima orden de produccion fue el 11/05/2025 a las 23:38, esto significa que los dias que se podra producir de nuevo el producto HAR-BLAN-LEUD-1KG en la linea de produccion: LINPROD-SEC-01 sera en las siguientes fechas:\n13/05/2025 22:00\n15/05/2025 22:00\n17/05/2025 22:00\n19/05/2025 22:00\n***********\n\n#ESPECIFICACIONES\n##GENERALES\n- responde siempre en español\n- usa el formato de respuesta del ejemplo para responder\n- devuelve 4 dias en los que se podra producir\n##HERRAMIENTAS\n- OrdenesProduccion.csv: con esta herramienta extraeras un string que te dara la informacion sobre las ultimas 2 fechas de produccion que hubieron\n\n##NO PUEDES HACER ESTO MAL\n- no puedes devolver un codigo que resuelva el problema, siempre debe ser en el formato del ejemplo\n- debes responder siempre en español"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        900,
        -220
      ],
      "id": "35140242-9da2-44d3-9b95-e92a07459be4",
      "name": "Agente de Capacidad y Estado de Líneas"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84",
          "mode": "list",
          "cachedResultName": "Respuesta agentes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2054870949,
          "mode": "list",
          "cachedResultName": "Kpis añadidos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit#gid=2054870949"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        240,
        -220
      ],
      "id": "d6ce0203-fcd7-4da6-94aa-96336a741d93",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "row_number",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        460,
        -220
      ],
      "id": "47029950-0f9d-4284-aab9-42335e8c4ab1",
      "name": "Sort"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Cantidad"
            },
            {
              "fieldToAggregate": "TiempoEntrega"
            },
            {
              "fieldToAggregate": "ProductoID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        680,
        -220
      ],
      "id": "c3560ff1-06a1-468d-be13-9c0dc508cbf1",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "path": "agente/estado",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        20,
        -220
      ],
      "id": "0a1bd7e7-5110-4eb1-b9ca-9bff5efe7252",
      "name": "Webhook",
      "webhookId": "74af78cf-1deb-41d0-86f5-b592339b7eda"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1260,
        -220
      ],
      "id": "e3d78d34-4642-4c7f-9d5b-dd38e99eda5f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84",
          "mode": "list",
          "cachedResultName": "Respuesta agentes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 428586664,
          "mode": "list",
          "cachedResultName": "SimularOrden",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit#gid=428586664"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "producto": "={{ $('Aggregate').item.json.ProductoID[0] }}",
            "Agente": "Agente de Capacidad y Estado de Líneas",
            "respuesta": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Agente"
          ],
          "schema": [
            {
              "id": "Agente",
              "displayName": "Agente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "respuesta",
              "displayName": "respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1500,
        -220
      ],
      "id": "a1f00c24-ad34-4a90-a080-f83a81ce0efe",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de Capacidad y Estado de Líneas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OrdenesProduccion.csv": {
      "ai_tool": [
        [
          {
            "node": "Agente de Capacidad y Estado de Líneas",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Capacidad y Estado de Líneas": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Agente de Capacidad y Estado de Líneas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ad9c28ea-61b4-4311-926a-e702e0924e13",
  "activeVersionId": "ad9c28ea-61b4-4311-926a-e702e0924e13",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-07-17T14:59:24.727Z",
      "createdAt": "2025-07-17T14:59:24.727Z",
      "role": "workflow:owner",
      "workflowId": "wH0QjP2ZAVsapd3L",
      "projectId": "cEfHDRqL69JgpIBq"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-17T21:03:07.932Z",
    "createdAt": "2026-01-17T21:03:07.932Z",
    "versionId": "ad9c28ea-61b4-4311-926a-e702e0924e13",
    "workflowId": "wH0QjP2ZAVsapd3L",
    "nodes": [
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          860,
          0
        ],
        "id": "da0714e1-f021-424f-8953-c82c605efa2e",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "vzdjQJqcvomw8EgG",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "description": "OrdenesProduccion.csv",
          "workflowId": {
            "__rl": true,
            "value": "rCyHVYJ2Aa9xTNXP",
            "mode": "list",
            "cachedResultName": "herramienta OrdenesProduccion csv"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "ProductoID": "={{ $json.ProductoID[0] }}"
            },
            "matchingColumns": [
              "ProductoID"
            ],
            "schema": [
              {
                "id": "ProductoID",
                "displayName": "ProductoID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          1100,
          0
        ],
        "id": "661be61e-616a-48c2-98a8-6966ccecd86a",
        "name": "OrdenesProduccion.csv"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Quiero que hagas un analisis de los estados de la linea para este producto\n{{ $json.ProductoID[0] }}\nfecha de hoy: \n01/02/2025",
          "options": {
            "systemMessage": "#ROL\neres ProductionAI, El encargado de las lineas de produccion de la empresa Molinos Río de La Plata con 12 años de experiencia analizando las lineas de produccion de la empresa. Te encargas de ver que tan saturadas estan las lineas de produccion para ver cuantos productos podrian ponerse en produccion. Eres una pieza clave de la empresa ya que si no haces bien tu trabajo no podre pagar el tratamiento de cancer de mi mama\n\n#TAREAS\nEn tus tareas se incluye:\n- usa tu herramienta OrdenesProduccion.csv para extraer las 2 ultimas producciones que se hicieron de ese producto que quieren producir\n- por ultimo debes crear un analisis corto de la disponibilidad que tiene la linea de produccion teniendo en cuenta que se puede hacer una produccion de cada producto cada 2 dias, es decir si la fecha de hoy es 9 y se hizo una produccion ayer que fue 8 entonces la siguiente produccion que se podra hacer sera mañana, a demas debes tener en cuenta la eficiencia promedio y la capacidad de produccion por hora que tiene cada linea\n\n##EJEMPLOS\nQ: \n***********\nQuiero que hagas un analisis de los estados de la linea para este producto\nHAR-BLAN-LEUD-1KG\nfecha de hoy: \n11/05/2025\nOrdenesProduccion.csv:\n[\n  {\n    \"ordenes\": \"Ultimas 2 ordenes de produccion para el producto: REB-PREF-500G en la linea de produccion: LINPROD-SEC-01\\n\\nfecha de inicio planificada: 09/05/2025 22:00\\nfecha de inicio real: 09/05/2025 23:43\\nfecha de fin real: 10/05/2025 4:18\\neficiencia real: 0.802,0.754\\ntiempo de parada no planificada: 0,0\\n\\nfecha de inicio planificada: 11/05/2025 22:00\\nfecha de inicio real: 11/05/2025 23:38\\nfecha de fin real: 12/05/2025 1:49\\neficiencia real: 0.802,0.754\\ntiempo de parada no planificada: 0,0\\n\\n\"\n  }\n]\n***********\nA:\n***********\nHoy es 11/05/2025 y la ultima orden de produccion fue el 11/05/2025 a las 23:38, esto significa que los dias que se podra producir de nuevo el producto HAR-BLAN-LEUD-1KG en la linea de produccion: LINPROD-SEC-01 sera en las siguientes fechas:\n13/05/2025 22:00\n15/05/2025 22:00\n17/05/2025 22:00\n19/05/2025 22:00\n***********\n\n#ESPECIFICACIONES\n##GENERALES\n- responde siempre en español\n- usa el formato de respuesta del ejemplo para responder\n- devuelve 4 dias en los que se podra producir\n##HERRAMIENTAS\n- OrdenesProduccion.csv: con esta herramienta extraeras un string que te dara la informacion sobre las ultimas 2 fechas de produccion que hubieron\n\n##NO PUEDES HACER ESTO MAL\n- no puedes devolver un codigo que resuelva el problema, siempre debe ser en el formato del ejemplo\n- debes responder siempre en español"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2,
        "position": [
          900,
          -220
        ],
        "id": "35140242-9da2-44d3-9b95-e92a07459be4",
        "name": "Agente de Capacidad y Estado de Líneas"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84",
            "mode": "list",
            "cachedResultName": "Respuesta agentes",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 2054870949,
            "mode": "list",
            "cachedResultName": "Kpis añadidos",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit#gid=2054870949"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          240,
          -220
        ],
        "id": "d6ce0203-fcd7-4da6-94aa-96336a741d93",
        "name": "Get row(s) in sheet1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "CWI2Yxp3gWinrW8v",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "sortFieldsUi": {
            "sortField": [
              {
                "fieldName": "row_number",
                "order": "descending"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.sort",
        "typeVersion": 1,
        "position": [
          460,
          -220
        ],
        "id": "47029950-0f9d-4284-aab9-42335e8c4ab1",
        "name": "Sort"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "Cantidad"
              },
              {
                "fieldToAggregate": "TiempoEntrega"
              },
              {
                "fieldToAggregate": "ProductoID"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          680,
          -220
        ],
        "id": "c3560ff1-06a1-468d-be13-9c0dc508cbf1",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "path": "agente/estado",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          20,
          -220
        ],
        "id": "0a1bd7e7-5110-4eb1-b9ca-9bff5efe7252",
        "name": "Webhook",
        "webhookId": "74af78cf-1deb-41d0-86f5-b592339b7eda"
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "={{ $json.output }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          1260,
          -220
        ],
        "id": "e3d78d34-4642-4c7f-9d5b-dd38e99eda5f",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84",
            "mode": "list",
            "cachedResultName": "Respuesta agentes",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 428586664,
            "mode": "list",
            "cachedResultName": "SimularOrden",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit#gid=428586664"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "producto": "={{ $('Aggregate').item.json.ProductoID[0] }}",
              "Agente": "Agente de Capacidad y Estado de Líneas",
              "respuesta": "={{ $json.output }}"
            },
            "matchingColumns": [
              "Agente"
            ],
            "schema": [
              {
                "id": "Agente",
                "displayName": "Agente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "producto",
                "displayName": "producto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "respuesta",
                "displayName": "respuesta",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          1500,
          -220
        ],
        "id": "a1f00c24-ad34-4a90-a080-f83a81ce0efe",
        "name": "Append or update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "CWI2Yxp3gWinrW8v",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Agente de Capacidad y Estado de Líneas",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OrdenesProduccion.csv": {
        "ai_tool": [
          [
            {
              "node": "Agente de Capacidad y Estado de Líneas",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Agente de Capacidad y Estado de Líneas": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet1": {
        "main": [
          [
            {
              "node": "Sort",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sort": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Agente de Capacidad y Estado de Líneas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond to Webhook": {
        "main": [
          [
            {
              "node": "Append or update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2025-06-30T13:14:06.370Z",
      "createdAt": "2025-06-30T13:14:06.370Z",
      "id": "fZoukh4XGszMGodh",
      "name": "agente"
    },
    {
      "updatedAt": "2025-06-30T05:39:23.935Z",
      "createdAt": "2025-06-30T05:39:23.935Z",
      "id": "nH1Q67MvpBeviA8C",
      "name": "Proyecto multi agentes"
    },
    {
      "updatedAt": "2025-06-30T13:14:13.720Z",
      "createdAt": "2025-06-30T13:14:13.720Z",
      "id": "u3L6LVJFXIqWDI6L",
      "name": "openai"
    }
  ]
}