workflow/Llamada Planificador Central.json
{
  "updatedAt": "2026-02-15T00:38:43.448Z",
  "createdAt": "2026-02-15T00:31:12.274Z",
  "id": "4XoJV86fpBHnal7U",
  "name": "Llamada Planificador Central",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Debes ver si podemos cumplir con esta venta en el tiempo requerido:\nVenta:\n- producto: {{ $('Aggregate').item.json.ProductoID[0] }}\n- cantidad: {{ $('Aggregate').item.json.Cantidad[0] }}\n- dias de entrega: {{ $('Aggregate').item.json.TiempoEntrega[0] }}\n\n\n**en caso de no haber suficiente en el inventario ten en cuenta estos datos**\ndias de produccion disponibles: \n{{ $('Get row(s) in sheet').item.json.respuesta }}\n\ninsumos disponibles:\n{{ $json.respuesta }}",
        "options": {
          "systemMessage": "=#ROL\neres planAI, el encargado de la planificacion de produccion de la empresa Molinos Río de La Plata con 12 años de experiencia verificando que haya la suficiente cantidad de productos o insumos para producir el producto dependiendo de la venta. Te encargas de analizar los datos importantes de la venta y verificar que hay disponibilidad de ese producto, si no hay verificas que hay suficientes insumos para producir lo necesario para la venta en el tiempo que pide. Eres la pieza mas importante de la empresa ya que si no satisfacemos la demanda la empresa tendra que quebrar enseguida.\n\n#TAREAS\nen tus tareas se incluye:\n- analiza los datos de la venta, usa tu herramienta disponibilidad.csv para ver si hay suficiente inventario, si hay suficiente devuelve una respuesta explicando que hay suficiente inventario para satisfacer la venta y si cuanto hay en el inventario\n- en caso de que no haya suficientes productos en el inventario debes tomar en cuenta los datos adicionales que te dan sobre la disponibilidad de insumos y cuanto se requiere para hacer 1 producto. Haz los calculos para ver si hay suficientes insumos para producir. En caso de no haber suficientes insumos necesarios debes devolver una respuesta explicando por que no se puede satisfacer la demanda y cuanta cantidad de cada insumo deben comprar si quieren satisfacer la venta\n- luego usa tu herramienta Linea.csv para ver cuanto es la capacidad de produccion por hora de la linea. con esto debes hacer un plan de produccion que diga el dia, las horas que estara en funcionamiento y cuanto deben producir en ese tiempo. En caso de no tener suficiente tiempo para producir debes devolver una respuesta explicando por que no se puede satifacer la venta en el tiempo requerido y debes decir en cuanto tiempo se podria producir lo necesario\n\n#ESPECIFICACIONES\n##GENERALES\n- responde siempre en español\n- debes hacer especificamente lo que dicen tus tareas en el orden que estan\n- ten en cuenta que te daran solo 4 dias en que se puede producir pero estos son los dias mas proximos, puedes usar mas dias pero debes respetar la regla de que se debe producir un dia si y un dia no\n- ten en cuenta que las horas de produccion pueden ser de 2 hasta 6 horas\n\n##HERRAMIENTAS\n- Linea.csv: con esta herramienta puedes extraer la capacidad de produccion por hora de la linea\n- disponibilidad.csv: con esta herramienta puedes extraer la cantidad del producto que hay en el inventario\n\n##NO PUEDES HACER ESTO MAL\n- no puedes devolver un codigo que resuelva el problema, siempre debe ser en el formato del ejemplo\n- el json debe tener siempre las mismas variables\n- Recuerda que si no hay suficiente disponibilidad para produccion, tienes que hacer los calculos en base a cuanto de la disponibilidad falta, NO tomando en cuenta como si hubiese 0 disponibilidad. Ejemplo: cliente pide simular produccion de 1000 harinas y hay en disponibilidad para 700\nHacer: Sacar calculos para cuanto falta para llegar a la cantidad pedida (1000-700), tomando en cuenta que la disponibilidad no empieza en 0 sino en 700\nNO Hacer: Asumes que como 700 es menor que la cantidad pedida los calculos se hacen en base a tener 0 de disponibilidad"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1720,
        -180
      ],
      "id": "9b573278-6e47-4184-b6bf-615af29906be",
      "name": "Agente Planificador Central"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1640,
        60
      ],
      "id": "fa69880e-9038-4baa-9055-367e5bcc5aa0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "vzdjQJqcvomw8EgG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84",
          "mode": "list",
          "cachedResultName": "Respuesta agentes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 428586664,
          "mode": "list",
          "cachedResultName": "SimularOrden",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit#gid=428586664"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Agente",
              "lookupValue": "Agente de Capacidad y Estado de Líneas"
            },
            {
              "lookupColumn": "producto",
              "lookupValue": "={{ $json.ProductoID[0] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1280,
        -180
      ],
      "id": "6bb58324-3e3c-4141-8048-474fb4575757",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84",
          "mode": "list",
          "cachedResultName": "Respuesta agentes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2054870949,
          "mode": "list",
          "cachedResultName": "Kpis añadidos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit#gid=2054870949"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        620,
        -180
      ],
      "id": "974c3c91-e8cb-4a3f-beb5-5832ab56a3d4",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "row_number",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        840,
        -180
      ],
      "id": "65fca458-f209-4269-aee9-2b746699d8cb",
      "name": "Sort"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Cantidad"
            },
            {
              "fieldToAggregate": "TiempoEntrega"
            },
            {
              "fieldToAggregate": "ProductoID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1060,
        -180
      ],
      "id": "1b41e5ab-a156-48f6-8da5-3ab83d1917a2",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84",
          "mode": "list",
          "cachedResultName": "Respuesta agentes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 428586664,
          "mode": "list",
          "cachedResultName": "SimularOrden",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit#gid=428586664"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Agente",
              "lookupValue": "Agente de Disponibilidad de Insumos"
            },
            {
              "lookupColumn": "producto",
              "lookupValue": "={{ $json.producto }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1480,
        -180
      ],
      "id": "544596b9-8b48-42ed-beef-273f2ece4708",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "path": "agente/central",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        400,
        -180
      ],
      "id": "f1c548c9-8fb4-4605-b869-4eaa3b3e8e25",
      "name": "Webhook",
      "webhookId": "02d5d6f4-c685-4bdb-b19f-33810ab2d132"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2080,
        -180
      ],
      "id": "85a6f5bb-ba4f-4cf6-a077-13abf2cee192",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84",
          "mode": "list",
          "cachedResultName": "Respuesta agentes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 428586664,
          "mode": "list",
          "cachedResultName": "SimularOrden",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit#gid=428586664"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "producto": "={{ $('Aggregate').item.json.ProductoID[0] }}",
            "Agente": "Agente de Capacidad y Estado de Líneas",
            "respuesta": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Agente"
          ],
          "schema": [
            {
              "id": "Agente",
              "displayName": "Agente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "respuesta",
              "displayName": "respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2260,
        -180
      ],
      "id": "64f10ece-9232-490b-8a63-75cb129e11e3",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Linea.csv: con esta herramienta puedes extraer la capacidad de produccion por hora de la linea",
        "documentId": {
          "__rl": true,
          "value": "1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno",
          "mode": "list",
          "cachedResultName": "Base de datos sintetica arreglada",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1625954007,
          "mode": "list",
          "cachedResultName": "LineasProduccion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit#gid=1625954007"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "LineaProduccionID",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        2020,
        60
      ],
      "id": "f66fa281-7d18-4788-a78d-5e464141d67c",
      "name": "Linea.csv",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "description": "disponibilidad.csv: con esta herramienta puedes extraer la cantidad del producto que hay en el inventario",
        "workflowId": {
          "__rl": true,
          "value": "pTcmAhDc6lvDeQ0r",
          "mode": "list",
          "cachedResultName": "disponibilidad.csv"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ProductoID": "={{ $('Aggregate').item.json.ProductoID[0] }}"
          },
          "matchingColumns": [
            "ProductoID"
          ],
          "schema": [
            {
              "id": "ProductoID",
              "displayName": "ProductoID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1880,
        60
      ],
      "id": "851f5b17-76db-4796-bedc-2ab855d26170",
      "name": "disponibilidad.csv"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Planificador Central",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente Planificador Central": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Agente Planificador Central",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linea.csv": {
      "ai_tool": [
        [
          {
            "node": "Agente Planificador Central",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "disponibilidad.csv": {
      "ai_tool": [
        [
          {
            "node": "Agente Planificador Central",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "b57b1c63-b170-44cf-bcb5-461b9d8bddf8",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-15T00:31:12.274Z",
      "createdAt": "2026-02-15T00:31:12.274Z",
      "role": "workflow:owner",
      "workflowId": "4XoJV86fpBHnal7U",
      "projectId": "9axjLTcJCvAcwxP1"
    }
  ],
  "activeVersion": null,
  "tags": []
}