workflow/llamada kpi produccion.json
{
  "updatedAt": "2026-02-15T00:36:40.091Z",
  "createdAt": "2026-02-15T00:31:20.266Z",
  "id": "kkEEmkIp5YwEHoOV",
  "name": "llamada kpi produccion",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "889578b4-d005-4126-aed2-df6c4edbddc3",
              "name": "={{ $json.KPI }}",
              "value": "={{ $json.Valor }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        80
      ],
      "id": "aad987dc-c7d5-4d7f-baba-7b6365630a27",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "PP"
            },
            {
              "fieldToAggregate": "CFI"
            },
            {
              "fieldToAggregate": "TCP"
            },
            {
              "fieldToAggregate": "OEE"
            },
            {
              "fieldToAggregate": "TPNP"
            },
            {
              "fieldToAggregate": "UL"
            },
            {
              "fieldToAggregate": "TF"
            },
            {
              "fieldToAggregate": "LTA"
            },
            {
              "fieldToAggregate": "RII"
            },
            {
              "fieldToAggregate": "SSO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        640,
        80
      ],
      "id": "81bdbf87-a468-4572-9b11-28723dccb750",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"adherence\": \"{{ $json.PP[0] + \"%\" }}\" ,\n    \"compliance\": \"{{ $json.CFI[0] + \"%\" }}\" ,\n    \"cycleTime\": \"{{ $json.TCP[0] }}\" ,\n    \"efficiency\": \"{{ $json.OEE[0] +\"%\"}}\" ,\n    \"downtime\": \"{{ $json.TPNP[0] +\"h\"}}\" ,\n    \"capacity\": \"{{ $json.UL[0]+ \"%\" }}\" ,\n    \"failureRate\": \"{{ $json.TF[0]+ \"%\" }}\" ,\n    \"supplyTime\": \"{{ $json.LTA[0] }}\" ,\n    \"inventoryRotation\": \"{{ $json.RII[0] }}\" ,\n    \"safetyStock\": \"{{ $json.SSO[0]+ \"%\" }}\",\n    \"quality\": \"{{ 100 - $json.TF[0] + \"%\"}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        800,
        80
      ],
      "id": "baad0ecf-eaf8-4a80-af2e-c1062bb77d1c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1s1d5I1W6iT3l7wNN-v1Zk3J66t37FvucpODoOvR43JU",
          "mode": "list",
          "cachedResultName": "Kpis consolidados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s1d5I1W6iT3l7wNN-v1Zk3J66t37FvucpODoOvR43JU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1246746953,
          "mode": "list",
          "cachedResultName": "Produccion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s1d5I1W6iT3l7wNN-v1Zk3J66t37FvucpODoOvR43JU/edit#gid=1246746953"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Fecha",
              "lookupValue": "01/02/2025"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        80
      ],
      "id": "b6e88930-73b8-451d-9979-aa2491239ef7",
      "name": "Get row(s) in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "path": "77f542c7-6676-424f-bf12-4af10d69a338",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        20,
        80
      ],
      "id": "221a625d-6533-4c48-a471-21330c367f09",
      "name": "Webhook",
      "webhookId": "77f542c7-6676-424f-bf12-4af10d69a338"
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet4": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "36b9896b-9254-4a99-9c9e-4504fb39299d",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-15T00:31:20.266Z",
      "createdAt": "2026-02-15T00:31:20.266Z",
      "role": "workflow:owner",
      "workflowId": "kkEEmkIp5YwEHoOV",
      "projectId": "9axjLTcJCvAcwxP1"
    }
  ],
  "activeVersion": null,
  "tags": []
}