workflow/modelo de correccion heuristica.json
{
  "updatedAt": "2026-02-20T22:48:20.922Z",
  "createdAt": "2026-02-15T00:31:21.179Z",
  "id": "j30ej6IzqhxPv6js",
  "name": "modelo de correccion heuristica",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        -96
      ],
      "id": "a6ce70c3-3233-4e16-ab1d-0e0f8bae3b2c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "path": "correccion-por-mes",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        -288
      ],
      "id": "53b72be3-eb74-49d8-999a-18d17b7e89ad",
      "name": "Webhook",
      "webhookId": "26c81a1c-692d-4204-917c-4389c954ea66"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "molinos_segmentacion",
          "mode": "name"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        -288
      ],
      "id": "f25fb598-b3f8-4aaf-835e-fb6d5e144f9c",
      "name": "Select rows from a table",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "ezJ6rP6dRWwFUGI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "CUSTID, PRDID, _meta_data_period",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        -192
      ],
      "id": "e4a4a97b-8644-44e9-af4c-2dc9b550565a",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "CUSTID, PRDID",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        432,
        -192
      ],
      "id": "4b8b9d69-a0fe-4023-83d0-ed4028f17fb5",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "547848bf-5f11-4a16-888a-cb5f3c04137f",
              "name": "target_period",
              "value": "={{ $json.query.date }}",
              "type": "string"
            },
            {
              "id": "ea2200fe-169e-4a9d-96b1-74e2b99d5ada",
              "name": "forecast_offset",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        -192
      ],
      "id": "aa4bdcdf-862b-44eb-8f12-277f4d0c7f44",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    -- 1. IDENTIFICADORES Y FECHA DE LOS DATOS HISTÓRICOS (dataFilter)\n    TO_CHAR(futuro.periodid3 - ($2 || ' month')::INTERVAL, 'YYYY-MM-DD') AS \"PERIODID3\",\n    futuro.prdid AS \"PRDID\",\n    futuro.custid AS \"CUSTID\",\n    \n    -- 2. MÉTRICAS HISTÓRICAS (Vienen del mes pasado. Si no hay, ponemos 0)\n    COALESCE(pasado.adjustedactualsqty, 0) AS \"ADJUSTEDACTUALSQTY\",\n    EXTRACT(MONTH FROM (futuro.periodid3 - ($2 || ' month')::INTERVAL)) AS \"MONTH\",\n    EXTRACT(YEAR FROM (futuro.periodid3 - ($2 || ' month')::INTERVAL)) AS \"YEAR\",\n    COALESCE(pasado.season, futuro.season) AS \"SEASON\",\n    COALESCE(pasado.punitario, 0) AS \"PUNITARIO\",\n    COALESCE(pasado.pindex, 0) AS \"PINDEX\",\n    COALESCE(pasado.som, 0) AS \"SOM\",\n    COALESCE(pasado.sov, 0) AS \"SOV\",\n    COALESCE(pasado.zselloutcliente, 0) AS \"ZSELLOUTCLIENTE\",\n    \n    -- 3. EL FORECAST (Viene del mes objetivo)\n    COALESCE(futuro.foreact, 0) AS \"foreAct\",\n    \n    -- 4. RENOMBRES ESPECÍFICOS PARA TU FLUJO\n    COALESCE(pasado.adjustedactualsqty, 0) AS \"LAST_MONTH_SALE\",\n    \n    -- --- NUEVO: CÁLCULO DEL ROLLING 3 MESES ---\n    COALESCE((\n        SELECT AVG(sub.adjustedactualsqty)\n        FROM molinos_consolidated_data sub\n        WHERE sub.custid = futuro.custid \n          AND sub.prdid = futuro.prdid\n          AND sub.periodid3 < futuro.periodid3 -- Meses anteriores al forecast objetivo\n          AND sub.periodid3 >= (futuro.periodid3 - INTERVAL '3 months')\n    ), 0) AS \"rolling_3m_sale\",\n    -- -----------------------------------------\n\n    futuro.custregion AS \"CUSTREGION\",\n    futuro.custgroup AS \"CUSTGROUP\",\n    \n    -- 5. METADATA GENERADA AUTOMÁTICAMENTE\n    TO_CHAR(futuro.periodid3, 'YYYY-MM-DD') AS \"_meta_target_period\",\n    TO_CHAR(futuro.periodid3 - ($2 || ' month')::INTERVAL, 'YYYY-MM-DD') AS \"_meta_data_period\",\n    TO_CHAR(futuro.periodid3, 'YY-Mon') AS \"_meta_forecast_col\"\n\nFROM \n    molinos_consolidated_data futuro\n\n-- Hacemos un LEFT JOIN para buscar cómo estaba este mismo cliente el mes anterior (o según el offset)\nLEFT JOIN \n    molinos_consolidated_data pasado \n    ON futuro.custid = pasado.custid \n    AND futuro.prdid = pasado.prdid\n    AND pasado.periodid3 = (futuro.periodid3 - ($2 || ' month')::INTERVAL)\n\nWHERE \n    futuro.periodid3 = $1::DATE;",
        "options": {
          "queryReplacement": "={{ $json.target_period }}, {{ $json.forecast_offset }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        -96
      ],
      "id": "1ee1aa5f-9c8c-42ae-a9f3-c9cd8f685671",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "ezJ6rP6dRWwFUGI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "molinos_forecast_corregido",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FINAL_SCORE": "={{ $json.FINAL_SCORE }}",
            "IMPACT_SCORE": "={{ $json.IMPACT_SCORE }}",
            "SIGNAL_SCORE": "={{ $json.SIGNAL_SCORE }}",
            "BIAS": "={{ $json.BIAS }}",
            "WAPE": "={{ $json.WAPE }}",
            "TOTAL_SALES": "={{ $json.TOTAL_SALES }}",
            "ADJUSTEDACTUALSQTY": "={{ $json.ADJUSTEDACTUALSQTY }}",
            "LAST_MONTH_SALE": "={{ $json.LAST_MONTH_SALE }}",
            "PUNITARIO": "={{ $json.PUNITARIO }}",
            "PINDEX": "={{ $json.PINDEX }}",
            "SOM": "={{ $json.SOM }}",
            "SOV": "={{ $json.SOV }}",
            "ZSELLOUTCLIENTE": "={{ $json.ZSELLOUTCLIENTE }}",
            "foreAct": "={{ $json.foreAct }}",
            "MODEL_forecast_original": "={{ $json.foreAct }}",
            "MODEL_forecast_corrected": "={{ $json.MODEL_forecast_corrected }}",
            "MONTH": "={{ $json.MONTH }}",
            "YEAR": "={{ $json.YEAR }}",
            "CUSTID": "={{ $json.CUSTID }}",
            "PRDID": "={{ $json.PRDID }}",
            "_meta_target_period": "={{ $json._meta_target_period }}",
            "CUSTREGION": "={{ $json.CUSTREGION }}",
            "CUSTGROUP": "={{ $json.CUSTGROUP }}",
            "SEASON": "={{ $json.SEASON }}",
            "STATUS": "={{ $json.STATUS }}",
            "STRATEGY": "={{ $json.STRATEGY }}",
            "JUSTIFICATION": "={{ $json.JUSTIFICATION }}",
            "agent_explication": "={{ $json.agent_explication }}",
            "ERROR_SHARE": "={{ $json.ERROR_SHARE }}",
            "MODEL_delta_pct": "={{ $json.MODEL_delta_pct }}",
            "MODEL_drivers": "={{ $json.MODEL_drivers }}",
            "PERIODID3": "={{ $json.PERIODID3 }}",
            "_meta_data_period": "={{ $json._meta_data_period }}",
            "_meta_forecast_col": "={{ $json._meta_forecast_col }}"
          },
          "matchingColumns": [
            "CUSTID",
            "PRDID",
            "_meta_target_period"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CUSTID",
              "displayName": "CUSTID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PRDID",
              "displayName": "PRDID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CUSTREGION",
              "displayName": "CUSTREGION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "CUSTGROUP",
              "displayName": "CUSTGROUP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "SEASON",
              "displayName": "SEASON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "STRATEGY",
              "displayName": "STRATEGY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "JUSTIFICATION",
              "displayName": "JUSTIFICATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "agent_explication",
              "displayName": "agent_explication",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "FINAL_SCORE",
              "displayName": "FINAL_SCORE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "IMPACT_SCORE",
              "displayName": "IMPACT_SCORE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "SIGNAL_SCORE",
              "displayName": "SIGNAL_SCORE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "BIAS",
              "displayName": "BIAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "WAPE",
              "displayName": "WAPE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "ERROR_SHARE",
              "displayName": "ERROR_SHARE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "MODEL_delta_pct",
              "displayName": "MODEL_delta_pct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "TOTAL_SALES",
              "displayName": "TOTAL_SALES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "ADJUSTEDACTUALSQTY",
              "displayName": "ADJUSTEDACTUALSQTY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "LAST_MONTH_SALE",
              "displayName": "LAST_MONTH_SALE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "PUNITARIO",
              "displayName": "PUNITARIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "PINDEX",
              "displayName": "PINDEX",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "SOM",
              "displayName": "SOM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "SOV",
              "displayName": "SOV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "ZSELLOUTCLIENTE",
              "displayName": "ZSELLOUTCLIENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "foreAct",
              "displayName": "foreAct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "MODEL_forecast_original",
              "displayName": "MODEL_forecast_original",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "MODEL_forecast_corrected",
              "displayName": "MODEL_forecast_corrected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "MODEL_drivers",
              "displayName": "MODEL_drivers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "PERIODID3",
              "displayName": "PERIODID3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "MONTH",
              "displayName": "MONTH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "YEAR",
              "displayName": "YEAR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "_meta_target_period",
              "displayName": "_meta_target_period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "_meta_data_period",
              "displayName": "_meta_data_period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "_meta_forecast_col",
              "displayName": "_meta_forecast_col",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updatedAt",
              "displayName": "updatedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        -192
      ],
      "id": "2de3d7af-1c2c-49be-9801-ac33167cb727",
      "name": "Insert or update rows in a table2",
      "credentials": {
        "postgres": {
          "id": "ezJ6rP6dRWwFUGI9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8000/predict",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"PRDID\": \"{{ $json.PRDID }}\",\n    \"CUSTID\": \"{{ $json.CUSTID }}\",\n    \"foreAct\": {{ $json.foreAct.toNumber() }},\n    \"PINDEX\": {{ $json.PINDEX.toNumber() }},\n    \"ZSELLOUTCLIENTE\": {{ $json.ZSELLOUTCLIENTE.toNumber() }},\n    \"LAST_MONTH_SALE\": {{ $json.LAST_MONTH_SALE.toNumber() }},\n    \"rolling_3m_sale\": {{ $json.rolling_3m_sale.toNumber() }},\n    \"MONTH\": {{ $json.MONTH.toNumber() }},\n    \"CUSTREGION\": \"{{ $json.CUSTREGION }}\",\n    \"STATUS\": \"{{ $json.STATUS }}\",\n    \"STRATEGY\": \"{{ $json.STRATEGY }}\",\n    \"FINAL_SCORE\": {{ $json.FINAL_SCORE }},\n    \"IMPACT_SCORE\": {{ $json.IMPACT_SCORE }},\n    \"_meta_data_period\": \"{{ $json._meta_data_period }}\"\n}\n] ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        656,
        -128
      ],
      "id": "046aa029-b98b-4c00-ad6d-81784e7b1c67",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "lab.lyncros.com:5678",
            "connection": "keep-alive",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36 OPR/127.0.0.0 (Edition std-2)",
            "sec-ch-ua": "\"Opera GX\";v=\"127\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "http://localhost:5173",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "http://localhost:5173/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-419,es;q=0.9,en;q=0.8,id;q=0.7,uk;q=0.6,th;q=0.5"
          },
          "params": {},
          "query": {
            "date": "2025-02-01",
            "fecha": "2025-02-01"
          },
          "body": {},
          "webhookUrl": "https://lab.lyncros.com:5678/webhook/correccion-por-mes",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "38ada449-2691-40bb-9d4b-fad89bafce5b",
  "activeVersionId": "38ada449-2691-40bb-9d4b-fad89bafce5b",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-15T00:31:21.179Z",
      "createdAt": "2026-02-15T00:31:21.179Z",
      "role": "workflow:owner",
      "workflowId": "j30ej6IzqhxPv6js",
      "projectId": "9axjLTcJCvAcwxP1"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-20T22:51:09.897Z",
    "createdAt": "2026-02-20T22:48:20.924Z",
    "versionId": "38ada449-2691-40bb-9d4b-fad89bafce5b",
    "workflowId": "j30ej6IzqhxPv6js",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -240,
          -96
        ],
        "id": "a6ce70c3-3233-4e16-ab1d-0e0f8bae3b2c",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "path": "correccion-por-mes",
          "responseMode": "lastNode",
          "responseData": "allEntries",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -240,
          -288
        ],
        "id": "53b72be3-eb74-49d8-999a-18d17b7e89ad",
        "name": "Webhook",
        "webhookId": "26c81a1c-692d-4204-917c-4389c954ea66"
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "molinos_segmentacion",
            "mode": "name"
          },
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          208,
          -288
        ],
        "id": "f25fb598-b3f8-4aaf-835e-fb6d5e144f9c",
        "name": "Select rows from a table",
        "executeOnce": true,
        "credentials": {
          "postgres": {
            "id": "ezJ6rP6dRWwFUGI9",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "CUSTID, PRDID, _meta_data_period",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          880,
          -192
        ],
        "id": "e4a4a97b-8644-44e9-af4c-2dc9b550565a",
        "name": "Merge1"
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "CUSTID, PRDID",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          432,
          -192
        ],
        "id": "4b8b9d69-a0fe-4023-83d0-ed4028f17fb5",
        "name": "Merge2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "547848bf-5f11-4a16-888a-cb5f3c04137f",
                "name": "target_period",
                "value": "={{ $json.query.date }}",
                "type": "string"
              },
              {
                "id": "ea2200fe-169e-4a9d-96b1-74e2b99d5ada",
                "name": "forecast_offset",
                "value": 1,
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -16,
          -192
        ],
        "id": "aa4bdcdf-862b-44eb-8f12-277f4d0c7f44",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    -- 1. IDENTIFICADORES Y FECHA DE LOS DATOS HISTÓRICOS (dataFilter)\n    TO_CHAR(futuro.periodid3 - ($2 || ' month')::INTERVAL, 'YYYY-MM-DD') AS \"PERIODID3\",\n    futuro.prdid AS \"PRDID\",\n    futuro.custid AS \"CUSTID\",\n    \n    -- 2. MÉTRICAS HISTÓRICAS (Vienen del mes pasado. Si no hay, ponemos 0)\n    COALESCE(pasado.adjustedactualsqty, 0) AS \"ADJUSTEDACTUALSQTY\",\n    EXTRACT(MONTH FROM (futuro.periodid3 - ($2 || ' month')::INTERVAL)) AS \"MONTH\",\n    EXTRACT(YEAR FROM (futuro.periodid3 - ($2 || ' month')::INTERVAL)) AS \"YEAR\",\n    COALESCE(pasado.season, futuro.season) AS \"SEASON\",\n    COALESCE(pasado.punitario, 0) AS \"PUNITARIO\",\n    COALESCE(pasado.pindex, 0) AS \"PINDEX\",\n    COALESCE(pasado.som, 0) AS \"SOM\",\n    COALESCE(pasado.sov, 0) AS \"SOV\",\n    COALESCE(pasado.zselloutcliente, 0) AS \"ZSELLOUTCLIENTE\",\n    \n    -- 3. EL FORECAST (Viene del mes objetivo)\n    COALESCE(futuro.foreact, 0) AS \"foreAct\",\n    \n    -- 4. RENOMBRES ESPECÍFICOS PARA TU FLUJO\n    COALESCE(pasado.adjustedactualsqty, 0) AS \"LAST_MONTH_SALE\",\n    \n    -- --- NUEVO: CÁLCULO DEL ROLLING 3 MESES ---\n    COALESCE((\n        SELECT AVG(sub.adjustedactualsqty)\n        FROM molinos_consolidated_data sub\n        WHERE sub.custid = futuro.custid \n          AND sub.prdid = futuro.prdid\n          AND sub.periodid3 < futuro.periodid3 -- Meses anteriores al forecast objetivo\n          AND sub.periodid3 >= (futuro.periodid3 - INTERVAL '3 months')\n    ), 0) AS \"rolling_3m_sale\",\n    -- -----------------------------------------\n\n    futuro.custregion AS \"CUSTREGION\",\n    futuro.custgroup AS \"CUSTGROUP\",\n    \n    -- 5. METADATA GENERADA AUTOMÁTICAMENTE\n    TO_CHAR(futuro.periodid3, 'YYYY-MM-DD') AS \"_meta_target_period\",\n    TO_CHAR(futuro.periodid3 - ($2 || ' month')::INTERVAL, 'YYYY-MM-DD') AS \"_meta_data_period\",\n    TO_CHAR(futuro.periodid3, 'YY-Mon') AS \"_meta_forecast_col\"\n\nFROM \n    molinos_consolidated_data futuro\n\n-- Hacemos un LEFT JOIN para buscar cómo estaba este mismo cliente el mes anterior (o según el offset)\nLEFT JOIN \n    molinos_consolidated_data pasado \n    ON futuro.custid = pasado.custid \n    AND futuro.prdid = pasado.prdid\n    AND pasado.periodid3 = (futuro.periodid3 - ($2 || ' month')::INTERVAL)\n\nWHERE \n    futuro.periodid3 = $1::DATE;",
          "options": {
            "queryReplacement": "={{ $json.target_period }}, {{ $json.forecast_offset }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          208,
          -96
        ],
        "id": "1ee1aa5f-9c8c-42ae-a9f3-c9cd8f685671",
        "name": "Execute a SQL query",
        "credentials": {
          "postgres": {
            "id": "ezJ6rP6dRWwFUGI9",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "molinos_forecast_corregido",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "FINAL_SCORE": "={{ $json.FINAL_SCORE }}",
              "IMPACT_SCORE": "={{ $json.IMPACT_SCORE }}",
              "SIGNAL_SCORE": "={{ $json.SIGNAL_SCORE }}",
              "BIAS": "={{ $json.BIAS }}",
              "WAPE": "={{ $json.WAPE }}",
              "TOTAL_SALES": "={{ $json.TOTAL_SALES }}",
              "ADJUSTEDACTUALSQTY": "={{ $json.ADJUSTEDACTUALSQTY }}",
              "LAST_MONTH_SALE": "={{ $json.LAST_MONTH_SALE }}",
              "PUNITARIO": "={{ $json.PUNITARIO }}",
              "PINDEX": "={{ $json.PINDEX }}",
              "SOM": "={{ $json.SOM }}",
              "SOV": "={{ $json.SOV }}",
              "ZSELLOUTCLIENTE": "={{ $json.ZSELLOUTCLIENTE }}",
              "foreAct": "={{ $json.foreAct }}",
              "MODEL_forecast_original": "={{ $json.foreAct }}",
              "MODEL_forecast_corrected": "={{ $json.MODEL_forecast_corrected }}",
              "MONTH": "={{ $json.MONTH }}",
              "YEAR": "={{ $json.YEAR }}",
              "CUSTID": "={{ $json.CUSTID }}",
              "PRDID": "={{ $json.PRDID }}",
              "_meta_target_period": "={{ $json._meta_target_period }}",
              "CUSTREGION": "={{ $json.CUSTREGION }}",
              "CUSTGROUP": "={{ $json.CUSTGROUP }}",
              "SEASON": "={{ $json.SEASON }}",
              "STATUS": "={{ $json.STATUS }}",
              "STRATEGY": "={{ $json.STRATEGY }}",
              "JUSTIFICATION": "={{ $json.JUSTIFICATION }}",
              "agent_explication": "={{ $json.agent_explication }}",
              "ERROR_SHARE": "={{ $json.ERROR_SHARE }}",
              "MODEL_delta_pct": "={{ $json.MODEL_delta_pct }}",
              "MODEL_drivers": "={{ $json.MODEL_drivers }}",
              "PERIODID3": "={{ $json.PERIODID3 }}",
              "_meta_data_period": "={{ $json._meta_data_period }}",
              "_meta_forecast_col": "={{ $json._meta_forecast_col }}"
            },
            "matchingColumns": [
              "CUSTID",
              "PRDID",
              "_meta_target_period"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "CUSTID",
                "displayName": "CUSTID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "PRDID",
                "displayName": "PRDID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CUSTREGION",
                "displayName": "CUSTREGION",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "CUSTGROUP",
                "displayName": "CUSTGROUP",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "SEASON",
                "displayName": "SEASON",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "STATUS",
                "displayName": "STATUS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "STRATEGY",
                "displayName": "STRATEGY",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "JUSTIFICATION",
                "displayName": "JUSTIFICATION",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "agent_explication",
                "displayName": "agent_explication",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "FINAL_SCORE",
                "displayName": "FINAL_SCORE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "IMPACT_SCORE",
                "displayName": "IMPACT_SCORE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "SIGNAL_SCORE",
                "displayName": "SIGNAL_SCORE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "BIAS",
                "displayName": "BIAS",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "WAPE",
                "displayName": "WAPE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "ERROR_SHARE",
                "displayName": "ERROR_SHARE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "MODEL_delta_pct",
                "displayName": "MODEL_delta_pct",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "TOTAL_SALES",
                "displayName": "TOTAL_SALES",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "ADJUSTEDACTUALSQTY",
                "displayName": "ADJUSTEDACTUALSQTY",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "LAST_MONTH_SALE",
                "displayName": "LAST_MONTH_SALE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "PUNITARIO",
                "displayName": "PUNITARIO",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "PINDEX",
                "displayName": "PINDEX",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "SOM",
                "displayName": "SOM",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "SOV",
                "displayName": "SOV",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "ZSELLOUTCLIENTE",
                "displayName": "ZSELLOUTCLIENTE",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "foreAct",
                "displayName": "foreAct",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "MODEL_forecast_original",
                "displayName": "MODEL_forecast_original",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "MODEL_forecast_corrected",
                "displayName": "MODEL_forecast_corrected",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "MODEL_drivers",
                "displayName": "MODEL_drivers",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "PERIODID3",
                "displayName": "PERIODID3",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false
              },
              {
                "id": "MONTH",
                "displayName": "MONTH",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "YEAR",
                "displayName": "YEAR",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "_meta_target_period",
                "displayName": "_meta_target_period",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "_meta_data_period",
                "displayName": "_meta_data_period",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false
              },
              {
                "id": "_meta_forecast_col",
                "displayName": "_meta_forecast_col",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "createdAt",
                "displayName": "createdAt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false,
                "removed": true
              },
              {
                "id": "updatedAt",
                "displayName": "updatedAt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1104,
          -192
        ],
        "id": "2de3d7af-1c2c-49be-9801-ac33167cb727",
        "name": "Insert or update rows in a table2",
        "credentials": {
          "postgres": {
            "id": "ezJ6rP6dRWwFUGI9",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://172.17.0.1:8000/predict",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "=[\n  {\n    \"PRDID\": \"{{ $json.PRDID }}\",\n    \"CUSTID\": \"{{ $json.CUSTID }}\",\n    \"foreAct\": {{ $json.foreAct.toNumber() }},\n    \"PINDEX\": {{ $json.PINDEX.toNumber() }},\n    \"ZSELLOUTCLIENTE\": {{ $json.ZSELLOUTCLIENTE.toNumber() }},\n    \"LAST_MONTH_SALE\": {{ $json.LAST_MONTH_SALE.toNumber() }},\n    \"rolling_3m_sale\": {{ $json.rolling_3m_sale.toNumber() }},\n    \"MONTH\": {{ $json.MONTH.toNumber() }},\n    \"CUSTREGION\": \"{{ $json.CUSTREGION }}\",\n    \"STATUS\": \"{{ $json.STATUS }}\",\n    \"STRATEGY\": \"{{ $json.STRATEGY }}\",\n    \"FINAL_SCORE\": {{ $json.FINAL_SCORE }},\n    \"IMPACT_SCORE\": {{ $json.IMPACT_SCORE }},\n    \"_meta_data_period\": \"{{ $json._meta_data_period }}\"\n}\n] ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          656,
          -128
        ],
        "id": "046aa029-b98b-4c00-ad6d-81784e7b1c67",
        "name": "HTTP Request"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select rows from a table": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Insert or update rows in a table2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge2": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            },
            {
              "node": "Select rows from a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      }
    },
    "authors": "Juan  lyncros",
    "name": "Version 38ada449",
    "description": "",
    "autosaved": false
  },
  "tags": []
}