workflow/My workflow.json
{
  "updatedAt": "2025-06-30T13:21:10.000Z",
  "createdAt": "2025-06-30T13:14:47.618Z",
  "id": "cRR5LgPWCzg8gbQb",
  "name": "My workflow",
  "active": true,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=quiero que hagas una planificacion de produccion del producto {{ $('When Executed by Another Workflow').item.json.ProductID }}\nten en cuenta los siguientes datos:\n\ndias de produccion disponibles: \n{{ $('Get row(s) in sheet').item.json.respuesta }}\n\nprediccion de demanda:\n{{ $('Get row(s) in sheet1').item.json.respuesta }}\n\ninsumos disponibles:\n{{ $json.Insumos }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "#ROL\neres planAI, el encargado de la planificacion de produccion de la empresa Molinos Río de La Plata con 12 años de experiencia generando planes de produccion por producto de la empresa. Te encargas de analizar los datos que te dan para hacer la planificacion, como prediccion de demanda, dias disponibles e insumos disponibles y asi crear una planificacion adecuada para satisfacer la demanda. Eres la pieza mas importante de la empresa ya que si no satisfacemos la demanda la empresa tendra que quebrar enseguida.\n\n#TAREAS\nen tus tareas se incluye:\n- analiza los datos que te manda el usuario donde tendras:  prediccion de demanda, dias disponibles e insumos disponibles\n- crea una planificacion segun los dias disponibles y las cantidades que hay que satisfacer esa semana\n- devuelve la planificacion en formato json con la estructura de tus ejemplos\n\n#EJEMPLOS\n\nQ: \n*********************************************\nquiero que hagas una planificacion de produccion del producto HAR-BLAN-LEUD-1KG \nten en cuenta los siguientes datos\n\ndias de produccion disponibles: \n***********\\nHoy es 1/2/2025 y la ultima orden de produccion fue el 1/02/2025 a las 22:00, esto significa que los dias que se podra producir de nuevo el producto HAR-BLAN-LEUD-1KG en la linea de produccion: LINPROD-HAR-01 sera en las siguientes fechas:\\n3/02/2025 22:00\\n5/02/2025 22:00\\n7/02/2025 22:00\\n9/02/2025 22:00\\n***********\n\nprediccion de demanda:\n***\\nSales Prediction for the Week of 2/2/2025:\\n\\nSales 02/02/2025:\\nCantidadPedida: 450 ~ 600\\nPrecioVentaBase: 771.09$ ~ 840.00$\\nMontoTotal: 346000.5 - 504000.0\\nClientesProbable: CLI-0015, CLI-0013, CLI-0003, CLI-0007\\n\\nSales 03/02/2025:\\nCantidadPedida: 300 ~ 400\\nPrecioVentaBase: 772.00$ ~ 850.00$\\nMontoTotal: 231600.0 - 340000.0\\nClientesProbable: CLI-0010, CLI-0005, CLI-0006\\n\\nSales 04/02/2025:\\nCantidadPedida: 600 ~ 720\\nPrecioVentaBase: 775.00$ ~ 850.00$\\nMontoTotal: 465000.0 - 612000.0\\nClientesProbable: CLI-0004, CLI-0011, CLI-0009, CLI-0012\\n\\nSales 05/02/2025:\\nCantidadPedida: 390 ~ 500\\nPrecioVentaBase: 770.00$ ~ 845.00$\\nMontoTotal: 300300.0 - 422500.0\\nClientesProbable: CLI-0001, CLI-0008, CLI-0015\\n\\nSales 06/02/2025:\\nCantidadPedida: 420 ~ 550\\nPrecioVentaBase: 780.00$ ~ 855.00$\\nMontoTotal: 327600.0 - 470250.0\\nClientesProbable: CLI-0002, CLI-0003, CLI-0014\\n\\nSales 07/02/2025:\\nCantidadPedida: 500 ~ 630\\nPrecioVentaBase: 779.00$ ~ 850.00$\\nMontoTotal: 389500.0 - 535500.0\\nClientesProbable: CLI-0008, CLI-0013, CLI-0010\\n\\nSales 08/02/2025:\\nCantidadPedida: 450 ~ 580\\nPrecioVentaBase: 785.00$ ~ 860.00$\\nMontoTotal: 353250.0 - 498800.0\\nClientesProbable: CLI-0006, CLI-0012, CLI-0005\\n***\n\ninsumos disponibles:\n***\nInsumos disponibles para: HAR-BLAN-LEUD-1KG\\n InsumoID:INS-TRI-PAN\\n Cantidad Disponible: 2549425.82\\n Cantidad requerida: 01.02\\n\\nInsumoID:INS-AGL-HAR\\n Cantidad Disponible: 15189.88\\n Cantidad requerida: 0.03\\n\\nInsumoID:INS-VIT-HAR\\n Cantidad Disponible: 8358705\\n Cantidad requerida: 5\\n\\nInsumoID:INS-EMP-HAR-1KG\\n Cantidad Disponible: 3398507\\n Cantidad requerida: 1.0\\n\\n\n***\n*********************************************\nA:\n*********************************************\n[\n\t{\n\t\t\"fecha\": \"3/02/2025\",\n\t\t\"cantidad\": 1720,\n\t\t\"linea\": \"LINPROD-HAR-01\",\n\t\t\"horaInicio\": \"22:00\",\n\t\t\"horaFin\": \"1:00\"\n\t},\n\t{\n\t\t\"fecha\": \"5/02/2025\",\n\t\t\"cantidad\": 1680,\n\t\t\"linea\": \"LINPROD-HAR-01\",\n\t\t\"horaInicio\": \"22:00\",\n\t\t\"horaFin\": \"1:00\"\n\t},\n\t{\n\t\t\"fecha\": \"7/02/2025\",\n\t\t\"cantidad\": 800,\n\t\t\"linea\": \"LINPROD-HAR-01\",\n\t\t\"horaInicio\": \"22:00\",\n\t\t\"horaFin\": \"1:00\"\n\t}\n\t\n]\n*********************************************\n#ESPECIFICACIONES\n##GENERALES\n- responde siempre en español\n- usa el formato de respuesta del ejemplo para responder\n- devuelve 3 dias de planificacion\n\n##NO PUEDES HACER ESTO MAL\n- no puedes devolver un codigo que resuelva el problema, siempre debe ser en el formato del ejemplo\n- el json debe tener siempre las mismas variables"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        940,
        0
      ],
      "id": "f9fecb6d-7ca0-4d50-8cb6-24b726adfa21",
      "name": "Agente Planificador Central"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        920,
        220
      ],
      "id": "9fcd3962-552f-42cf-bbde-17f3f4d3e679",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "vzdjQJqcvomw8EgG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "E4OkY7vl7Ggd5zQK",
          "mode": "list",
          "cachedResultName": "Extraer Insumos disponibles csv"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ProductID": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
            "Dia": "={{ $('When Executed by Another Workflow').item.json.Dia }}",
            "Mes": "={{ $('When Executed by Another Workflow').item.json.Mes }}",
            "Año": "={{ $('When Executed by Another Workflow').item.json['Año'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ProductID",
              "displayName": "ProductID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Dia",
              "displayName": "Dia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "Mes",
              "displayName": "Mes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "Año",
              "displayName": "Año",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        700,
        0
      ],
      "id": "b4e797df-8c0f-4b84-95de-9c543f06dc3e",
      "name": "Execute Workflow2"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "  {\n    \"ProductID\": \"HAR-BLAN-LEUD-1KG\",\n    \"Dia\": 1,\n    \"Mes\": 2,\n    \"Año\": 2025\n  }"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "7c160a0c-3be8-44e3-ba78-de7460bc0e6b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n\t{\n\t\t\"fecha\": \"3/02/2025\",\n\t\t\"cantidad\": 1720,\n\t\t\"linea\": \"LINPROD-HAR-01\",\n\t\t\"horaInicio\": \"22:00\",\n\t\t\"horaFin\": \"1:00\"\n\t},\n\t{\n\t\t\"fecha\": \"5/02/2025\",\n\t\t\"cantidad\": 1680,\n\t\t\"linea\": \"LINPROD-HAR-01\",\n\t\t\"horaInicio\": \"22:00\",\n\t\t\"horaFin\": \"1:00\"\n\t},\n\t{\n\t\t\"fecha\": \"7/02/2025\",\n\t\t\"cantidad\": 800,\n\t\t\"linea\": \"LINPROD-HAR-01\",\n\t\t\"horaInicio\": \"22:00\",\n\t\t\"horaFin\": \"1:00\"\n\t}\n\t\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1240,
        260
      ],
      "id": "2a30e187-c814-414c-8dd3-4e3db903f374",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84",
          "mode": "list",
          "cachedResultName": "Respuesta agentes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Agentes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Agente",
              "lookupValue": "Agente de Capacidad y Estado de Líneas"
            },
            {
              "lookupColumn": "fecha",
              "lookupValue": "={{ $json.Dia + \"/\" + $json.Mes + \"/\" + $json['Año'] }}"
            },
            {
              "lookupColumn": "producto",
              "lookupValue": "={{ $json.ProductID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        0
      ],
      "id": "68fab074-68ee-441f-a605-d62ebb69a9fd",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84",
          "mode": "list",
          "cachedResultName": "Respuesta agentes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Agentes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Agente",
              "lookupValue": "Agente de Pronóstico de Demanda"
            },
            {
              "lookupColumn": "fecha",
              "lookupValue": "={{ $('When Executed by Another Workflow').item.json.Dia + \"/\" + $('When Executed by Another Workflow').item.json.Mes + \"/\" + $('When Executed by Another Workflow').item.json['Año'] }}"
            },
            {
              "lookupColumn": "producto",
              "lookupValue": "={{ $('When Executed by Another Workflow').item.json.ProductID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        440,
        0
      ],
      "id": "1d2762b4-2dd4-4805-a7a5-c38f795bae39",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84",
          "mode": "list",
          "cachedResultName": "Respuesta agentes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Agentes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Agente": "Agente Planificador Central",
            "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
            "respuesta": "=******************\naqui tienes la planificacion de la produccion\nplanificacion 1:\n- fecha: {{ $json.output[0].fecha }}\n- cantidad: {{ $json.output[0].cantidad }}\n- linea: {{ $json.output[0].linea }}\n- producto: {{ $('When Executed by Another Workflow').item.json.ProductID }}\n- horaInicio: {{ $json.output[0].horaInicio }}\n- horaFin: {{ $json.output[0].horaFin }}\n\nplanificacion 2:\n- fecha: {{ $json.output[1].fecha }}\n- cantidad: {{ $json.output[1].cantidad }}\n- linea: {{ $json.output[1].linea }}\n- producto: {{ $('When Executed by Another Workflow').item.json.ProductID }}\n- horaInicio: {{ $json.output[1].horaInicio }}\n- horaFin: {{ $json.output[1].horaFin }}\n\nplanificacion 3:\n- fecha: {{ $json.output[2].fecha }}\n- cantidad: {{ $json.output[2].cantidad }}\n- linea: {{ $json.output[2].linea }}\n- producto: {{ $('When Executed by Another Workflow').item.json.ProductID }}\n- horaInicio: {{ $json.output[2].horaInicio }}\n- horaFin: {{ $json.output[2].horaFin }}\n******************"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Agente",
              "displayName": "Agente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "respuesta",
              "displayName": "respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1300,
        0
      ],
      "id": "c4e7a95f-cc8a-4508-be9a-1acfd287c50d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Planificador Central",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow2": {
      "main": [
        [
          {
            "node": "Agente Planificador Central",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Planificador Central": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agente Planificador Central",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Execute Workflow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "ProductID": "HAR-BLAN-LEUD-1KG",
          "Dia": 1,
          "Mes": 2,
          "Año": 2025
        }
      }
    ]
  },
  "versionId": "a531b635-2d7c-4d6a-bdf6-13442e0ecc4c",
  "activeVersionId": "a531b635-2d7c-4d6a-bdf6-13442e0ecc4c",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-06-30T13:14:48.046Z",
      "createdAt": "2025-06-30T13:14:48.046Z",
      "role": "workflow:owner",
      "workflowId": "cRR5LgPWCzg8gbQb",
      "projectId": "cEfHDRqL69JgpIBq"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-17T21:03:07.932Z",
    "createdAt": "2026-01-17T21:03:07.932Z",
    "versionId": "a531b635-2d7c-4d6a-bdf6-13442e0ecc4c",
    "workflowId": "cRR5LgPWCzg8gbQb",
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "=quiero que hagas una planificacion de produccion del producto {{ $('When Executed by Another Workflow').item.json.ProductID }}\nten en cuenta los siguientes datos:\n\ndias de produccion disponibles: \n{{ $('Get row(s) in sheet').item.json.respuesta }}\n\nprediccion de demanda:\n{{ $('Get row(s) in sheet1').item.json.respuesta }}\n\ninsumos disponibles:\n{{ $json.Insumos }}\n",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "#ROL\neres planAI, el encargado de la planificacion de produccion de la empresa Molinos Río de La Plata con 12 años de experiencia generando planes de produccion por producto de la empresa. Te encargas de analizar los datos que te dan para hacer la planificacion, como prediccion de demanda, dias disponibles e insumos disponibles y asi crear una planificacion adecuada para satisfacer la demanda. Eres la pieza mas importante de la empresa ya que si no satisfacemos la demanda la empresa tendra que quebrar enseguida.\n\n#TAREAS\nen tus tareas se incluye:\n- analiza los datos que te manda el usuario donde tendras:  prediccion de demanda, dias disponibles e insumos disponibles\n- crea una planificacion segun los dias disponibles y las cantidades que hay que satisfacer esa semana\n- devuelve la planificacion en formato json con la estructura de tus ejemplos\n\n#EJEMPLOS\n\nQ: \n*********************************************\nquiero que hagas una planificacion de produccion del producto HAR-BLAN-LEUD-1KG \nten en cuenta los siguientes datos\n\ndias de produccion disponibles: \n***********\\nHoy es 1/2/2025 y la ultima orden de produccion fue el 1/02/2025 a las 22:00, esto significa que los dias que se podra producir de nuevo el producto HAR-BLAN-LEUD-1KG en la linea de produccion: LINPROD-HAR-01 sera en las siguientes fechas:\\n3/02/2025 22:00\\n5/02/2025 22:00\\n7/02/2025 22:00\\n9/02/2025 22:00\\n***********\n\nprediccion de demanda:\n***\\nSales Prediction for the Week of 2/2/2025:\\n\\nSales 02/02/2025:\\nCantidadPedida: 450 ~ 600\\nPrecioVentaBase: 771.09$ ~ 840.00$\\nMontoTotal: 346000.5 - 504000.0\\nClientesProbable: CLI-0015, CLI-0013, CLI-0003, CLI-0007\\n\\nSales 03/02/2025:\\nCantidadPedida: 300 ~ 400\\nPrecioVentaBase: 772.00$ ~ 850.00$\\nMontoTotal: 231600.0 - 340000.0\\nClientesProbable: CLI-0010, CLI-0005, CLI-0006\\n\\nSales 04/02/2025:\\nCantidadPedida: 600 ~ 720\\nPrecioVentaBase: 775.00$ ~ 850.00$\\nMontoTotal: 465000.0 - 612000.0\\nClientesProbable: CLI-0004, CLI-0011, CLI-0009, CLI-0012\\n\\nSales 05/02/2025:\\nCantidadPedida: 390 ~ 500\\nPrecioVentaBase: 770.00$ ~ 845.00$\\nMontoTotal: 300300.0 - 422500.0\\nClientesProbable: CLI-0001, CLI-0008, CLI-0015\\n\\nSales 06/02/2025:\\nCantidadPedida: 420 ~ 550\\nPrecioVentaBase: 780.00$ ~ 855.00$\\nMontoTotal: 327600.0 - 470250.0\\nClientesProbable: CLI-0002, CLI-0003, CLI-0014\\n\\nSales 07/02/2025:\\nCantidadPedida: 500 ~ 630\\nPrecioVentaBase: 779.00$ ~ 850.00$\\nMontoTotal: 389500.0 - 535500.0\\nClientesProbable: CLI-0008, CLI-0013, CLI-0010\\n\\nSales 08/02/2025:\\nCantidadPedida: 450 ~ 580\\nPrecioVentaBase: 785.00$ ~ 860.00$\\nMontoTotal: 353250.0 - 498800.0\\nClientesProbable: CLI-0006, CLI-0012, CLI-0005\\n***\n\ninsumos disponibles:\n***\nInsumos disponibles para: HAR-BLAN-LEUD-1KG\\n InsumoID:INS-TRI-PAN\\n Cantidad Disponible: 2549425.82\\n Cantidad requerida: 01.02\\n\\nInsumoID:INS-AGL-HAR\\n Cantidad Disponible: 15189.88\\n Cantidad requerida: 0.03\\n\\nInsumoID:INS-VIT-HAR\\n Cantidad Disponible: 8358705\\n Cantidad requerida: 5\\n\\nInsumoID:INS-EMP-HAR-1KG\\n Cantidad Disponible: 3398507\\n Cantidad requerida: 1.0\\n\\n\n***\n*********************************************\nA:\n*********************************************\n[\n\t{\n\t\t\"fecha\": \"3/02/2025\",\n\t\t\"cantidad\": 1720,\n\t\t\"linea\": \"LINPROD-HAR-01\",\n\t\t\"horaInicio\": \"22:00\",\n\t\t\"horaFin\": \"1:00\"\n\t},\n\t{\n\t\t\"fecha\": \"5/02/2025\",\n\t\t\"cantidad\": 1680,\n\t\t\"linea\": \"LINPROD-HAR-01\",\n\t\t\"horaInicio\": \"22:00\",\n\t\t\"horaFin\": \"1:00\"\n\t},\n\t{\n\t\t\"fecha\": \"7/02/2025\",\n\t\t\"cantidad\": 800,\n\t\t\"linea\": \"LINPROD-HAR-01\",\n\t\t\"horaInicio\": \"22:00\",\n\t\t\"horaFin\": \"1:00\"\n\t}\n\t\n]\n*********************************************\n#ESPECIFICACIONES\n##GENERALES\n- responde siempre en español\n- usa el formato de respuesta del ejemplo para responder\n- devuelve 3 dias de planificacion\n\n##NO PUEDES HACER ESTO MAL\n- no puedes devolver un codigo que resuelva el problema, siempre debe ser en el formato del ejemplo\n- el json debe tener siempre las mismas variables"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2,
        "position": [
          940,
          0
        ],
        "id": "f9fecb6d-7ca0-4d50-8cb6-24b726adfa21",
        "name": "Agente Planificador Central"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          920,
          220
        ],
        "id": "9fcd3962-552f-42cf-bbde-17f3f4d3e679",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "vzdjQJqcvomw8EgG",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "E4OkY7vl7Ggd5zQK",
            "mode": "list",
            "cachedResultName": "Extraer Insumos disponibles csv"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "ProductID": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
              "Dia": "={{ $('When Executed by Another Workflow').item.json.Dia }}",
              "Mes": "={{ $('When Executed by Another Workflow').item.json.Mes }}",
              "Año": "={{ $('When Executed by Another Workflow').item.json['Año'] }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "ProductID",
                "displayName": "ProductID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "Dia",
                "displayName": "Dia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number"
              },
              {
                "id": "Mes",
                "displayName": "Mes",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number"
              },
              {
                "id": "Año",
                "displayName": "Año",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "number"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          700,
          0
        ],
        "id": "b4e797df-8c0f-4b84-95de-9c543f06dc3e",
        "name": "Execute Workflow2"
      },
      {
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "  {\n    \"ProductID\": \"HAR-BLAN-LEUD-1KG\",\n    \"Dia\": 1,\n    \"Mes\": 2,\n    \"Año\": 2025\n  }"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "7c160a0c-3be8-44e3-ba78-de7460bc0e6b",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "jsonSchemaExample": "[\n\t{\n\t\t\"fecha\": \"3/02/2025\",\n\t\t\"cantidad\": 1720,\n\t\t\"linea\": \"LINPROD-HAR-01\",\n\t\t\"horaInicio\": \"22:00\",\n\t\t\"horaFin\": \"1:00\"\n\t},\n\t{\n\t\t\"fecha\": \"5/02/2025\",\n\t\t\"cantidad\": 1680,\n\t\t\"linea\": \"LINPROD-HAR-01\",\n\t\t\"horaInicio\": \"22:00\",\n\t\t\"horaFin\": \"1:00\"\n\t},\n\t{\n\t\t\"fecha\": \"7/02/2025\",\n\t\t\"cantidad\": 800,\n\t\t\"linea\": \"LINPROD-HAR-01\",\n\t\t\"horaInicio\": \"22:00\",\n\t\t\"horaFin\": \"1:00\"\n\t}\n\t\n]"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.2,
        "position": [
          1240,
          260
        ],
        "id": "2a30e187-c814-414c-8dd3-4e3db903f374",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84",
            "mode": "list",
            "cachedResultName": "Respuesta agentes",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Agentes",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Agente",
                "lookupValue": "Agente de Capacidad y Estado de Líneas"
              },
              {
                "lookupColumn": "fecha",
                "lookupValue": "={{ $json.Dia + \"/\" + $json.Mes + \"/\" + $json['Año'] }}"
              },
              {
                "lookupColumn": "producto",
                "lookupValue": "={{ $json.ProductID }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          220,
          0
        ],
        "id": "68fab074-68ee-441f-a605-d62ebb69a9fd",
        "name": "Get row(s) in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "CWI2Yxp3gWinrW8v",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84",
            "mode": "list",
            "cachedResultName": "Respuesta agentes",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Agentes",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Agente",
                "lookupValue": "Agente de Pronóstico de Demanda"
              },
              {
                "lookupColumn": "fecha",
                "lookupValue": "={{ $('When Executed by Another Workflow').item.json.Dia + \"/\" + $('When Executed by Another Workflow').item.json.Mes + \"/\" + $('When Executed by Another Workflow').item.json['Año'] }}"
              },
              {
                "lookupColumn": "producto",
                "lookupValue": "={{ $('When Executed by Another Workflow').item.json.ProductID }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          440,
          0
        ],
        "id": "1d2762b4-2dd4-4805-a7a5-c38f795bae39",
        "name": "Get row(s) in sheet1",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "CWI2Yxp3gWinrW8v",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84",
            "mode": "list",
            "cachedResultName": "Respuesta agentes",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Agentes",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uyOe2CGS2p3nYx8V-MEQpimyMB9KFB0kp_WVLtleZ84/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Agente": "Agente Planificador Central",
              "producto": "={{ $('When Executed by Another Workflow').item.json.ProductID }}",
              "respuesta": "=******************\naqui tienes la planificacion de la produccion\nplanificacion 1:\n- fecha: {{ $json.output[0].fecha }}\n- cantidad: {{ $json.output[0].cantidad }}\n- linea: {{ $json.output[0].linea }}\n- producto: {{ $('When Executed by Another Workflow').item.json.ProductID }}\n- horaInicio: {{ $json.output[0].horaInicio }}\n- horaFin: {{ $json.output[0].horaFin }}\n\nplanificacion 2:\n- fecha: {{ $json.output[1].fecha }}\n- cantidad: {{ $json.output[1].cantidad }}\n- linea: {{ $json.output[1].linea }}\n- producto: {{ $('When Executed by Another Workflow').item.json.ProductID }}\n- horaInicio: {{ $json.output[1].horaInicio }}\n- horaFin: {{ $json.output[1].horaFin }}\n\nplanificacion 3:\n- fecha: {{ $json.output[2].fecha }}\n- cantidad: {{ $json.output[2].cantidad }}\n- linea: {{ $json.output[2].linea }}\n- producto: {{ $('When Executed by Another Workflow').item.json.ProductID }}\n- horaInicio: {{ $json.output[2].horaInicio }}\n- horaFin: {{ $json.output[2].horaFin }}\n******************"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Agente",
                "displayName": "Agente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "producto",
                "displayName": "producto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "respuesta",
                "displayName": "respuesta",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "fecha",
                "displayName": "fecha",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          1300,
          0
        ],
        "id": "c4e7a95f-cc8a-4508-be9a-1acfd287c50d",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "CWI2Yxp3gWinrW8v",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Agente Planificador Central",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow2": {
        "main": [
          [
            {
              "node": "Agente Planificador Central",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agente Planificador Central": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Agente Planificador Central",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet1": {
        "main": [
          [
            {
              "node": "Execute Workflow2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}