workflow/normalizacion.json
{
  "updatedAt": "2026-01-20T22:03:07.000Z",
  "createdAt": "2026-01-20T21:59:48.663Z",
  "id": "RFawMfFvVJFWaYYTpevIo",
  "name": "normalizacion",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "01e0861c-4123-4786-92cf-57c008cf60f8",
              "name": "y",
              "value": "={{ Number($json.ADJUSTEDACTUALSQTY) }}",
              "type": "number"
            },
            {
              "id": "e075d05a-fb30-441e-80db-455d7cc49145",
              "name": "yhat",
              "value": "={{ Number($json.foreAct) }}",
              "type": "number"
            },
            {
              "id": "de871df9-2396-4254-8b55-3657d404f107",
              "name": "punitario",
              "value": "={{ Number($json.PUNITARIO) }}",
              "type": "number"
            },
            {
              "id": "76104ada-943c-465c-92bc-c074686d9489",
              "name": "pindex",
              "value": "={{ Number($json.PINDEX) }}",
              "type": "number"
            },
            {
              "id": "9e1b7504-f38a-4d8a-8e66-eb4c2a293c71",
              "name": "som",
              "value": "={{ Number($json.SOM) }}",
              "type": "number"
            },
            {
              "id": "3e79412f-c1cc-419b-a8ee-49e102e4668d",
              "name": "sov",
              "value": "={{ Number($json.SOV) }}",
              "type": "number"
            },
            {
              "id": "401ee443-5a40-4fa2-bd5b-fa9867c03336",
              "name": "zselloutcliente",
              "value": "={{ Number($json.ZSELLOUTCLIENTE) }}",
              "type": "number"
            },
            {
              "id": "3fb24806-1570-433d-9c83-7fef8e5e55e7",
              "name": "CUSTID",
              "value": "={{ $json.CUSTID }}",
              "type": "string"
            },
            {
              "id": "05415e07-a833-473b-aadc-0d0eb1068395",
              "name": "PRDID",
              "value": "={{ $json.PRDID }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        176
      ],
      "id": "793e7fc5-8bda-49b7-8541-fac35b71a8e7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "max",
              "field": "y"
            }
          ]
        },
        "fieldsToSplitBy": "CUSTID, PRDID\n",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        -1072,
        384
      ],
      "id": "34fb52ab-2b0f-468f-b22c-e66df3aa34db",
      "name": "Summarize",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "PRDID, CUSTID",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -752,
        192
      ],
      "id": "c8b61a32-e228-4bd2-8440-240dcba35b60",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "defa1d2c-bfa0-481a-a7de-54efb4515a88",
              "name": "scale_max",
              "value": "={{ $json.max_y }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "PRDID, CUSTID",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        384
      ],
      "id": "3e02cf71-5e23-4a98-abbe-7b35080ce83c",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Definición 1.1 – Normalización por escala (Cliente–Producto)\n * y_norm     = y / scale_max\n * yhat_norm  = yhat / scale_max\n */\n\nconst EPS = 1e-9;\n\nreturn items.map(item => {\n  const r = item.json;\n\n  const y = Number(r.y);\n  const yhat = Number(r.yhat);\n  const scale_max = Number(r.scale_max ?? 0);\n\n  const denom = scale_max + EPS;\n\n  return {\n    json: {\n      ...r,\n\n      y_norm: (Number.isFinite(y) && scale_max > 0) ? (y / denom) : 0,\n      yhat_norm: (Number.isFinite(yhat) && scale_max > 0) ? (yhat / denom) : 0,\n\n      // flag útil para filtrado posterior\n      scale_is_zero: scale_max === 0\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        192
      ],
      "id": "8b07dc38-e35e-42ef-afd6-cb7084986efa",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "PERIODID3, PRDID, CUSTID, MONTH, YEAR, SEASON, CUSTREGION, CUSTGROUP, y, yhat, punitario, pindex, som, sov, zselloutcliente, scale_max, y_norm, yhat_norm, scale_is_zero",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        192
      ],
      "id": "7b804527-75ce-45cb-8c08-570c54f185e7",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "max",
              "field": "y"
            },
            {
              "aggregation": "max",
              "field": "scale_max"
            },
            {
              "aggregation": "min",
              "field": "scale_max"
            },
            {
              "aggregation": "max",
              "field": "y_norm"
            },
            {
              "aggregation": "min",
              "field": "y_norm"
            },
            {}
          ]
        },
        "fieldsToSplitBy": "CUSTID, PRDID",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        -176,
        0
      ],
      "id": "541c06f3-e55b-4006-a983-4002d9f7956f",
      "name": "Summarize2"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Summarize2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "01e4bc86-f3d8-47c5-84bd-d6a5e7b3f7f9",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-20T21:59:48.668Z",
      "createdAt": "2026-01-20T21:59:48.668Z",
      "role": "workflow:owner",
      "workflowId": "RFawMfFvVJFWaYYTpevIo",
      "projectId": "cEfHDRqL69JgpIBq"
    }
  ],
  "activeVersion": null,
  "tags": []
}