workflow/Produccion consolidada.json
{
  "updatedAt": "2025-07-06T16:47:19.000Z",
  "createdAt": "2025-06-30T05:56:20.752Z",
  "id": "nDXYrT7QSJKUjYZ8",
  "name": "Produccion consolidada",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6e932fd-6bf7-4cdc-91e2-165f441ce6c8",
              "name": "kpi",
              "value": "={   \"kpi\": \"PP\",   \"valor\":\"{{ $json.valor }}\" }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20,
        -100
      ],
      "id": "52b3dece-8cd3-4679-9aff-634964ee6d62",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e6cc1de-f69b-47c6-b1ec-1dd9de503fc1",
              "name": "kpi",
              "value": "={   \"kpi\": \"CFI\",   \"valor\":\"{{ $json.valor }}\" }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20,
        100
      ],
      "id": "257f5fbd-e0bd-46fc-88ad-05adf2b4c98f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fdefa79c-7b67-463b-976b-674cb36ad3db",
              "name": "kpi",
              "value": "={   \"kpi\": \"TCP\",   \"valor\":\"{{ $json.valor }}\" }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20,
        300
      ],
      "id": "050cfd51-352d-4d26-be12-dc31dbdac4ed",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c176bcf3-0768-4f4b-8555-aa925b8f9cc8",
              "name": "kpi",
              "value": "={   \"kpi\": \"OEE\",   \"valor\":\"{{ $json.valor }}\" }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20,
        500
      ],
      "id": "2766b092-8450-439a-8081-c6546ca1f682",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "01bd55ae-482e-4a1e-a853-e81d0a341dc9",
              "name": "kpi",
              "value": "={   \"kpi\": \"TPNP\",   \"valor\":\"{{ $json.valor }}\" }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20,
        700
      ],
      "id": "4e1473d1-d7cd-4bbb-a106-7ac312d6c029",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dbe09b8a-8a6b-4e40-8325-9a4a8c19d064",
              "name": "kpi",
              "value": "={   \"kpi\": \"UL\",   \"valor\":\"{{ $json.valor }}\" }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20,
        900
      ],
      "id": "4e4ef3db-2636-4436-b8b0-4e9ca4909625",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "416f1905-b8a8-4330-a3df-5dd15b802558",
              "name": "kpi",
              "value": "={   \"kpi\": \"TF\",   \"valor\":\"{{ $json.valor }}\" }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20,
        1100
      ],
      "id": "cecf3d2b-6f21-4fa5-a805-4e578afa3d8c",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9f8f593-45b1-42d4-b4b8-9f083d76c690",
              "name": "kpi",
              "value": "={   \"kpi\": \"LTA\",   \"valor\":\"{{ $json.valor }}\" }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20,
        1300
      ],
      "id": "0d5ef9ef-d50a-4f5c-aca1-87c72f80cc1d",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9b826f9-10b0-439f-818c-9c9c5ac7da3e",
              "name": "kpi",
              "value": "={   \"kpi\": \"RII\",   \"valor\":\"{{ $json.valor }}\" }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20,
        1500
      ],
      "id": "8c6ce856-29bf-4809-8bff-0d8d00c506d7",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7709cdb-0691-4797-a051-79df13ee6276",
              "name": "kpi",
              "value": "={   \"kpi\": \"SSO\",   \"valor\":\"{{ $json.valor }}\" }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20,
        1700
      ],
      "id": "ca8ff3a2-825c-4625-892a-9247565ea805",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "numberInputs": 10
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        400,
        640
      ],
      "id": "29a3df29-9868-4d46-8ac3-c1237301004a",
      "name": "Merge"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao",
          "mode": "list",
          "cachedResultName": "KPIs de produccion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "PP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "fecha",
              "lookupValue": "01/02/2025"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -240,
        -100
      ],
      "id": "651d5a11-0825-4f90-834d-a8eb8dcbbe31",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao",
          "mode": "list",
          "cachedResultName": "KPIs de produccion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1989736725,
          "mode": "list",
          "cachedResultName": "CFI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao/edit#gid=1989736725"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "fecha",
              "lookupValue": "01/02/2025"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -240,
        100
      ],
      "id": "8dc27e75-6cfc-47ca-b16c-4fa42a1719de",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao",
          "mode": "list",
          "cachedResultName": "KPIs de produccion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1293313229,
          "mode": "list",
          "cachedResultName": "TCP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao/edit#gid=1293313229"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "fecha",
              "lookupValue": "01/02/2025"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -240,
        300
      ],
      "id": "ee9561a9-c2be-4c30-ba0b-22e3684e83d6",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao",
          "mode": "list",
          "cachedResultName": "KPIs de produccion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 453456937,
          "mode": "list",
          "cachedResultName": "OEE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao/edit#gid=453456937"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "fecha",
              "lookupValue": "01/02/2025"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -240,
        500
      ],
      "id": "2e12b76a-d628-4d79-b1c1-ef8f322a0a4f",
      "name": "Get row(s) in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao",
          "mode": "list",
          "cachedResultName": "KPIs de produccion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 169683322,
          "mode": "list",
          "cachedResultName": "TPNP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao/edit#gid=169683322"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "fecha",
              "lookupValue": "01/02/2025"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -240,
        700
      ],
      "id": "3af9674e-3c33-4705-8bf7-39d0fe192073",
      "name": "Get row(s) in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao",
          "mode": "list",
          "cachedResultName": "KPIs de produccion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1822373962,
          "mode": "list",
          "cachedResultName": "UL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao/edit#gid=1822373962"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "fecha",
              "lookupValue": "01/02/2025"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -240,
        900
      ],
      "id": "cd69b6ce-9ad3-4e54-a4f0-c453686ec259",
      "name": "Get row(s) in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao",
          "mode": "list",
          "cachedResultName": "KPIs de produccion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1666457538,
          "mode": "list",
          "cachedResultName": "TF",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao/edit#gid=1666457538"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "fecha",
              "lookupValue": "01/02/2025"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -240,
        1100
      ],
      "id": "dc406ade-4ddc-4e01-b87f-c45fb18e3e18",
      "name": "Get row(s) in sheet6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao",
          "mode": "list",
          "cachedResultName": "KPIs de produccion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 218124565,
          "mode": "list",
          "cachedResultName": "LTA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao/edit#gid=218124565"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "fecha",
              "lookupValue": "01/02/2025"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -240,
        1300
      ],
      "id": "333ae511-f889-4db4-8bad-b9e14b2ac3a6",
      "name": "Get row(s) in sheet7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao",
          "mode": "list",
          "cachedResultName": "KPIs de produccion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1561846676,
          "mode": "list",
          "cachedResultName": "RII",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao/edit#gid=1561846676"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "fecha",
              "lookupValue": "01/02/2025"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -240,
        1500
      ],
      "id": "c23819d1-a328-42d0-a7c5-e5286fc4c4e1",
      "name": "Get row(s) in sheet8",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao",
          "mode": "list",
          "cachedResultName": "KPIs de produccion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2081234331,
          "mode": "list",
          "cachedResultName": "SSO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AZDjrmVxEF7P56C8uvxC8v4tJz8icfhUBO5yE9f6xao/edit#gid=2081234331"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "fecha",
              "lookupValue": "01/02/2025"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -240,
        1700
      ],
      "id": "2691d4f5-759a-4b37-a964-35af4c1be669",
      "name": "Get row(s) in sheet9",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        860
      ],
      "id": "eff1adc0-d6b4-411c-bdff-007e03872f06",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1s1d5I1W6iT3l7wNN-v1Zk3J66t37FvucpODoOvR43JU",
          "mode": "list",
          "cachedResultName": "Kpis consolidados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s1d5I1W6iT3l7wNN-v1Zk3J66t37FvucpODoOvR43JU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1246746953,
          "mode": "list",
          "cachedResultName": "Produccion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s1d5I1W6iT3l7wNN-v1Zk3J66t37FvucpODoOvR43JU/edit#gid=1246746953"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "KPI": "={{ $json.kpi.kpi }}",
            "Valor": "={{ $json.kpi.valor }}",
            "Fecha": "=01/02/2025"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "KPI",
              "displayName": "KPI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        660,
        780
      ],
      "id": "2f26d844-84cd-4ebb-9f2c-4ac4b1d10f83",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 9
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet4": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet5": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet6": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet7": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet8": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet9": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2490d85e-5ce3-4629-bd14-0c1c99e66640",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-06-30T05:56:20.759Z",
      "createdAt": "2025-06-30T05:56:20.759Z",
      "role": "workflow:owner",
      "workflowId": "nDXYrT7QSJKUjYZ8",
      "projectId": "cEfHDRqL69JgpIBq"
    }
  ],
  "activeVersion": null,
  "tags": []
}