workflow/restore.json
{
  "updatedAt": "2026-02-15T00:39:40.831Z",
  "createdAt": "2026-02-15T00:31:22.960Z",
  "id": "wQHMqmjnRK8rSinx",
  "name": "restore",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        384
      ],
      "id": "729ad93b-57bb-4653-9c39-00f68de15a1b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "aharongp",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "WorkFlows-Lyncros",
          "mode": "list",
          "cachedResultName": "WorkFlows-Lyncros",
          "cachedResultUrl": "https://github.com/aharongp/WorkFlows-Lyncros"
        },
        "filePath": "workflow"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -576,
        384
      ],
      "id": "4db1f59f-77a2-40bf-a163-be2876b5c113",
      "name": "List files",
      "webhookId": "f50dba63-7db1-4216-8ba8-6022e1240f8e",
      "credentials": {
        "githubApi": {
          "id": "DBmDD6xqRBes6abQ",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{  JSON.stringify($json.workflowData)}}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        992,
        384
      ],
      "id": "faa7fc70-0c2c-4767-992a-2b5587ba6741",
      "name": "Create a workflow",
      "alwaysOutputData": false,
      "credentials": {
        "n8nApi": {
          "id": "bWVWT9OL5JqJU9dd",
          "name": "n8n account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -336,
        304
      ],
      "id": "7913815b-bc6d-4ee0-92e6-d0a924f8f3d9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "aharongp",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "WorkFlows-Lyncros",
          "mode": "name"
        },
        "filePath": "={{ $json.path }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        160,
        240
      ],
      "id": "207ac988-a70a-42ab-b252-1b54ef63f539",
      "name": "Get a file",
      "webhookId": "7ced58a9-e53a-47a9-bbcd-bb464573d318",
      "credentials": {
        "githubApi": {
          "id": "DBmDD6xqRBes6abQ",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos el nombre del archivo de la parte JSON\nconst fileName = items[0].json.name || \"flujo_sin_nombre\";\nconst cleanName = fileName.replace('.json', '');\n\ntry {\n  // 2. Leemos el buffer binario usando el helper oficial de n8n\n  // Esto resuelve el problema de \"filesystem-v2\"\n  const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  \n  // 3. Convertimos el buffer a texto y luego a objeto JSON\n  const workflowObj = JSON.parse(buffer.toString('utf-8'));\n\n  // 4. Inyectamos el nombre limpio\n  workflowObj.name = cleanName;\n\n  return {\n    json: {\n      workflowData: workflowObj\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      error: \"Error procesando el binario\",\n      detalles: error.message,\n      nota: \"Si el error persiste, verifica que el nodo anterior tenga el binario en la propiedad 'data'\"\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        336
      ],
      "id": "4a055578-e647-40e5-bb45-5ef85805854b",
      "name": "Code in JavaScript",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "delete",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -224,
        -16
      ],
      "id": "8f1285dd-41e5-4ae6-a7d3-40206434a7e7",
      "name": "Delete a workflow",
      "credentials": {
        "n8nApi": {
          "id": "bWVWT9OL5JqJU9dd",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -640,
        16
      ],
      "id": "9adcb87a-3938-4a55-ba7f-f6e9492e5aa8",
      "name": "Get many workflows1",
      "credentials": {
        "n8nApi": {
          "id": "bWVWT9OL5JqJU9dd",
          "name": "n8n account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d647731a-a757-45db-a262-3552d9933306",
              "leftValue": "={{ $json.name }}",
              "rightValue": "restore1",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -432,
        16
      ],
      "id": "94d81ea1-5522-48f6-96c4-296ccc5a5b33",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b17b9845-8715-42a8-ab0e-3c1aab8cb42c",
              "name": "datas",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        640
      ],
      "id": "a8bf979d-6b03-4c7b-b8ea-ad7a917be2a3",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Delete a workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "bfb9e29f-8d6a-4e8b-a1a6-7bd915562396",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-15T00:31:22.960Z",
      "createdAt": "2026-02-15T00:31:22.960Z",
      "role": "workflow:owner",
      "workflowId": "wQHMqmjnRK8rSinx",
      "projectId": "9axjLTcJCvAcwxP1"
    }
  ],
  "activeVersion": null,
  "tags": []
}