workflow/restore.json
{
  "updatedAt": "2026-02-14T23:34:34.662Z",
  "createdAt": "2026-02-14T22:09:20.819Z",
  "id": "RSXSSidfDBeguLz_pK8Xd",
  "name": "restore",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        136
      ],
      "id": "4a19f895-661d-4832-b33c-f8efed2b9877",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "aharongp",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "WorkFlows-Lyncros",
          "mode": "list",
          "cachedResultName": "WorkFlows-Lyncros",
          "cachedResultUrl": "https://github.com/aharongp/WorkFlows-Lyncros"
        },
        "filePath": "workflow"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        80,
        136
      ],
      "id": "bf7e77bf-4f66-4cfd-9ac6-15ebf86cbda8",
      "name": "List files",
      "webhookId": "f50dba63-7db1-4216-8ba8-6022e1240f8e",
      "credentials": {
        "githubApi": {
          "id": "wNHSUGXCVHrHamaK",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{  JSON.stringify($json.workflowData)}}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        976,
        136
      ],
      "id": "bca3c322-fd56-41a0-ac4f-65ad9f8e0108",
      "name": "Create a workflow",
      "credentials": {
        "n8nApi": {
          "id": "XE18JDowzzNYBUnY",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        136
      ],
      "id": "5d4b6dbe-9792-4502-a818-7daf4f6a0441",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "aharongp",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "WorkFlows-Lyncros",
          "mode": "name"
        },
        "filePath": "={{ $json.path }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        528,
        64
      ],
      "id": "47bbddf2-254d-4672-807a-fdecdd51754d",
      "name": "Get a file",
      "webhookId": "7ced58a9-e53a-47a9-bbcd-bb464573d318",
      "credentials": {
        "githubApi": {
          "id": "wNHSUGXCVHrHamaK",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos el nombre del archivo de la parte JSON\nconst fileName = items[0].json.name || \"flujo_sin_nombre\";\nconst cleanName = fileName.replace('.json', '');\n\ntry {\n  // 2. Leemos el buffer binario usando el helper oficial de n8n\n  // Esto resuelve el problema de \"filesystem-v2\"\n  const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  \n  // 3. Convertimos el buffer a texto y luego a objeto JSON\n  const workflowObj = JSON.parse(buffer.toString('utf-8'));\n\n  // 4. Inyectamos el nombre limpio\n  workflowObj.name = cleanName;\n\n  return {\n    json: {\n      workflowData: workflowObj\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      error: \"Error procesando el binario\",\n      detalles: error.message,\n      nota: \"Si el error persiste, verifica que el nodo anterior tenga el binario en la propiedad 'data'\"\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        64
      ],
      "id": "527af2aa-4abf-456f-b509-af1f482083c8",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "db5bbc16-79f4-410a-a627-dd2fbe55f573",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-14T22:09:20.824Z",
      "createdAt": "2026-02-14T22:09:20.824Z",
      "role": "workflow:owner",
      "workflowId": "RSXSSidfDBeguLz_pK8Xd",
      "projectId": "cEfHDRqL69JgpIBq"
    }
  ],
  "activeVersion": null,
  "tags": []
}