workflow/selector de clientes completo.json
{
  "updatedAt": "2026-02-20T03:59:29.413Z",
  "createdAt": "2026-02-15T00:41:16.111Z",
  "id": "zhWQh2Cq4j0RsWg0FX9sh",
  "name": "selector de clientes completo",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "01e0861c-4123-4786-92cf-57c008cf60f8",
              "name": "y",
              "value": "={{ Number($json.ADJUSTEDACTUALSQTY) }}",
              "type": "number"
            },
            {
              "id": "e075d05a-fb30-441e-80db-455d7cc49145",
              "name": "yhat",
              "value": "={{ Number($json.foreAct) }}",
              "type": "number"
            },
            {
              "id": "de871df9-2396-4254-8b55-3657d404f107",
              "name": "punitario",
              "value": "={{ Number($json.PUNITARIO) }}",
              "type": "number"
            },
            {
              "id": "76104ada-943c-465c-92bc-c074686d9489",
              "name": "pindex",
              "value": "={{ Number($json.PINDEX) }}",
              "type": "number"
            },
            {
              "id": "9e1b7504-f38a-4d8a-8e66-eb4c2a293c71",
              "name": "som",
              "value": "={{ Number($json.SOM) }}",
              "type": "number"
            },
            {
              "id": "3e79412f-c1cc-419b-a8ee-49e102e4668d",
              "name": "sov",
              "value": "={{ Number($json.SOV) }}",
              "type": "number"
            },
            {
              "id": "401ee443-5a40-4fa2-bd5b-fa9867c03336",
              "name": "zselloutcliente",
              "value": "={{ Number($json.ZSELLOUTCLIENTE) }}",
              "type": "number"
            },
            {
              "id": "3fb24806-1570-433d-9c83-7fef8e5e55e7",
              "name": "CUSTID",
              "value": "={{ $json.CUSTID }}",
              "type": "string"
            },
            {
              "id": "05415e07-a833-473b-aadc-0d0eb1068395",
              "name": "PRDID",
              "value": "={{ $json.PRDID }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2000,
        400
      ],
      "id": "d1f7d6d3-2a0d-484d-8be7-010133d022e0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "average",
              "field": "y"
            }
          ]
        },
        "fieldsToSplitBy": "CUSTID, PRDID\n",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        -1856,
        608
      ],
      "id": "f81c28dc-f8e6-48ff-8a57-5506d21982cf",
      "name": "Summarize",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "PRDID, CUSTID",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1504,
        416
      ],
      "id": "0dd15e9b-6b77-40de-98ff-c3b922f086b1",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "defa1d2c-bfa0-481a-a7de-54efb4515a88",
              "name": "scale_avg",
              "value": "={{ $json.average_y }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "PRDID, CUSTID",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        608
      ],
      "id": "c6f6fb66-d8b4-4d35-89e6-20f43541c5aa",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1NROHOGZw-TfIswD5YrRM-SGgJe-T55Sl",
          "mode": "list",
          "cachedResultName": "dataset_mrp (2).csv",
          "cachedResultUrl": "https://drive.google.com/file/d/1NROHOGZw-TfIswD5YrRM-SGgJe-T55Sl/view?usp=drivesdk"
        },
        "options": {
          "binaryPropertyName": "70k"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2720,
        -496
      ],
      "id": "e0ce78cf-44dc-4819-a91d-0ca21c7359f2",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YlliA6g1EcMRYRSj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1lGFPwDNtA0U9bLMsukYGRgqeKAHhHW6M",
          "mode": "list",
          "cachedResultName": "propuesta2_dataset_mrp (1).csv",
          "cachedResultUrl": "https://drive.google.com/file/d/1lGFPwDNtA0U9bLMsukYGRgqeKAHhHW6M/view?usp=drivesdk"
        },
        "options": {
          "binaryPropertyName": "4k"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2720,
        -240
      ],
      "id": "b983546f-0fbb-4e20-8312-21923a0c6124",
      "name": "Download file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YlliA6g1EcMRYRSj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2560,
        -320
      ],
      "id": "8715971e-909d-4c28-a1fb-b3b73a277966",
      "name": "Merge2"
    },
    {
      "parameters": {
        "path": "selector",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2976,
        -288
      ],
      "id": "b611b2a5-0710-4a8d-a4b2-6039208b177a",
      "name": "Webhook",
      "webhookId": "26c81a1c-692d-4204-917c-4389c954ea66"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "CUSTID, PRDID",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -448,
        480
      ],
      "id": "afaca49d-bd17-4da2-aee9-dd89c89b0b9b",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// --- CONFIGURACIÓN DE ESTRATEGIA (Sección 4) ---\nconst W_IMPACT = 0.60;\nconst W_SIGNAL = 0.40;\nconst THRESHOLD_PROBLEM = 0.3;\nconst CRITICAL_SHARE = 0.03;\n\n// Mapa de Prioridad para ordenar la lista final\nconst priorityMap = {\n  'MANUAL_REVIEW': 100,      // Rojo\n  'AGENT_INVESTIGATION': 80, // Naranja\n  'AUTO_ADJUST': 50,         // Amarillo\n  'MONITOR': 20,             // Gris\n  'KEEP_CURRENT': 0          // Verde\n};\n\n// 1. DEDUPLICACIÓN Y CLASIFICACIÓN\nconst uniquePairs = {};\n\nfor (const item of items) {\n  const r = item.json;\n  \n  // Clave única para el par Cliente-Producto\n  const key = `${r.CUSTID}_${r.PRDID}`;\n\n  // Si ya procesamos este par, pasamos al siguiente (Deduplicación)\n  if (uniquePairs[key]) continue;\n\n  // --- OBTENER SCORES ---\n  const s_signal = Number(r.signal_score_final || 0);\n  const s_impact = Number(r.impact_score_final || 0);\n  const impact_share = Number(r.impact_share || 0);\n\n  // --- CÁLCULO DEL SCORE TOTAL ---\n  const total_score = (W_IMPACT * s_impact) + (W_SIGNAL * s_signal);\n\n  // --- MATRIZ DE DECISIÓN ---\n  let classification = 'STABLE';\n  let strategy = 'KEEP_CURRENT';\n  let justification = 'Bajo impacto y señal estable.';\n\n  // Regla 1: Impacto Crítico (Válvula de Seguridad)\n  if (impact_share > CRITICAL_SHARE) {\n    classification = 'CRITICAL';\n    strategy = 'MANUAL_REVIEW';\n    justification = `Impacto Crítico (${(impact_share*100).toFixed(1)}% del error global).`;\n  } \n  // Regla 2: Problemático (Score > 0.5)\n  else if (total_score >= THRESHOLD_PROBLEM) {\n    // Cuadrante B1: Impacto Alto, Señal Buena -> Oportunidad Técnica\n    if (s_impact > 0.5 && s_signal <= 0.4) {\n      classification = 'OPPORTUNITY';\n      strategy = 'AUTO_ADJUST';\n      justification = 'Alto impacto financiero, pero señal estable.';\n    } \n    // Cuadrante B2: Impacto Alto, Señal Mala -> Caos para el Agente\n    else if (s_impact > 0.5 && s_signal > 0.4) {\n      classification = 'CHAOS';\n      strategy = 'AGENT_INVESTIGATION';\n      justification = 'Alto impacto y comportamiento errático.';\n    } \n    // Resto de casos problemáticos\n    else {\n      classification = 'PROBLEMATIC';\n      strategy = 'MONITOR';\n      justification = `Score combinado alto (${total_score.toFixed(2)}).`;\n    }\n  }\n\n  // --- CONSTRUCCIÓN DEL OBJETO FINAL (PAR ÚNICO) ---\n  uniquePairs[key] = {\n    // Identificadores\n    CUSTID: r.CUSTID,\n    PRDID: r.PRDID,\n    REGION: r.CUSTREGION,\n\n    // Resultado de la Clasificación\n    STATUS: classification,\n    STRATEGY: strategy,\n    FINAL_SCORE: Number(total_score.toFixed(3)),\n    JUSTIFICATION: justification,\n\n    // Métricas Agregadas (Para referencia rápida)\n    IMPACT_SCORE: s_impact.toFixed(2),\n    SIGNAL_SCORE: s_signal.toFixed(2),\n    ERROR_SHARE: (impact_share * 100).toFixed(2) + '%',\n    TOTAL_SALES: Number(r.sum_y || 0),\n    BIAS: Number(r.bias || 0).toFixed(3),\n    WAPE: Number(r.wape || 0).toFixed(3)\n  };\n}\n\n// 2. ORDENAMIENTO (De más urgente a menos urgente)\nconst resultList = Object.values(uniquePairs);\n\nresultList.sort((a, b) => {\n  const prioA = priorityMap[a.STRATEGY] || 0;\n  const prioB = priorityMap[b.STRATEGY] || 0;\n  \n  // Primero por urgencia de estrategia\n  if (prioA !== prioB) return prioB - prioA;\n  \n  // Desempate por Score numérico\n  return b.FINAL_SCORE - a.FINAL_SCORE;\n});\n\nreturn resultList.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        480
      ],
      "id": "d087fb2a-c7d1-4cf6-96a2-654719b4e336",
      "name": "Code in JavaScript9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e38b8747-ac57-48a5-ac6e-b53d54b6f14b",
              "leftValue": "={{ $json.STATUS }}",
              "rightValue": "STABLE",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        48,
        656
      ],
      "id": "eb47d475-8647-46b4-b2af-a6ea5a44dfa4",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "// --- CONFIGURACIÓN ---\nconst monthMap = {\n    '01': 'Jan', '02': 'Feb', '03': 'Mar', '04': 'Apr', '05': 'May', '06': 'Jun',\n    '07': 'Jul', '08': 'Aug', '09': 'Sep', '10': 'Oct', '11': 'Nov', '12': 'Dec'\n};\n\n// --- 1. LECTURA Y PARSEO (BINARY -> JSON) ---\nconst referenceMap = new Map(); \nlet transactions = [];          \n\nfor (let i = 0; i < items.length; i++) {\n    const item = items[i];\n    \n    // ARCHIVO \"70k\"\n    if (item.binary && item.binary['70k']) {\n        const buffer = await this.helpers.getBinaryDataBuffer(i, '70k');\n        transactions = parseCSV(buffer.toString('utf8'), ','); \n    }\n    \n    // ARCHIVO \"4k\"\n    if (item.binary && item.binary['4k']) {\n        const buffer = await this.helpers.getBinaryDataBuffer(i, '4k');\n        const rows = parseCSV(buffer.toString('utf8'), ';');\n        \n        for (const row of rows) {\n            // parseCSV ya limpia los datos, no necesitamos String().trim() aquí\n            const key = `${row.PRDID}_${row.CUSTID}`;\n            referenceMap.set(key, row);\n        }\n    }\n}\n\n// --- 2. CRUCE, RENOMBRADO Y FILTRADO ---\nconst results = [];\nconst dateCache = {}; // <-- CACHÉ DE FECHAS PARA AHORRAR CPU\n\nfor (const txn of transactions) {\n    // Usamos las llaves limpias directamente\n    const key = `${txn.PRDID}_${txn.CUSTID}`;\n    const refData = referenceMap.get(key);\n    \n    if (!refData) continue; // Si no hay match en el 4k, saltamos a la siguiente fila inmediatamente\n\n    let foreActValue = null;\n\n    // --- Lógica de Fecha Optimizada con Caché ---\n    if (txn.PERIODID3) {\n        let dynamicColumn = dateCache[txn.PERIODID3];\n        \n        // Si no hemos calculado esta fecha antes, lo hacemos y la guardamos\n        if (dynamicColumn === undefined) {\n            const parts = txn.PERIODID3.split('-'); \n            if (parts.length >= 2) {\n                const yearShort = parts[0].slice(2);\n                const monthName = monthMap[parts[1]];\n                dynamicColumn = monthName ? `${yearShort}-${monthName}` : null;\n            } else {\n                dynamicColumn = null;\n            }\n            dateCache[txn.PERIODID3] = dynamicColumn; // Guardar en caché\n        }\n\n        // Extraer el valor del forecast\n        if (dynamicColumn) {\n            const val = refData[dynamicColumn];\n            if (val !== undefined && val !== null && val !== \"\") {\n                foreActValue = val;\n            }\n        }\n    }\n\n    // --- FILTRO MAESTRO Y ASIGNACIÓN ---\n    if (foreActValue !== null) {\n        // Mutamos el objeto original para ahorrar memoria RAM\n        txn['CUSTREGION'] = refData['CUSTREGION'];\n        txn['CUSTGROUP'] = refData['CUSTGROUP'];\n        txn['foreAct'] = foreActValue; \n\n        results.push({ json: txn });\n    }\n}\n\nreturn results;\n\n// --- FUNCIONES DE PARSEO (Sin cambios) ---\nfunction parseCSV(csvText, separator) {\n    const lines = csvText.split('\\n');\n    if (lines.length < 2) return [];\n\n    const headers = parseCSVLine(lines[0], separator).map(h => h.trim().replace(/^[\"']|[\"']$/g, ''));\n    const parsedData = [];\n\n    for (let i = 1; i < lines.length; i++) {\n        const line = lines[i].trim();\n        if (!line) continue;\n        const values = parseCSVLine(line, separator);\n        const obj = {};\n        headers.forEach((header, index) => {\n            let val = values[index] ? values[index].trim() : null;\n            // parseCSV limpia espacios, así que los valores ya vienen listos\n            if (val && val.includes(',') && separator === ';') val = val.replace(',', '.'); \n            obj[header] = val;\n        });\n        parsedData.push(obj);\n    }\n    return parsedData;\n}\n\nfunction parseCSVLine(text, separator) {\n    const escapedSep = separator === '.' ? '\\\\.' : separator;\n    const re_value = new RegExp(`(?!\\\\s*$)\\\\s*(?:'([^']*)'|\"([^\"]*)\"|([^${escapedSep}'\"\\\\s\\\\\\\\]*(?:\\\\s+[^${escapedSep}'\"\\\\s\\\\\\\\]+)*))\\\\s*(?:${escapedSep}|$)`, 'g');\n    const a = [];\n    text.replace(re_value, function(m0, m1, m2, m3) {\n        if (m1 !== undefined) a.push(m1.replace(/\\\\'/g, \"'\"));\n        else if (m2 !== undefined) a.push(m2.replace(/\\\\\"/g, '\"'));\n        else if (m3 !== undefined) a.push(m3);\n        return '';\n    });\n    if (new RegExp(`${escapedSep}\\\\s*$`).test(text)) a.push('');\n    return a;\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        400
      ],
      "id": "c2763ed3-5034-44c0-9bfb-e5938c7bb3a0",
      "name": "leer documentos"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "zivYLI1PlIMWk3fK",
          "mode": "list",
          "cachedResultName": "clientes problematicos",
          "cachedResultUrl": "/projects/9axjLTcJCvAcwxP1/datatables/zivYLI1PlIMWk3fK"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CUSTID": "={{ $json.CUSTID }}",
            "PRDID": "={{ $json.PRDID }}",
            "REGION": "={{ $json.REGION }}",
            "STATUS": "={{ $json.STATUS }}",
            "STRATEGY": "={{ $json.STRATEGY }}",
            "FINAL_SCORE": "={{ $json.FINAL_SCORE }}",
            "JUSTIFICATION": "={{ $json.JUSTIFICATION }}",
            "ERROR_SHARE": "={{ $json.ERROR_SHARE }}",
            "IMPACT_SCORE": "={{ $json.IMPACT_SCORE }}",
            "SIGNAL_SCORE": "={{ $json.SIGNAL_SCORE }}",
            "TOTAL_SALES": "={{ $json.TOTAL_SALES }}",
            "BIAS": "={{ $json.BIAS }}",
            "WAPE": "={{ $json.WAPE }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "CUSTID",
              "displayName": "CUSTID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PRDID",
              "displayName": "PRDID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "REGION",
              "displayName": "REGION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "STRATEGY",
              "displayName": "STRATEGY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "FINAL_SCORE",
              "displayName": "FINAL_SCORE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "JUSTIFICATION",
              "displayName": "JUSTIFICATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ERROR_SHARE",
              "displayName": "ERROR_SHARE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IMPACT_SCORE",
              "displayName": "IMPACT_SCORE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SIGNAL_SCORE",
              "displayName": "SIGNAL_SCORE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TOTAL_SALES",
              "displayName": "TOTAL_SALES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "BIAS",
              "displayName": "BIAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "WAPE",
              "displayName": "WAPE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        240,
        832
      ],
      "id": "207d386a-87dd-4629-b3b8-7f2f82e18e8d",
      "name": "Insert row"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "zivYLI1PlIMWk3fK",
          "mode": "list",
          "cachedResultName": "clientes problematicos",
          "cachedResultUrl": "/projects/9axjLTcJCvAcwxP1/datatables/zivYLI1PlIMWk3fK"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "CUSTID",
              "keyValue": "={{ $json.CUSTID }}"
            },
            {
              "keyName": "PRDID",
              "keyValue": "={{ $json.PRDID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        240,
        576
      ],
      "id": "dfd1ff40-91aa-4634-8e90-82b371de2000",
      "name": "Delete row(s)",
      "executeOnce": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "P9K8K4aE9VH0yVxE",
          "mode": "list",
          "cachedResultUrl": "/workflow/P9K8K4aE9VH0yVxE",
          "cachedResultName": "normalizacion 1.1 y 1.2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1264,
        432
      ],
      "name": "Call normalizacion 1.1 y 1.2",
      "id": "0c447d8d-1cb8-4696-ba5f-2ecb6ea8d8a9"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jLKrr1l2GKVl6fJY",
          "mode": "list",
          "cachedResultUrl": "/workflow/jLKrr1l2GKVl6fJY",
          "cachedResultName": "calculo de impacto 2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -848,
        640
      ],
      "name": "Call calculo de impacto 2",
      "id": "7733d0b9-afa4-4a8b-95ff-0a1369c0180a"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "u59ywUfqcyy2xKzc",
          "mode": "list",
          "cachedResultUrl": "/workflow/u59ywUfqcyy2xKzc",
          "cachedResultName": "calculo de señal"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -896,
        176
      ],
      "name": "Call calculo de señal",
      "id": "19bd4381-b920-490d-9654-b3c04cd6bee6"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "YV6RAVPW84DWicjA",
          "mode": "list",
          "cachedResultName": "clientes clasificados",
          "cachedResultUrl": "/projects/9axjLTcJCvAcwxP1/datatables/YV6RAVPW84DWicjA"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FINAL_SCORE": "={{ $json.FINAL_SCORE }}",
            "TOTAL_SALES": "={{ $json.TOTAL_SALES }}",
            "CUSTID": "={{ $json.CUSTID }}",
            "PRDID": "={{ $json.PRDID }}",
            "REGION": "={{ $json.REGION }}",
            "STATUS": "={{ $json.STATUS }}",
            "STRATEGY": "={{ $json.STRATEGY }}",
            "JUSTIFICATION": "={{ $json.JUSTIFICATION }}",
            "ERROR_SHARE": "={{ $json.ERROR_SHARE }}",
            "IMPACT_SCORE": "={{ $json.IMPACT_SCORE }}",
            "SIGNAL_SCORE": "={{ $json.SIGNAL_SCORE }}",
            "BIAS": "={{ $json.BIAS }}",
            "WAPE": "={{ $json.WAPE }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "CUSTID",
              "displayName": "CUSTID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PRDID",
              "displayName": "PRDID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "REGION",
              "displayName": "REGION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "STRATEGY",
              "displayName": "STRATEGY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "FINAL_SCORE",
              "displayName": "FINAL_SCORE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "JUSTIFICATION",
              "displayName": "JUSTIFICATION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ERROR_SHARE",
              "displayName": "ERROR_SHARE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IMPACT_SCORE",
              "displayName": "IMPACT_SCORE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SIGNAL_SCORE",
              "displayName": "SIGNAL_SCORE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TOTAL_SALES",
              "displayName": "TOTAL_SALES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "BIAS",
              "displayName": "BIAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "WAPE",
              "displayName": "WAPE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -32,
        336
      ],
      "id": "a2b8384d-d507-4bd0-9a74-6435b542ffa9",
      "name": "Insert row2"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "YV6RAVPW84DWicjA",
          "mode": "list",
          "cachedResultName": "clientes clasificados",
          "cachedResultUrl": "/projects/9axjLTcJCvAcwxP1/datatables/YV6RAVPW84DWicjA"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "CUSTID",
              "keyValue": "={{ $json.CUSTID }}"
            },
            {
              "keyName": "PRDID",
              "keyValue": "={{ $json.PRDID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "c23926b5-ae59-43f3-832a-3e84605fda91",
      "name": "Delete row(s)1",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.dataset }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "70k"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2640,
        688
      ],
      "id": "3c9e3ff3-4da1-4f5d-9867-8f301c0d4040",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YlliA6g1EcMRYRSj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.propuesta }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "4k"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2640,
        864
      ],
      "id": "099af5be-4e70-4068-9c0a-c42233f26922",
      "name": "Download file4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YlliA6g1EcMRYRSj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2416,
        768
      ],
      "id": "04af6b40-e38b-415f-8ff2-3e651d967f33",
      "name": "Merge3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "iniciar-clasificacion1",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization, Accept"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "http://localhost:5173"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3184,
        784
      ],
      "id": "8d9f7cce-fdeb-4bfc-8758-187eb62fb739",
      "name": "iniciar-clasificacion",
      "webhookId": "559ce6e4-a48b-46d8-8646-ec7dd28020a8"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        448,
        832
      ],
      "id": "cf593c6b-a051-435f-a45c-00aaed1edc26",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "gbDmDcfLqLz1rdHQ",
          "mode": "list",
          "cachedResultName": "archivos",
          "cachedResultUrl": "/projects/9axjLTcJCvAcwxP1/datatables/gbDmDcfLqLz1rdHQ"
        },
        "matchType": "allConditions",
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -3008,
        784
      ],
      "id": "2463ff03-800b-48be-93e1-dd6f9a0b56d8",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos todas las filas de la tabla\nconst filas = $input.all();\n\n// 2. Verificamos que haya al menos 2 registros para evitar errores\nif (filas.length < 2) {\n  throw new Error(\"No hay suficientes archivos en la base de datos.\");\n}\n\n// 3. Ordenamos las filas de mayor a menor basándonos en la columna 'id'\nfilas.sort((a, b) => b.json.id - a.json.id);\n\n// 4. Devolvemos 1 sola fila con dos \"columnas\" independientes \n// usando la propiedad 'archivo' que vi en tu captura\nreturn [\n  {\n    json: {\n      dataset: filas[1].json.archivo,\n      propuesta: filas[0].json.archivo\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2848,
        784
      ],
      "id": "e31c4a95-8265-4dc9-b292-4f512d24002f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3184,
        1008
      ],
      "id": "219bf35a-8cb3-4895-8f65-de71044ffbab",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Call normalizacion 1.1 y 1.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "leer documentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript9": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete row(s)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "leer documentos": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call normalizacion 1.1 y 1.2": {
      "main": [
        [
          {
            "node": "Call calculo de impacto 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call calculo de señal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call calculo de impacto 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call calculo de señal": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file4": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "leer documentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iniciar-clasificacion": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download file4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7780a514-db4a-4c13-abbc-8879509bb9bc",
  "activeVersionId": null,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-02-15T00:41:16.111Z",
      "createdAt": "2026-02-15T00:41:16.111Z",
      "role": "workflow:owner",
      "workflowId": "zhWQh2Cq4j0RsWg0FX9sh",
      "projectId": "9axjLTcJCvAcwxP1"
    }
  ],
  "activeVersion": null,
  "tags": []
}