workflow/Ventas por cliente consolidadas.json
{
  "updatedAt": "2026-02-15T00:37:23.662Z",
  "createdAt": "2026-02-15T00:31:15.354Z",
  "id": "qfnnCtVJvRBWIQRO",
  "name": "Ventas por cliente consolidadas",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "valor",
              "renameField": true,
              "outputFieldName": "CanalVenta"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        160,
        980
      ],
      "id": "b1a61f60-24c0-42d9-9fa2-0d5808127fbe",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "valor"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        160,
        -220
      ],
      "id": "92b4a943-211b-43f3-bb71-f9df791460be",
      "name": "VVMM"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "average",
              "field": "valor"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        160,
        -20
      ],
      "id": "39fb8fcc-03ab-4dd2-af04-ec94dc7c5f6d",
      "name": "OTIF"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "average",
              "field": "valor"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        160,
        180
      ],
      "id": "2150a6f4-055d-4c63-93ab-bdcd5ba099be",
      "name": "AOV"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "valor"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        160,
        580
      ],
      "id": "fb8d2000-934f-429b-8d4f-4aadb8a4ae8e",
      "name": "QTY"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "average",
              "field": "valor"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        -60,
        780
      ],
      "id": "e69383e3-1d7e-4877-ab4f-65b278a42635",
      "name": "DMA"
    },
    {
      "parameters": {
        "jsCode": "const strings = $input.first().json.CanalVenta;\n\nconst groupedByFirstLetter = strings.reduce((acc, currentString) => {\n  const firstLetter = currentString[0].toLowerCase(); // Usar la primera letra como clave, en minúsculas para agrupar 'Apple' y 'apple'\n  if (!acc[firstLetter]) {\n    acc[firstLetter] = []; // Si la clave no existe, inicializa un nuevo array\n  }\n  acc[firstLetter].push(currentString); // Agrega el string al array correspondiente\n  return acc;\n}, {}); \n\nconst groupedStringsObject = groupedByFirstLetter;\n\nconst counts = {}; \nlet mostFrequentString = null;\nlet maxCount = 0;\n\nfor (const key in groupedStringsObject) {\n  if (Object.hasOwnProperty.call(groupedStringsObject, key)) {\n    const stringArray = groupedStringsObject[key];\n\n    // Iterar sobre cada string dentro del array\n    stringArray.forEach(str => {\n      // Incrementar el contador para el string actual\n      counts[str] = (counts[str] || 0) + 1;\n\n      // Si el contador actual es mayor que el máximo, actualizar\n      if (counts[str] > maxCount) {\n        maxCount = counts[str];\n        mostFrequentString = str;\n      }\n    });\n  }\n}\n\n\nreturn {kpi:{\n  kpi: \"CTP\",\n    valor: mostFrequentString\n}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        980
      ],
      "id": "aa2e9296-46b0-48af-9f67-53d67506a7cf",
      "name": "CTP"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "average",
              "field": "valor"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        160,
        1180
      ],
      "id": "f66bddb7-f02a-41bc-8e41-ba41ca22ba82",
      "name": "TME"
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        600,
        380
      ],
      "id": "58f7ec21-5438-4a59-a4a8-0393ccd6dc09",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "64225db6-e7e6-4075-b315-8b1efe24255e",
              "name": "kpi",
              "value": "={\n  \"kpi\": \"VVMM\",\n  \"valor\":\"{{ $json.sum_valor.round() }}\"\n}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        -220
      ],
      "id": "c10ef15b-ee52-4ac6-9833-1c9408affa5f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3405178d-f82b-408e-bbec-da28fec436b6",
              "name": "kpi",
              "value": "={   \"kpi\": \"OTIF\",   \"valor\":\"{{ $json.average_valor.round(2) }}\" }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        -20
      ],
      "id": "7a5b4895-a837-455a-ba27-5c2600673ff7",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2205b00c-6c9d-419a-90ce-db2db0293a25",
              "name": "kpi",
              "value": "={   \"kpi\": \"AOV\",   \"valor\":\"{{ $json.average_valor.round() }}\" }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        180
      ],
      "id": "596107b2-b58c-4773-987a-81b38fa95890",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c2e361f-66ab-499a-99c7-7875b4b2ce30",
              "name": "kpi",
              "value": "={   \"kpi\": \"QTY\",   \"valor\":\"{{ $json.sum_valor }}\" }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        580
      ],
      "id": "4c056169-d091-4cde-8c39-222887aab91b",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07969489-8e1e-4ce3-825a-111b6360d184",
              "name": "DMA",
              "value": "={{ ($json.average_valor * 100) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        780
      ],
      "id": "4b1f77b2-b2b5-4ab8-9b11-f2ba2e8fe259",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf6c9b19-0628-49a6-9f50-f4bcc40edd3c",
              "name": "kpi",
              "value": "={   \"kpi\": \"TME\",   \"valor\":\"{{ $json.average_valor }}\" }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        1180
      ],
      "id": "4e6ddce9-5136-434f-b44a-b6a3bb459665",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9508f0a-3bb8-413d-a43c-e247ecc07bee",
              "name": "kpi",
              "value": "={   \"kpi\": \"DMA\",   \"valor\":\"{{ $json.DMA.round(2) }}\" }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        780
      ],
      "id": "b13ec4db-a187-4135-9274-914fb5b8d9d8",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g",
          "mode": "list",
          "cachedResultName": "kpis de ventas por cliente",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "VVMM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "fecha",
              "lookupValue": "01/02/2025"
            },
            {
              "lookupColumn": "ClienteID",
              "lookupValue": "={{ $json.ClienteID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -60,
        -220
      ],
      "id": "8e52d2c2-0956-4351-a8d6-2f612fb34e39",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g",
          "mode": "list",
          "cachedResultName": "kpis de ventas por cliente",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1643267292,
          "mode": "list",
          "cachedResultName": "OTIF",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g/edit#gid=1643267292"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "fecha",
              "lookupValue": "01/02/2025"
            },
            {
              "lookupColumn": "ClienteID",
              "lookupValue": "={{ $json.ClienteID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -60,
        -20
      ],
      "id": "8a0c20d4-d505-4e92-b67e-5578c3cbeac0",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g",
          "mode": "list",
          "cachedResultName": "kpis de ventas por cliente",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1219776711,
          "mode": "list",
          "cachedResultName": "AOV",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g/edit#gid=1219776711"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "fecha",
              "lookupValue": "01/02/2025"
            },
            {
              "lookupColumn": "ClienteID",
              "lookupValue": "={{ $json.ClienteID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -60,
        180
      ],
      "id": "66849d25-aa11-4dde-b72c-ea2233cf345d",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g",
          "mode": "list",
          "cachedResultName": "kpis de ventas por cliente",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 854245972,
          "mode": "list",
          "cachedResultName": "QTY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g/edit#gid=854245972"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "fecha",
              "lookupValue": "01/02/2025"
            },
            {
              "lookupColumn": "ClienteID",
              "lookupValue": "={{ $json.ClienteID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -60,
        580
      ],
      "id": "c85130ac-d2eb-414e-8a4a-eeeefcdb5a64",
      "name": "Get row(s) in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g",
          "mode": "list",
          "cachedResultName": "kpis de ventas por cliente",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1788374855,
          "mode": "list",
          "cachedResultName": "DMA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g/edit#gid=1788374855"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "fecha",
              "lookupValue": "01/02/2025"
            },
            {
              "lookupColumn": "ClienteID",
              "lookupValue": "={{ $json.ClienteID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -280,
        780
      ],
      "id": "63620772-af2c-4f7e-be33-339342be12f8",
      "name": "Get row(s) in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g",
          "mode": "list",
          "cachedResultName": "kpis de ventas por cliente",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1393527217,
          "mode": "list",
          "cachedResultName": "CTP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g/edit#gid=1393527217"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "fecha",
              "lookupValue": "01/02/2025"
            },
            {
              "lookupColumn": "ClienteID",
              "lookupValue": "={{ $json.ClienteID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -60,
        980
      ],
      "id": "726c37d2-80dd-42e9-a121-81ce55fe579b",
      "name": "Get row(s) in sheet6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g",
          "mode": "list",
          "cachedResultName": "kpis de ventas por cliente",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 929379655,
          "mode": "list",
          "cachedResultName": "TME",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o9-ZAtpGicbqzQx03Sr5kEi9GmLX20BuRipxqROW54g/edit#gid=929379655"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "fecha",
              "lookupValue": "01/02/2025"
            },
            {
              "lookupColumn": "ClienteID",
              "lookupValue": "={{ $json.ClienteID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -60,
        1180
      ],
      "id": "67f1a870-19a6-4422-8863-c2194318e78f",
      "name": "Get row(s) in sheet7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1s1d5I1W6iT3l7wNN-v1Zk3J66t37FvucpODoOvR43JU",
          "mode": "list",
          "cachedResultName": "Kpis consolidados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s1d5I1W6iT3l7wNN-v1Zk3J66t37FvucpODoOvR43JU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 173760484,
          "mode": "list",
          "cachedResultName": "Ventas por cliente",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s1d5I1W6iT3l7wNN-v1Zk3J66t37FvucpODoOvR43JU/edit#gid=173760484"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "KPI": "={{ $json.kpi.kpi }}",
            "Valor": "={{ $json.kpi.valor }}",
            "Fecha": "=01/02/2025",
            "ClienteID": "={{ $('When Executed by Another Workflow').item.json.ClienteID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "KPI",
              "displayName": "KPI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ClienteID",
              "displayName": "ClienteID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        860,
        480
      ],
      "id": "4a05128e-0438-4814-97be-d17e134bc565",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "ClienteID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -720,
        580
      ],
      "id": "6fe8f3c0-782d-4324-a2fd-bed4e1859fce",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "CTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VVMM": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OTIF": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AOV": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QTY": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DMA": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CTP": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "TME": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "VVMM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "OTIF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "AOV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet4": {
      "main": [
        [
          {
            "node": "QTY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet5": {
      "main": [
        [
          {
            "node": "DMA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet6": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet7": {
      "main": [
        [
          {
            "node": "TME",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "ad762743-88ef-43c2-8c04-4a1205af731e",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-15T00:31:15.354Z",
      "createdAt": "2026-02-15T00:31:15.354Z",
      "role": "workflow:owner",
      "workflowId": "qfnnCtVJvRBWIQRO",
      "projectId": "9axjLTcJCvAcwxP1"
    }
  ],
  "activeVersion": null,
  "tags": []
}