workflow/Ventas globales consolidadas por cliente.json
{
  "updatedAt": "2025-07-23T06:45:13.000Z",
  "createdAt": "2025-07-23T06:36:30.702Z",
  "id": "7UavLCzt6Cw0j4Sq",
  "name": "Ventas globales consolidadas por cliente",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -460,
        -140
      ],
      "id": "6f7242dd-3a2e-4e68-a583-f959d93f1fca",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        -160
      ],
      "id": "018b10d5-8a57-4e66-93ad-5388a1c65bdd",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "k4XELEHpQN3pLgOs",
          "mode": "list",
          "cachedResultName": "Ventas por cliente consolidadas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ClienteID": "={{ $json.ClienteID }}"
          },
          "matchingColumns": [
            "ClienteID"
          ],
          "schema": [
            {
              "id": "ClienteID",
              "displayName": "ClienteID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        220,
        -80
      ],
      "id": "29b8fecd-f644-4640-ad14-b58427965300",
      "name": "Execute Workflow",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        400,
        -40
      ],
      "id": "b1fe5fcd-a1f7-4acd-a543-b0b5b7cc969c",
      "name": "Wait",
      "webhookId": "162010b4-2e08-4020-833e-d86c32f0052f"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno",
          "mode": "list",
          "cachedResultName": "Base de datos sintetica arreglada",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1044932044,
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QEpBfdKvfiagRztrNz7EJN9Xm__hNVVqJMozv_dRSno/edit#gid=1044932044"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -260,
        -160
      ],
      "id": "722fd362-bc73-4d5a-9ea6-95e2ddc97027",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CWI2Yxp3gWinrW8v",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "e1635821-555e-47d4-93eb-88985d064ae6",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-07-23T06:36:30.716Z",
      "createdAt": "2025-07-23T06:36:30.716Z",
      "role": "workflow:owner",
      "workflowId": "7UavLCzt6Cw0j4Sq",
      "projectId": "cEfHDRqL69JgpIBq"
    }
  ],
  "activeVersion": null,
  "tags": []
}